{
  "name": "BLENDER_ADDITIVES",
  "cleanFlowPseudoSensor": "REMOTE_BLENDER_SELECTED_BASE_RATE",
  "dirtyFlowPseudoSensor": "",
  "simulatedCleanFlowPseudoSensor": "",
  "stepTotals": [],
  "stageTotals": [],
  "stageControl": {
    "type": "blenderStageControl",
    "stepTotal": "COMBINED_DISCHARGE_STEP_TOTAL",
    "stageTotal": "COMBINED_DISCHARGE_STAGE_TOTAL",
    "remoteStageStateSensor": "BLENDER_TUB.STAGE_STATE",
    "remoteStageCurrentStepSensor": "BLENDER_TUB.CURRENT_STEP",
    "name": "blenderStageControl"
  },
  "additives": [
    {
      "absoluteDensity": 20.0,
      "bulkDensity": 9.0,
      "massStepTotal": "DRY_ADD_01.MASS_STEP_TOTAL",
      "massStageTotal": "DRY_ADD_01.MASS_STAGE_TOTAL",
      "volumetricStepTotal": "DRY_ADD_01.VOLUMETRIC_STEP_TOTAL",
      "volumetricStageTotal": "DRY_ADD_01.VOLUMETRIC_STAGE_TOTAL",
      "type": "additiveSource",
      "stepTotals": [],
      "stageTotals": [],
      "registryStepTotals": [],
      "registryStageTotals": [],
      "alarmConstraints": [],
      "name": "DRY_ADD_01_SOURCE",
      "levelSensor": ""
    },
    {
      "absoluteDensity": 20.0,
      "bulkDensity": 9.0,
      "massStepTotal": "DRY_ADD_02.MASS_STEP_TOTAL",
      "massStageTotal": "DRY_ADD_02.MASS_STAGE_TOTAL",
      "volumetricStepTotal": "DRY_ADD_02.VOLUMETRIC_STEP_TOTAL",
      "volumetricStageTotal": "DRY_ADD_02.VOLUMETRIC_STAGE_TOTAL",
      "type": "additiveSource",
      "stepTotals": [],
      "stageTotals": [],
      "registryStepTotals": [],
      "registryStageTotals": [],
      "alarmConstraints": [],
      "name": "DRY_ADD_02_SOURCE",
      "levelSensor": ""
    }
  ],
  "augerControls": [
    {
      "additiveSource": "DRY_ADD_01_SOURCE",
      "augerControlType": "concentration",
      "enabled": true,
      "deliveryRate": 0.0062334961257874966,
      "efficiency": 1.0,
      "minRpm": 0,
      "maxRpm": 600,
      "rpmSensor": "RPM_DA_01",
      "rateDivisor": 1.0,
      "massStepTotal": "",
      "massStageTotal": "",
      "volumetricStepTotal": "",
      "volumetricStageTotal": "",
      "cleanFlowPseudoSensor": "SELECTED_CLEAN_RATE_DRY_ADD_01",
      "cleanFlowTimeout": 120000,
      "pidControl": "DRY_ADD_01",
      "minControlOutput": 6000,
      "maxControlOutput": 3000,
      "autoModeSwitch": {
        "name": "Dry add 1 auto/manual",
        "sensor": "SELECTED_DA01_AUTO",
        "activeState": true,
        "onThreshold": 1.0,
        "onAlarmStayCurrent": false,
        "enableSwitch": {
          "name": "enableDa1AutoManualSwitch",
          "sensor": "SELECTED_DA01_OFF",
          "activeState": false,
          "onThreshold": 0.0
        }
      },
      "manualModeSwitch": {
        "name": "manualSwitchDa01",
        "sensor": "SELECTED_DA01_AUTO",
        "activeState": false,
        "onThreshold": 0.0,
        "onAlarmStayCurrent": false,
        "enableSwitch": {
          "name": "enableDa1AutoManualSwitch",
          "sensor": "SELECTED_DA01_OFF",
          "activeState": false,
          "onThreshold": 0.0
        }
      },
      "runStopModeSwitch": {
        "name": "runStopModeSwitch",
        "sensor": "SELECTED_DA01_OFF",
        "activeState": false,
        "onThreshold": 1.0,
        "onAlarmStayCurrent": false
      },
      "inputSwitch": {
        "name": "Input Control Switch",
        "sensor": "Transfer to Local Control",
        "activeState": true,
        "onThreshold": 1.0,
        "offThreshold": 0.0
      },
      "manualEncoder": {
        "encoderInputSensor": "COUNT_DA_SPEED_CTRL_01_A",
        "pulsesPerTurn": 1024,
        "revolutionsForFullRange": 5,
        "invertDirection": false,
        "minChange": 0
      },
      "controlInput": {
        "sensor": "SW_DA01_SPEED_PERCENT",
        "minControlInput": 0,
        "maxControlInput": 100
      },
      "stateLED": {
        "primaryOutputChannel": "BOOL_DA_STATE_GREEN_01",
        "secondaryOutputChannel": "BOOL_DA_STATE_RED_01",
        "blinkDuration": 200
      },
      "controlOutput": "DA_SPEED_01",
      "controlZeroValue": 6000,
      "stateForcedToZeroInStopMode": true,
      "disableAutoModeAlarmConstraint": "Bypass Valve Open or Discharge Valve Closed",
      "stopConstraint": "Force All Idle",
      "type": "auger",
      "stepTotals": [
        "DRY_ADD_01.MASS_STEP_TOTAL",
        "DRY_ADD_01.VOLUMETRIC_STEP_TOTAL"
      ],
      "stageTotals": [
        "DRY_ADD_01.MASS_STAGE_TOTAL",
        "DRY_ADD_01.VOLUMETRIC_STAGE_TOTAL"
      ],
      "registryStepTotals": [],
      "registryStageTotals": [],
      "alarmConstraints": [],
      "name": "DRY_ADD_01",
      "resetSetPointWithEngineOff": true,
      "directionTransitionDelayTime": 0,
      "minCleanFlow": 0.0
    },
    {
      "additiveSource": "DRY_ADD_02_SOURCE",
      "augerControlType": "concentration",
      "enabled": true,
      "deliveryRate": 0.0062334961257874966,
      "efficiency": 1.0,
      "minRpm": 0,
      "maxRpm": 600,
      "rpmSensor": "RPM_DA_02",
      "rateDivisor": 1.0,
      "massStepTotal": "",
      "massStageTotal": "",
      "volumetricStepTotal": "",
      "volumetricStageTotal": "",
      "cleanFlowPseudoSensor": "SELECTED_CLEAN_RATE_DRY_ADD_02",
      "cleanFlowTimeout": 120000,
      "pidControl": "DRY_ADD_02",
      "minControlOutput": 6000,
      "maxControlOutput": 3000,
      "autoModeSwitch": {
        "name": "Dry add 2 auto/manual",
        "sensor": "SELECTED_DA02_AUTO",
        "activeState": true,
        "onThreshold": 1.0,
        "onAlarmStayCurrent": false,
        "enableSwitch": {
          "name": "enableDa2AutoManualSwitch",
          "sensor": "SELECTED_DA02_OFF",
          "activeState": false,
          "onThreshold": 0.0
        }
      },
      "manualModeSwitch": {
        "name": "manualSwitchDa02",
        "sensor": "SELECTED_DA02_AUTO",
        "activeState": false,
        "onThreshold": 0.0,
        "onAlarmStayCurrent": false,
        "enableSwitch": {
          "name": "enableDa2AutoManualSwitch",
          "sensor": "SELECTED_DA02_OFF",
          "activeState": false,
          "onThreshold": 0.0
        }
      },
      "runStopModeSwitch": {
        "name": "runStopModeSwitch",
        "sensor": "SELECTED_DA02_OFF",
        "activeState": false,
        "onThreshold": 1.0,
        "onAlarmStayCurrent": false
      },
      "inputSwitch": {
        "name": "Input Control Switch",
        "sensor": "Transfer to Local Control",
        "activeState": true,
        "onThreshold": 1.0,
        "offThreshold": 0.0
      },
      "manualEncoder": {
        "encoderInputSensor": "COUNT_DA_SPEED_CTRL_02_A",
        "pulsesPerTurn": 1024,
        "revolutionsForFullRange": 5,
        "invertDirection": false,
        "minChange": 0
      },
      "controlInput": {
        "sensor": "SW_DA02_SPEED_PERCENT",
        "minControlInput": 0,
        "maxControlInput": 100
      },
      "stateLED": {
        "primaryOutputChannel": "BOOL_DA_STATE_GREEN_02",
        "secondaryOutputChannel": "BOOL_DA_STATE_RED_02",
        "blinkDuration": 200
      },
      "controlOutput": "DA_SPEED_02",
      "controlZeroValue": 6000,
      "stateForcedToZeroInStopMode": true,
      "disableAutoModeAlarmConstraint": "Bypass Valve Open or Discharge Valve Closed",
      "stopConstraint": "Force All Idle",
      "type": "auger",
      "stepTotals": [
        "DRY_ADD_02.MASS_STEP_TOTAL",
        "DRY_ADD_02.VOLUMETRIC_STEP_TOTAL"
      ],
      "stageTotals": [
        "DRY_ADD_02.MASS_STAGE_TOTAL",
        "DRY_ADD_02.VOLUMETRIC_STAGE_TOTAL"
      ],
      "registryStepTotals": [],
      "registryStageTotals": [],
      "alarmConstraints": [],
      "name": "DRY_ADD_02",
      "resetSetPointWithEngineOff": true,
      "directionTransitionDelayTime": 0,
      "minCleanFlow": 0.0
    }
  ],
  "chemPumpControls": [
    {
      "pumpFlow": "PSEUDO_CALC_FLOW_LA_PUMP_01",
      "minRpm": 60,
      "maxRpm": 1000,
      "cleanFlowPseudoSensor": "SELECTED_CLEAN_RATE_LA_PUMP_01",
      "cleanFlowTimeout": 120000,
      "pidControl": "LA_PUMP_01",
      "minControlOutput": 6000,
      "maxControlOutput": 3500,
      "autoModeSwitch": {
        "name": "autoModeSwitch",
        "sensor": "SELECTED_LA01_AUTO",
        "activeState": true,
        "onThreshold": 1.0,
        "onAlarmStayCurrent": false,
        "enableSwitch": {
          "name": "enableLa01AutoManualSwitch",
          "sensor": "SELECTED_LA01_OFF",
          "activeState": false,
          "onThreshold": 0.0
        }
      },
      "manualModeSwitch": {
        "name": "manualSwitchLa01",
        "sensor": "SELECTED_LA01_AUTO",
        "activeState": false,
        "onThreshold": 0.0,
        "onAlarmStayCurrent": false,
        "enableSwitch": {
          "name": "enableLa01AutoManualSwitch",
          "sensor": "SELECTED_LA01_OFF",
          "activeState": false,
          "onThreshold": 0.0
        }
      },
      "runStopModeSwitch": {
        "name": "runStopModeSwitch",
        "sensor": "SELECTED_LA01_OFF",
        "activeState": false,
        "onThreshold": 1.0,
        "onAlarmStayCurrent": false
      },
      "inputSwitch": {
        "name": "Input Control Switch",
        "sensor": "Transfer to Local Control",
        "activeState": true,
        "onThreshold": 1.0,
        "offThreshold": 0.0
      },
      "manualEncoder": {
        "encoderInputSensor": "COUNT_LA_SPEED_CTRL_01_A",
        "pulsesPerTurn": 1024,
        "revolutionsForFullRange": 5,
        "invertDirection": false,
        "minChange": 0
      },
      "controlInput": {
        "sensor": "SW_LA01_SPEED_PERCENT",
        "minControlInput": 0,
        "maxControlInput": 100
      },
      "stateLED": {
        "primaryOutputChannel": "BOOL_LA_PUMP_STATE_GREEN_01",
        "secondaryOutputChannel": "BOOL_LA_PUMP_STATE_RED_01",
        "blinkDuration": 200
      },
      "controlOutput": "LA_PUMP_01",
      "controlZeroValue": 6000,
      "stateForcedToZeroInStopMode": true,
      "stopConstraint": "Force All Idle",
      "type": "chemPump",
      "stepTotals": [
        "CALC_FLOW_LA_PUMP_01_STEP_TOTAL",
        "CALC_RPM_FLOW_LA_PUMP_01_STEP_TOTAL",
        "LA_PUMP_01_STEP_TOTAL"
      ],
      "stageTotals": [
        "CALC_FLOW_LA_PUMP_01_STAGE_TOTAL",
        "CALC_RPM_FLOW_LA_PUMP_01_STAGE_TOTAL",
        "LA_PUMP_01_STAGE_TOTAL"
      ],
      "registryStepTotals": [],
      "registryStageTotals": [],
      "alarmConstraints": [],
      "name": "LA_PUMP_01",
      "resetSetPointWithEngineOff": true,
      "directionTransitionDelayTime": 0,
      "minCleanFlow": 0.0,
      "initialSetpoint": 0.0
    },
    {
      "pumpFlow": "PSEUDO_CALC_FLOW_LA_PUMP_02",
      "minRpm": 60,
      "maxRpm": 1000,
      "cleanFlowPseudoSensor": "SELECTED_CLEAN_RATE_LA_PUMP_02",
      "cleanFlowTimeout": 120000,
      "pidControl": "LA_PUMP_02",
      "minControlOutput": 6000,
      "maxControlOutput": 3500,
      "autoModeSwitch": {
        "name": "autoModeSwitch",
        "sensor": "SELECTED_LA02_AUTO",
        "activeState": true,
        "onThreshold": 1.0,
        "onAlarmStayCurrent": false,
        "enableSwitch": {
          "name": "enableLa02AutoManualSwitch",
          "sensor": "SELECTED_LA02_OFF",
          "activeState": false,
          "onThreshold": 0.0
        }
      },
      "manualModeSwitch": {
        "name": "manualSwitchLa02",
        "sensor": "SELECTED_LA02_AUTO",
        "activeState": false,
        "onThreshold": 0.0,
        "onAlarmStayCurrent": false,
        "enableSwitch": {
          "name": "enableLa02AutoManualSwitch",
          "sensor": "SELECTED_LA02_OFF",
          "activeState": false,
          "onThreshold": 0.0
        }
      },
      "runStopModeSwitch": {
        "name": "runStopModeSwitch",
        "sensor": "SELECTED_LA02_OFF",
        "activeState": false,
        "onThreshold": 1.0,
        "onAlarmStayCurrent": false
      },
      "inputSwitch": {
        "name": "Input Control Switch",
        "sensor": "Transfer to Local Control",
        "activeState": true,
        "onThreshold": 1.0,
        "offThreshold": 0.0
      },
      "manualEncoder": {
        "encoderInputSensor": "COUNT_LA_SPEED_CTRL_02_A",
        "pulsesPerTurn": 1024,
        "revolutionsForFullRange": 5,
        "invertDirection": false,
        "minChange": 0
      },
      "controlInput": {
        "sensor": "SW_LA02_SPEED_PERCENT",
        "minControlInput": 0,
        "maxControlInput": 100
      },
      "stateLED": {
        "primaryOutputChannel": "BOOL_LA_PUMP_STATE_GREEN_02",
        "secondaryOutputChannel": "BOOL_LA_PUMP_STATE_RED_02",
        "blinkDuration": 200
      },
      "controlOutput": "LA_PUMP_02",
      "controlZeroValue": 6000,
      "stateForcedToZeroInStopMode": true,
      "stopConstraint": "Force All Idle",
      "type": "chemPump",
      "stepTotals": [
        "CALC_FLOW_LA_PUMP_02_STEP_TOTAL",
        "CALC_RPM_FLOW_LA_PUMP_02_STEP_TOTAL",
        "LA_PUMP_02_STEP_TOTAL"
      ],
      "stageTotals": [
        "CALC_FLOW_LA_PUMP_02_STAGE_TOTAL",
        "CALC_RPM_FLOW_LA_PUMP_02_STAGE_TOTAL",
        "LA_PUMP_02_STAGE_TOTAL"
      ],
      "registryStepTotals": [],
      "registryStageTotals": [],
      "alarmConstraints": [],
      "name": "LA_PUMP_02",
      "resetSetPointWithEngineOff": true,
      "directionTransitionDelayTime": 0,
      "minCleanFlow": 0.0,
      "initialSetpoint": 0.0
    },
    {
      "pumpFlow": "PSEUDO_CALC_FLOW_LA_PUMP_03",
      "minRpm": 60,
      "maxRpm": 1000,
      "cleanFlowPseudoSensor": "SELECTED_CLEAN_RATE_LA_PUMP_03",
      "cleanFlowTimeout": 120000,
      "pidControl": "LA_PUMP_03",
      "minControlOutput": 6000,
      "maxControlOutput": 3825,
      "autoModeSwitch": {
        "name": "autoModeSwitch",
        "sensor": "SELECTED_LA03_AUTO",
        "activeState": true,
        "onThreshold": 1.0,
        "onAlarmStayCurrent": false,
        "enableSwitch": {
          "name": "enableLa03AutoManualSwitch",
          "sensor": "SELECTED_LA03_OFF",
          "activeState": false,
          "onThreshold": 0.0
        }
      },
      "manualModeSwitch": {
        "name": "manualSwitchLa03",
        "sensor": "SELECTED_LA03_AUTO",
        "activeState": false,
        "onThreshold": 0.0,
        "onAlarmStayCurrent": false,
        "enableSwitch": {
          "name": "enableLa03AutoManualSwitch",
          "sensor": "SELECTED_LA03_OFF",
          "activeState": false,
          "onThreshold": 0.0
        }
      },
      "runStopModeSwitch": {
        "name": "runStopModeSwitch",
        "sensor": "SELECTED_LA03_OFF",
        "activeState": false,
        "onThreshold": 1.0,
        "onAlarmStayCurrent": false
      },
      "inputSwitch": {
        "name": "Input Control Switch",
        "sensor": "Transfer to Local Control",
        "activeState": true,
        "onThreshold": 1.0,
        "offThreshold": 0.0
      },
      "manualEncoder": {
        "encoderInputSensor": "COUNT_LA_SPEED_CTRL_03_A",
        "pulsesPerTurn": 1024,
        "revolutionsForFullRange": 5,
        "invertDirection": false,
        "minChange": 0
      },
      "controlInput": {
        "sensor": "SW_LA03_SPEED_PERCENT",
        "minControlInput": 0,
        "maxControlInput": 100
      },
      "stateLED": {
        "primaryOutputChannel": "BOOL_LA_PUMP_STATE_GREEN_03",
        "secondaryOutputChannel": "BOOL_LA_PUMP_STATE_RED_03",
        "blinkDuration": 200
      },
      "controlOutput": "LA_PUMP_03",
      "controlZeroValue": 6000,
      "stateForcedToZeroInStopMode": true,
      "stopConstraint": "Force All Idle",
      "type": "chemPump",
      "stepTotals": [
        "CALC_FLOW_LA_PUMP_03_STEP_TOTAL",
        "CALC_RPM_FLOW_LA_PUMP_03_STEP_TOTAL",
        "LA_PUMP_03_STEP_TOTAL"
      ],
      "stageTotals": [
        "CALC_FLOW_LA_PUMP_03_STAGE_TOTAL",
        "CALC_RPM_FLOW_LA_PUMP_03_STAGE_TOTAL",
        "LA_PUMP_03_STAGE_TOTAL"
      ],
      "registryStepTotals": [],
      "registryStageTotals": [],
      "alarmConstraints": [],
      "name": "LA_PUMP_03",
      "resetSetPointWithEngineOff": true,
      "directionTransitionDelayTime": 0,
      "minCleanFlow": 0.0,
      "initialSetpoint": 0.0
    },
    {
      "pumpFlow": "PSEUDO_CALC_FLOW_LA_PUMP_04",
      "minRpm": 60,
      "maxRpm": 1000,
      "cleanFlowPseudoSensor": "SELECTED_CLEAN_RATE_LA_PUMP_04",
      "cleanFlowTimeout": 120000,
      "pidControl": "LA_PUMP_04",
      "minControlOutput": 6000,
      "maxControlOutput": 3825,
      "autoModeSwitch": {
        "name": "autoModeSwitch",
        "sensor": "SELECTED_LA04_AUTO",
        "activeState": true,
        "onThreshold": 1.0,
        "onAlarmStayCurrent": false,
        "enableSwitch": {
          "name": "enableLa04AutoManualSwitch",
          "sensor": "SELECTED_LA04_OFF",
          "activeState": false,
          "onThreshold": 0.0
        }
      },
      "manualModeSwitch": {
        "name": "manualSwitchLa04",
        "sensor": "SELECTED_LA04_AUTO",
        "activeState": false,
        "onThreshold": 0.0,
        "onAlarmStayCurrent": false,
        "enableSwitch": {
          "name": "enableLa04AutoManualSwitch",
          "sensor": "SELECTED_LA04_OFF",
          "activeState": false,
          "onThreshold": 0.0
        }
      },
      "runStopModeSwitch": {
        "name": "runStopModeSwitch",
        "sensor": "SELECTED_LA04_OFF",
        "activeState": false,
        "onThreshold": 1.0,
        "onAlarmStayCurrent": false
      },
      "inputSwitch": {
        "name": "Input Control Switch",
        "sensor": "Transfer to Local Control",
        "activeState": true,
        "onThreshold": 1.0,
        "offThreshold": 0.0
      },
      "manualEncoder": {
        "encoderInputSensor": "COUNT_LA_SPEED_CTRL_04_A",
        "pulsesPerTurn": 1024,
        "revolutionsForFullRange": 5,
        "invertDirection": false,
        "minChange": 0
      },
      "controlInput": {
        "sensor": "SW_LA04_SPEED_PERCENT",
        "minControlInput": 0,
        "maxControlInput": 100
      },
      "stateLED": {
        "primaryOutputChannel": "BOOL_LA_PUMP_STATE_GREEN_04",
        "secondaryOutputChannel": "BOOL_LA_PUMP_STATE_RED_04",
        "blinkDuration": 200
      },
      "controlOutput": "LA_PUMP_04",
      "controlZeroValue": 6000,
      "stateForcedToZeroInStopMode": true,
      "stopConstraint": "Force All Idle",
      "type": "chemPump",
      "stepTotals": [
        "CALC_FLOW_LA_PUMP_04_STEP_TOTAL",
        "CALC_RPM_FLOW_LA_PUMP_04_STEP_TOTAL",
        "LA_PUMP_04_STEP_TOTAL"
      ],
      "stageTotals": [
        "CALC_FLOW_LA_PUMP_04_STAGE_TOTAL",
        "CALC_RPM_FLOW_LA_PUMP_04_STAGE_TOTAL",
        "LA_PUMP_04_STAGE_TOTAL"
      ],
      "registryStepTotals": [],
      "registryStageTotals": [],
      "alarmConstraints": [],
      "name": "LA_PUMP_04",
      "resetSetPointWithEngineOff": true,
      "directionTransitionDelayTime": 0,
      "minCleanFlow": 0.0,
      "initialSetpoint": 0.0
    },
    {
      "pumpFlow": "PSEUDO_CALC_FLOW_LA_PUMP_05",
      "minRpm": 60,
      "maxRpm": 1000,
      "cleanFlowPseudoSensor": "SELECTED_CLEAN_RATE_LA_PUMP_05",
      "cleanFlowTimeout": 120000,
      "pidControl": "LA_PUMP_05",
      "minControlOutput": 6000,
      "maxControlOutput": 3500,
      "autoModeSwitch": {
        "name": "autoModeSwitch",
        "sensor": "SELECTED_LA05_AUTO",
        "activeState": true,
        "onThreshold": 1.0,
        "onAlarmStayCurrent": false,
        "enableSwitch": {
          "name": "enableLa05AutoManualSwitch",
          "sensor": "SELECTED_LA05_OFF",
          "activeState": false,
          "onThreshold": 0.0
        }
      },
      "manualModeSwitch": {
        "name": "manualSwitchLa05",
        "sensor": "SELECTED_LA05_AUTO",
        "activeState": false,
        "onThreshold": 0.0,
        "onAlarmStayCurrent": false,
        "enableSwitch": {
          "name": "enableLa05AutoManualSwitch",
          "sensor": "SELECTED_LA05_OFF",
          "activeState": false,
          "onThreshold": 0.0
        }
      },
      "runStopModeSwitch": {
        "name": "runStopModeSwitch",
        "sensor": "SELECTED_LA05_OFF",
        "activeState": false,
        "onThreshold": 1.0,
        "onAlarmStayCurrent": false
      },
      "inputSwitch": {
        "name": "Input Control Switch",
        "sensor": "Transfer to Local Control",
        "activeState": true,
        "onThreshold": 1.0,
        "offThreshold": 0.0
      },
      "manualEncoder": {
        "encoderInputSensor": "COUNT_LA_SPEED_CTRL_05_A",
        "pulsesPerTurn": 1024,
        "revolutionsForFullRange": 5,
        "invertDirection": false,
        "minChange": 0
      },
      "controlInput": {
        "sensor": "SW_LA05_SPEED_PERCENT",
        "minControlInput": 0,
        "maxControlInput": 100
      },
      "stateLED": {
        "primaryOutputChannel": "BOOL_LA_PUMP_STATE_GREEN_05",
        "secondaryOutputChannel": "BOOL_LA_PUMP_STATE_RED_05",
        "blinkDuration": 200
      },
      "controlOutput": "LA_PUMP_05",
      "controlZeroValue": 6000,
      "stateForcedToZeroInStopMode": true,
      "stopConstraint": "Force All Idle",
      "type": "chemPump",
      "stepTotals": [
        "CALC_FLOW_LA_PUMP_05_STEP_TOTAL",
        "CALC_RPM_FLOW_LA_PUMP_05_STEP_TOTAL",
        "LA_PUMP_05_STEP_TOTAL"
      ],
      "stageTotals": [
        "CALC_FLOW_LA_PUMP_05_STAGE_TOTAL",
        "CALC_RPM_FLOW_LA_PUMP_05_STAGE_TOTAL",
        "LA_PUMP_05_STAGE_TOTAL"
      ],
      "registryStepTotals": [],
      "registryStageTotals": [],
      "alarmConstraints": [],
      "name": "LA_PUMP_05",
      "resetSetPointWithEngineOff": true,
      "directionTransitionDelayTime": 0,
      "minCleanFlow": 0.0,
      "initialSetpoint": 0.0
    },
    {
      "pumpFlow": "PSEUDO_CALC_FLOW_LA_PUMP_06",
      "minRpm": 60,
      "maxRpm": 1000,
      "cleanFlowPseudoSensor": "SELECTED_CLEAN_RATE_LA_PUMP_06",
      "cleanFlowTimeout": 120000,
      "pidControl": "LA_PUMP_06",
      "minControlOutput": 6000,
      "maxControlOutput": 3500,
      "autoModeSwitch": {
        "name": "autoModeSwitch",
        "sensor": "SELECTED_LA06_AUTO",
        "activeState": true,
        "onThreshold": 1.0,
        "onAlarmStayCurrent": false,
        "enableSwitch": {
          "name": "enableLa06AutoManualSwitch",
          "sensor": "SELECTED_LA06_OFF",
          "activeState": false,
          "onThreshold": 0.0
        }
      },
      "manualModeSwitch": {
        "name": "manualSwitchLa06",
        "sensor": "SELECTED_LA06_AUTO",
        "activeState": false,
        "onThreshold": 0.0,
        "onAlarmStayCurrent": false,
        "enableSwitch": {
          "name": "enableLa06AutoManualSwitch",
          "sensor": "SELECTED_LA06_OFF",
          "activeState": false,
          "onThreshold": 0.0
        }
      },
      "runStopModeSwitch": {
        "name": "runStopModeSwitch",
        "sensor": "SELECTED_LA06_OFF",
        "activeState": false,
        "onThreshold": 1.0,
        "onAlarmStayCurrent": false
      },
      "inputSwitch": {
        "name": "Input Control Switch",
        "sensor": "Transfer to Local Control",
        "activeState": true,
        "onThreshold": 1.0,
        "offThreshold": 0.0
      },
      "manualEncoder": {
        "encoderInputSensor": "COUNT_LA_SPEED_CTRL_06_A",
        "pulsesPerTurn": 1024,
        "revolutionsForFullRange": 5,
        "invertDirection": false,
        "minChange": 0
      },
      "controlInput": {
        "sensor": "SW_LA06_SPEED_PERCENT",
        "minControlInput": 0,
        "maxControlInput": 100
      },
      "stateLED": {
        "primaryOutputChannel": "BOOL_LA_PUMP_STATE_GREEN_06",
        "secondaryOutputChannel": "BOOL_LA_PUMP_STATE_RED_06",
        "blinkDuration": 200
      },
      "controlOutput": "LA_PUMP_06",
      "controlZeroValue": 6000,
      "stateForcedToZeroInStopMode": true,
      "stopConstraint": "Force All Idle",
      "type": "chemPump",
      "stepTotals": [
        "CALC_FLOW_LA_PUMP_06_STEP_TOTAL",
        "CALC_RPM_FLOW_LA_PUMP_06_STEP_TOTAL",
        "LA_PUMP_06_STEP_TOTAL"
      ],
      "stageTotals": [
        "CALC_FLOW_LA_PUMP_06_STAGE_TOTAL",
        "CALC_RPM_FLOW_LA_PUMP_06_STAGE_TOTAL",
        "LA_PUMP_06_STAGE_TOTAL"
      ],
      "registryStepTotals": [],
      "registryStageTotals": [],
      "alarmConstraints": [],
      "name": "LA_PUMP_06",
      "resetSetPointWithEngineOff": true,
      "directionTransitionDelayTime": 0,
      "minCleanFlow": 0.0,
      "initialSetpoint": 0.0
    },
    {
      "pumpFlow": "PSEUDO_CALC_FLOW_LA_PUMP_07",
      "minRpm": 60,
      "maxRpm": 1000,
      "cleanFlowPseudoSensor": "SELECTED_CLEAN_RATE_LA_PUMP_07",
      "cleanFlowTimeout": 120000,
      "pidControl": "LA_PUMP_07",
      "minControlOutput": 6000,
      "maxControlOutput": 3825,
      "autoModeSwitch": {
        "name": "autoModeSwitch",
        "sensor": "SELECTED_LA07_AUTO",
        "activeState": true,
        "onThreshold": 1.0,
        "onAlarmStayCurrent": false,
        "enableSwitch": {
          "name": "enableLa07AutoManualSwitch",
          "sensor": "SELECTED_LA07_OFF",
          "activeState": false,
          "onThreshold": 0.0
        }
      },
      "manualModeSwitch": {
        "name": "manualSwitchLa07",
        "sensor": "SELECTED_LA07_AUTO",
        "activeState": false,
        "onThreshold": 0.0,
        "onAlarmStayCurrent": false,
        "enableSwitch": {
          "name": "enableLa07AutoManualSwitch",
          "sensor": "SELECTED_LA07_OFF",
          "activeState": false,
          "onThreshold": 0.0
        }
      },
      "runStopModeSwitch": {
        "name": "runStopModeSwitch",
        "sensor": "SELECTED_LA07_OFF",
        "activeState": false,
        "onThreshold": 1.0,
        "onAlarmStayCurrent": false
      },
      "inputSwitch": {
        "name": "Input Control Switch",
        "sensor": "Transfer to Local Control",
        "activeState": true,
        "onThreshold": 1.0,
        "offThreshold": 0.0
      },
      "manualEncoder": {
        "encoderInputSensor": "COUNT_LA_SPEED_CTRL_07_A",
        "pulsesPerTurn": 1024,
        "revolutionsForFullRange": 5,
        "invertDirection": false,
        "minChange": 0
      },
      "controlInput": {
        "sensor": "SW_LA07_SPEED_PERCENT",
        "minControlInput": 0,
        "maxControlInput": 100
      },
      "stateLED": {
        "primaryOutputChannel": "BOOL_LA_PUMP_STATE_GREEN_07",
        "secondaryOutputChannel": "BOOL_LA_PUMP_STATE_RED_07",
        "blinkDuration": 200
      },
      "controlOutput": "LA_PUMP_07",
      "controlZeroValue": 6000,
      "stateForcedToZeroInStopMode": true,
      "stopConstraint": "Force All Idle",
      "type": "chemPump",
      "stepTotals": [
        "CALC_FLOW_LA_PUMP_07_STEP_TOTAL",
        "CALC_RPM_FLOW_LA_PUMP_07_STEP_TOTAL",
        "LA_PUMP_07_STEP_TOTAL"
      ],
      "stageTotals": [
        "CALC_FLOW_LA_PUMP_07_STAGE_TOTAL",
        "CALC_RPM_FLOW_LA_PUMP_07_STAGE_TOTAL",
        "LA_PUMP_07_STAGE_TOTAL"
      ],
      "registryStepTotals": [],
      "registryStageTotals": [],
      "alarmConstraints": [],
      "name": "LA_PUMP_07",
      "resetSetPointWithEngineOff": true,
      "directionTransitionDelayTime": 0,
      "minCleanFlow": 0.0,
      "initialSetpoint": 0.0
    },
    {
      "pumpFlow": "PSEUDO_CALC_FLOW_LA_PUMP_08",
      "minRpm": 60,
      "maxRpm": 1000,
      "cleanFlowPseudoSensor": "SELECTED_CLEAN_RATE_LA_PUMP_08",
      "cleanFlowTimeout": 120000,
      "pidControl": "LA_PUMP_08",
      "minControlOutput": 6000,
      "maxControlOutput": 3825,
      "autoModeSwitch": {
        "name": "autoModeSwitch",
        "sensor": "SELECTED_LA08_AUTO",
        "activeState": true,
        "onThreshold": 1.0,
        "onAlarmStayCurrent": false,
        "enableSwitch": {
          "name": "enableLa08AutoManualSwitch",
          "sensor": "SELECTED_LA08_OFF",
          "activeState": false,
          "onThreshold": 0.0
        }
      },
      "manualModeSwitch": {
        "name": "manualSwitchLa08",
        "sensor": "SELECTED_LA08_AUTO",
        "activeState": false,
        "onThreshold": 0.0,
        "onAlarmStayCurrent": false,
        "enableSwitch": {
          "name": "enableLa08AutoManualSwitch",
          "sensor": "SELECTED_LA08_OFF",
          "activeState": false,
          "onThreshold": 0.0
        }
      },
      "runStopModeSwitch": {
        "name": "runStopModeSwitch",
        "sensor": "SELECTED_LA08_OFF",
        "activeState": false,
        "onThreshold": 1.0,
        "onAlarmStayCurrent": false
      },
      "inputSwitch": {
        "name": "Input Control Switch",
        "sensor": "Transfer to Local Control",
        "activeState": true,
        "onThreshold": 1.0,
        "offThreshold": 0.0
      },
      "manualEncoder": {
        "encoderInputSensor": "COUNT_LA_SPEED_CTRL_08_A",
        "pulsesPerTurn": 1024,
        "revolutionsForFullRange": 5,
        "invertDirection": false,
        "minChange": 0
      },
      "controlInput": {
        "sensor": "SW_LA08_SPEED_PERCENT",
        "minControlInput": 0,
        "maxControlInput": 100
      },
      "stateLED": {
        "primaryOutputChannel": "BOOL_LA_PUMP_STATE_GREEN_08",
        "secondaryOutputChannel": "BOOL_LA_PUMP_STATE_RED_08",
        "blinkDuration": 200
      },
      "controlOutput": "LA_PUMP_08",
      "controlZeroValue": 6000,
      "stateForcedToZeroInStopMode": true,
      "stopConstraint": "Force All Idle",
      "type": "chemPump",
      "stepTotals": [
        "CALC_FLOW_LA_PUMP_08_STEP_TOTAL",
        "CALC_RPM_FLOW_LA_PUMP_08_STEP_TOTAL",
        "LA_PUMP_08_STEP_TOTAL"
      ],
      "stageTotals": [
        "CALC_FLOW_LA_PUMP_08_STAGE_TOTAL",
        "CALC_RPM_FLOW_LA_PUMP_08_STAGE_TOTAL",
        "LA_PUMP_08_STAGE_TOTAL"
      ],
      "registryStepTotals": [],
      "registryStageTotals": [],
      "alarmConstraints": [],
      "name": "LA_PUMP_08",
      "resetSetPointWithEngineOff": true,
      "directionTransitionDelayTime": 0,
      "minCleanFlow": 0.0,
      "initialSetpoint": 0.0
    }
  ],
  "tubMixers": [],
  "valves": [],
  "levelControls": [],
  "greasers": [],
  "ppaCalculationMethods": [],
  "teamedAugerControls": [],
  "gateControls": [],
  "baseComponents": [
    {
      "powertrain": "",
      "minEngineDriveRpm": 0,
      "remoteBlenderState": "BLENDER_TUB.CURRENT_BLENDER_STATE",
      "ekillOutputs": [],
      "hmiResetTime": 0,
      "type": "runningStateMonitor",
      "stepTotals": [],
      "stageTotals": [],
      "registryStepTotals": [],
      "registryStageTotals": [],
      "alarmConstraints": [],
      "name": "BLENDER_ADDITIVES_RUNNING_STATE_MONITOR"
    },
    {
      "initialState": 1,
      "globalTransitions": [],
      "states": [
        {
          "name": "INITIALIZE",
          "id": 1,
          "timeoutMs": 10000,
          "timeoutStateId": 150,
          "transitions": [],
          "outputs": [
            {
              "output": "SW_DA01_OFF",
              "value": "DRY_ADD_01.OFF",
              "continuous": true
            },
            {
              "output": "SW_DA02_OFF",
              "value": "DRY_ADD_02.OFF",
              "continuous": true
            },
            {
              "output": "SW_LA01_OFF",
              "value": "LA_PUMP_01.OFF",
              "continuous": true
            },
            {
              "output": "SW_LA02_OFF",
              "value": "LA_PUMP_02.OFF",
              "continuous": true
            },
            {
              "output": "SW_LA03_OFF",
              "value": "LA_PUMP_03.OFF",
              "continuous": true
            },
            {
              "output": "SW_LA04_OFF",
              "value": "LA_PUMP_04.OFF",
              "continuous": true
            },
            {
              "output": "SW_LA05_OFF",
              "value": "LA_PUMP_05.OFF",
              "continuous": true
            },
            {
              "output": "SW_LA06_OFF",
              "value": "LA_PUMP_06.OFF",
              "continuous": true
            },
            {
              "output": "SW_LA07_OFF",
              "value": "LA_PUMP_07.OFF",
              "continuous": true
            },
            {
              "output": "SW_LA08_OFF",
              "value": "LA_PUMP_08.OFF",
              "continuous": true
            },
            {
              "output": "SW_DA01_AUTO",
              "value": "DRY_ADD_01.AUTO",
              "continuous": true
            },
            {
              "output": "SW_DA02_AUTO",
              "value": "DRY_ADD_02.AUTO",
              "continuous": true
            },
            {
              "output": "SW_LA01_AUTO",
              "value": "LA_PUMP_01.AUTO",
              "continuous": true
            },
            {
              "output": "SW_LA02_AUTO",
              "value": "LA_PUMP_02.AUTO",
              "continuous": true
            },
            {
              "output": "SW_LA03_AUTO",
              "value": "LA_PUMP_03.AUTO",
              "continuous": true
            },
            {
              "output": "SW_LA04_AUTO",
              "value": "LA_PUMP_04.AUTO",
              "continuous": true
            },
            {
              "output": "SW_LA05_AUTO",
              "value": "LA_PUMP_05.AUTO",
              "continuous": true
            },
            {
              "output": "SW_LA06_AUTO",
              "value": "LA_PUMP_06.AUTO",
              "continuous": true
            },
            {
              "output": "SW_LA07_AUTO",
              "value": "LA_PUMP_07.AUTO",
              "continuous": true
            },
            {
              "output": "SW_LA08_AUTO",
              "value": "LA_PUMP_08.AUTO",
              "continuous": true
            },
            {
              "output": "SW_DA01_SPEED_PERCENT",
              "value": "DRY_ADD_01.SPEED_PERCENT_INTERNAL",
              "continuous": true
            },
            {
              "output": "SW_DA02_SPEED_PERCENT",
              "value": "DRY_ADD_01.SPEED_PERCENT_INTERNAL",
              "continuous": true
            },
            {
              "output": "SW_LA01_SPEED_PERCENT",
              "value": "LA_PUMP_01.SPEED_PERCENT_INTERNAL",
              "continuous": true
            },
            {
              "output": "SW_LA02_SPEED_PERCENT",
              "value": "LA_PUMP_02.SPEED_PERCENT_INTERNAL",
              "continuous": true
            },
            {
              "output": "SW_LA03_SPEED_PERCENT",
              "value": "LA_PUMP_03.SPEED_PERCENT_INTERNAL",
              "continuous": true
            },
            {
              "output": "SW_LA04_SPEED_PERCENT",
              "value": "LA_PUMP_04.SPEED_PERCENT_INTERNAL",
              "continuous": true
            },
            {
              "output": "SW_LA05_SPEED_PERCENT",
              "value": "LA_PUMP_05.SPEED_PERCENT_INTERNAL",
              "continuous": true
            },
            {
              "output": "SW_LA06_SPEED_PERCENT",
              "value": "LA_PUMP_06.SPEED_PERCENT_INTERNAL",
              "continuous": true
            },
            {
              "output": "SW_LA07_SPEED_PERCENT",
              "value": "LA_PUMP_07.SPEED_PERCENT_INTERNAL",
              "continuous": true
            },
            {
              "output": "SW_LA08_SPEED_PERCENT",
              "value": "LA_PUMP_08.SPEED_PERCENT_INTERNAL",
              "continuous": true
            }
          ]
        },
        {
          "name": "CHECK_STATE",
          "id": 10,
          "transitions": [
            {
              "sensor": "SW_REQUEST_REMOTE_CONTROL",
              "nextState": 100,
              "inverted": true
            },
            {
              "sensor": "SW_REQUEST_REMOTE_CONTROL",
              "nextState": 200,
              "inverted": false
            }
          ],
          "outputs": []
        },
        {
          "name": "TRANSFER_TO_LOCAL",
          "id": 100,
          "transitions": [
            {
              "sensor": "CLUTCH_ENGAGED",
              "nextState": 110,
              "inverted": false
            },
            {
              "sensor": "SW_REQUEST_REMOTE_CONTROL",
              "nextState": 150,
              "inverted": true
            },
            {
              "sensor": "SW_REQUEST_REMOTE_CONTROL",
              "nextState": 10,
              "inverted": false
            }
          ],
          "outputs": []
        },
        {
          "name": "WAIT_FOR_LOCAL_TRANSFER",
          "id": 110,
          "transitions": [
            {
              "sensor": "All Switches Synchronized",
              "nextState": 150,
              "inverted": false
            },
            {
              "sensor": "CLUTCH_ENGAGED",
              "nextState": 150,
              "inverted": true
            },
            {
              "sensor": "SW_REQUEST_REMOTE_CONTROL",
              "nextState": 10,
              "inverted": false
            }
          ],
          "outputs": []
        },
        {
          "name": "IN_LOCAL_CONTROL",
          "id": 150,
          "transitions": [
            {
              "sensor": "SW_REQUEST_REMOTE_CONTROL",
              "nextState": 10,
              "inverted": false
            }
          ],
          "outputs": [
            {
              "output": "SW_DA01_OFF",
              "value": "DRY_ADD_01.OFF",
              "continuous": true
            },
            {
              "output": "SW_DA02_OFF",
              "value": "DRY_ADD_02.OFF",
              "continuous": true
            },
            {
              "output": "SW_LA01_OFF",
              "value": "LA_PUMP_01.OFF",
              "continuous": true
            },
            {
              "output": "SW_LA02_OFF",
              "value": "LA_PUMP_02.OFF",
              "continuous": true
            },
            {
              "output": "SW_LA03_OFF",
              "value": "LA_PUMP_03.OFF",
              "continuous": true
            },
            {
              "output": "SW_LA04_OFF",
              "value": "LA_PUMP_04.OFF",
              "continuous": true
            },
            {
              "output": "SW_LA05_OFF",
              "value": "LA_PUMP_05.OFF",
              "continuous": true
            },
            {
              "output": "SW_LA06_OFF",
              "value": "LA_PUMP_06.OFF",
              "continuous": true
            },
            {
              "output": "SW_LA07_OFF",
              "value": "LA_PUMP_07.OFF",
              "continuous": true
            },
            {
              "output": "SW_LA08_OFF",
              "value": "LA_PUMP_08.OFF",
              "continuous": true
            },
            {
              "output": "SW_DA01_AUTO",
              "value": "DRY_ADD_01.AUTO",
              "continuous": true
            },
            {
              "output": "SW_DA02_AUTO",
              "value": "DRY_ADD_02.AUTO",
              "continuous": true
            },
            {
              "output": "SW_LA01_AUTO",
              "value": "LA_PUMP_01.AUTO",
              "continuous": true
            },
            {
              "output": "SW_LA02_AUTO",
              "value": "LA_PUMP_02.AUTO",
              "continuous": true
            },
            {
              "output": "SW_LA03_AUTO",
              "value": "LA_PUMP_03.AUTO",
              "continuous": true
            },
            {
              "output": "SW_LA04_AUTO",
              "value": "LA_PUMP_04.AUTO",
              "continuous": true
            },
            {
              "output": "SW_LA05_AUTO",
              "value": "LA_PUMP_05.AUTO",
              "continuous": true
            },
            {
              "output": "SW_LA06_AUTO",
              "value": "LA_PUMP_06.AUTO",
              "continuous": true
            },
            {
              "output": "SW_LA07_AUTO",
              "value": "LA_PUMP_07.AUTO",
              "continuous": true
            },
            {
              "output": "SW_LA08_AUTO",
              "value": "LA_PUMP_08.AUTO",
              "continuous": true
            },
            {
              "output": "SW_DA01_SPEED_PERCENT",
              "value": "DRY_ADD_01.SPEED_PERCENT_INTERNAL",
              "continuous": true
            },
            {
              "output": "SW_DA02_SPEED_PERCENT",
              "value": "DRY_ADD_01.SPEED_PERCENT_INTERNAL",
              "continuous": true
            },
            {
              "output": "SW_LA01_SPEED_PERCENT",
              "value": "LA_PUMP_01.SPEED_PERCENT_INTERNAL",
              "continuous": true
            },
            {
              "output": "SW_LA02_SPEED_PERCENT",
              "value": "LA_PUMP_02.SPEED_PERCENT_INTERNAL",
              "continuous": true
            },
            {
              "output": "SW_LA03_SPEED_PERCENT",
              "value": "LA_PUMP_03.SPEED_PERCENT_INTERNAL",
              "continuous": true
            },
            {
              "output": "SW_LA04_SPEED_PERCENT",
              "value": "LA_PUMP_04.SPEED_PERCENT_INTERNAL",
              "continuous": true
            },
            {
              "output": "SW_LA05_SPEED_PERCENT",
              "value": "LA_PUMP_05.SPEED_PERCENT_INTERNAL",
              "continuous": true
            },
            {
              "output": "SW_LA06_SPEED_PERCENT",
              "value": "LA_PUMP_06.SPEED_PERCENT_INTERNAL",
              "continuous": true
            },
            {
              "output": "SW_LA07_SPEED_PERCENT",
              "value": "LA_PUMP_07.SPEED_PERCENT_INTERNAL",
              "continuous": true
            },
            {
              "output": "SW_LA08_SPEED_PERCENT",
              "value": "LA_PUMP_08.SPEED_PERCENT_INTERNAL",
              "continuous": true
            }
          ]
        },
        {
          "name": "TRANSFER_TO_REMOTE",
          "id": 200,
          "timeoutMs": 10000,
          "timeoutStateId": 250,
          "transitions": [
            {
              "sensor": "CLUTCH_ENGAGED",
              "nextState": 250,
              "inverted": false
            },
            {
              "sensor": "SW_REQUEST_REMOTE_CONTROL",
              "nextState": 210,
              "inverted": false
            },
            {
              "sensor": "SW_REQUEST_REMOTE_CONTROL",
              "nextState": 10,
              "inverted": true
            }
          ],
          "outputs": []
        },
        {
          "name": "WAIT_FOR_REMOTE_TRANSFER",
          "id": 210,
          "transitions": [
            {
              "sensor": "All Switches Synchronized",
              "nextState": 220,
              "inverted": false
            },
            {
              "sensor": "SW_REQUEST_REMOTE_CONTROL",
              "nextState": 10,
              "inverted": true
            }
          ],
          "outputs": []
        },
        {
          "name": "SET_REMOTE_IDLE",
          "id": 220,
          "transitions": [
            {
              "sensor": "SW_REQUEST_REMOTE_CONTROL",
              "nextState": 250,
              "inverted": false
            },
            {
              "sensor": "SW_REQUEST_REMOTE_CONTROL",
              "nextState": 10,
              "inverted": true
            }
          ],
          "outputs": [
            {
              "output": "SW_DA01_AUTO",
              "value": "1",
              "continuous": false
            },
            {
              "output": "SW_DA02_AUTO",
              "value": "1",
              "continuous": false
            },
            {
              "output": "SW_LA01_AUTO",
              "value": "1",
              "continuous": false
            },
            {
              "output": "SW_LA02_AUTO",
              "value": "1",
              "continuous": false
            },
            {
              "output": "SW_LA03_AUTO",
              "value": "1",
              "continuous": false
            },
            {
              "output": "SW_LA04_AUTO",
              "value": "1",
              "continuous": false
            },
            {
              "output": "SW_LA05_AUTO",
              "value": "1",
              "continuous": false
            },
            {
              "output": "SW_LA06_AUTO",
              "value": "1",
              "continuous": false
            },
            {
              "output": "SW_LA07_AUTO",
              "value": "1",
              "continuous": false
            },
            {
              "output": "SW_LA08_AUTO",
              "value": "1",
              "continuous": false
            }
          ]
        },
        {
          "name": "IN_REMOTE_CONTROL",
          "id": 250,
          "transitions": [
            {
              "sensor": "SW_REQUEST_REMOTE_CONTROL",
              "nextState": 10,
              "inverted": true
            }
          ],
          "outputs": []
        }
      ],
      "type": "stateMachine",
      "stepTotals": [],
      "stageTotals": [],
      "registryStepTotals": [],
      "registryStageTotals": [],
      "alarmConstraints": [],
      "name": "LOCAL_REMOTE_CONTROL"
    }
  ]
}