{
  "system": {
    "logging": {
      "logLevel": "ERROR",
      "logDir": "logs",
      "mainboardLoggingPath": "logs/mainboard.log",
      "_commentLevel": "Valid: ERROR, WARN, INFO, DEBUG",
      "_commentLogDir": "will be prepended with <dataflashdir>/"
    },
    "archiving": {
      "enabled": false,
      "archivePath": "/mnt/usbdisk",
      "interval": 1000,
      "minimalDiskSpaceM": 200,
      "sensorNCTime": 4000
    },
    "network": {
      "timeServer": [
        "$LocalHMIIp"
      ],
      "registrationServer": "$DataVanHMIIp",
      "registrationName": "$RegistrationName",
      "registrationDescription": "Blender LA8 Adds",
      "registrationGuid": "$RegistrationGuid",
      "registrationUnitType": "Blender",
      "registrationConfigName": "Adds",
      "registrationMetadata": "{\"master\":\"$RegistrationGuid_U09\",\"IsLA8\":\"true\",\"ProductVersion\":\"8.1.4\"}",
      "registrationServerPort": 8080,
      "registrationServicePath": "MDT_RESTful_DA/configuration/runtime/registration/"
    },
    "commandReceiver": {
      "logFile": "logs/command_receiver.log",
      "sensorConfigQueue": "queues/sensorconfigs",
      "sensorConfigPath": "etc/sensorConfig.json",
      "mainboardPort": 9000,
      "mainboardIp": "127.0.0.1",
      "sensorConfigBroadcastFreq": 60,
      "enableHTTPDataServer": true,
      "stageConfigServicePath": "MDT_RESTful_DA/configuration/runtime/staging"
    },
    "configurationRecipients": [
      {
        "name": "Local PC",
        "address": "$LocalHMIIp",
        "port": 8080
      },
      {
        "name": "Process Control",
        "address": "$DataVanHMIIp",
        "port": 8080
      }
    ],
    "identity": "STW-ESX3XM",
    "dataAcquisitionQueues": {
      "queues": [
        {
          "readingsDir": "queues/diagnostics",
          "inprogressDir": "queues/diaginprog",
          "canskipmessages": false,
          "recipients": [
            {
              "name": "Local PC",
              "queuePath": "queues/diagnostics_local_pc",
              "servicePath": "MDT_RESTful_DA/readings/j1939/dm1",
              "address": "$LocalHMIIp",
              "port": 8080
            },
            {
              "name": "Process Control",
              "queuePath": "queues/diagnostics_process_control",
              "servicePath": "MDT_RESTful_DA/readings/j1939/dm1",
              "address": "$DataVanHMIIp",
              "port": 8080
            }
          ]
        },
        {
          "readingsDir": "queues/messages",
          "inprogressDir": "queues/inprogress",
          "recipients": [
            {
              "name": "Local PC",
              "queuePath": "queues/messages_local_pc",
              "servicePath": "MDT_RESTful_DA/readings/general",
              "address": "$LocalHMIIp",
              "port": 8080,
              "connectionTimeoutMS": 1000
            },
            {
              "name": "Process Control",
              "queuePath": "queues/messages_process_control",
              "servicePath": "MDT_RESTful_DA/readings/general",
              "address": "$DataVanHMIIp",
              "port": 8080,
              "connectionTimeoutMS": 1000
            }
          ]
        },
        {
          "readingsDir": "queues/alarms",
          "inprogressDir": "queues/alarms_inprogress",
          "recipients": [
            {
              "name": "Local PC",
              "queuePath": "queues/alarms_local_pc",
              "servicePath": "MDT_RESTful_DA/errors/stwerror",
              "address": "$LocalHMIIp",
              "port": 8080,
              "connectionTimeoutMS": 1000
            },
            {
              "name": "Process Control",
              "queuePath": "queues/alarms_process_control",
              "servicePath": "MDT_RESTful_DA/errors/stwerror",
              "address": "$DataVanHMIIp",
              "port": 8080,
              "connectionTimeoutMS": 1000
            }
          ]
        },
        {
          "readingsDir": "queues/remote_messages",
          "inprogressDir": "queues/remote_messages_inprogress",
          "recipients": [
            {
              "name": "ENG U09 STW",
              "queuePath": "queues/remote_messages_eng",
              "servicePath": "control/readings/remote_sensor_readings",
              "address": "$U09Ip",
              "port": 3000,
              "connectionTimeoutMS": 1000
            }
          ],
          "sensors": [
            "ADDITIVE_SWITCHES_SYNCHRONIZED"
          ]
        }
      ]
    }
  }
}