{
  "logging": {
    "defaultLoggerId": "main-logger",
    "logWriters": [
      {
        "logWriterId": "can-file",
        "type": "File",
        "path": "logs/zcandump.csv",
        "alwaysFlush": false
      },
      {
        "logWriterId": "main-file-writer",
        "type": "File",
        "path": "logs/mainboard.log"
      }
    ],
    "loggers": [
      {
        "loggerId": "log-writer-logger",
        "logLevel": "INFO",
        "logWriterId": "main-file-writer"
      },
      {
        "loggerId": "main-logger",
        "logLevel": "ERROR",
        "logWriterId": "main-file-writer"
      },
      {
        "loggerId": "DA-1-logger",
        "logLevel": "ERROR",
        "logWriterId": "main-file-writer"
      },
      {
        "loggerId": "Control-logger",
        "logLevel": "ERROR",
        "logWriterId": "main-file-writer"
      },
      {
        "loggerId": "ControlExe-logger",
        "logLevel": "ERROR",
        "logWriterId": "main-file-writer"
      },
      {
        "loggerId": "Engine-logger",
        "logLevel": "ERROR",
        "logWriterId": "main-file-writer"
      },
      {
        "loggerId": "chemvan-logger",
        "logLevel": "ERROR",
        "logWriterId": "main-file-writer"
      },
      {
        "loggerId": "blender-logger",
        "logLevel": "ERROR",
        "logWriterId": "main-file-writer"
      }
    ]
  },
  "rtos": {
    "usPerTimerTick": 1000,
    "remoteControl": {
      "localIp": "",
      "datavanIp": "",
      "remoteControlEnabled": true,
      "localRequiresHeartbeat": false
    },
    "boards": [
      {
        "type": "EB02",
        "boardId": "EB02-D",
        "slot": "SLOT_D",
        "model": 33022,
        "active": true
      },
      {
        "type": "EB04",
        "boardId": "EB04-B",
        "slot": "SLOT_B",
        "model": 35770,
        "active": true
      },
      {
        "type": "EB07",
        "boardId": "EB07-C",
        "slot": "SLOT_C",
        "model": 47349,
        "active": true
      },
      {
        "type": "EB09",
        "boardId": "EB09-A",
        "slot": "SLOT_A",
        "model": 55168,
        "active": true
      },
      {
        "type": "EB11",
        "boardId": "EB11-E",
        "slot": "SLOT_E",
        "model": 60619,
        "sensorSupply": 0,
        "active": true
      },
      {
        "type": "EB11",
        "boardId": "EB11-F",
        "slot": "SLOT_F",
        "model": 60619,
        "sensorSupply": 0,
        "active": true
      },
      {
        "heartbeatTimeoutMs": 5000,
        "reinitOnHeartbeatTimeout": true,
        "bitRate": 250000,
        "canbusChannel": "X_CAN_BUS_02",
        "canbusId": 1,
        "ecuId": 100,
        "type": "IOX",
        "boardId": "IOX-1",
        "slot": "CANBUS",
        "model": 34460,
        "sensorSupply": 1,
        "active": true
      },
      {
        "heartbeatTimeoutMs": 5000,
        "reinitOnHeartbeatTimeout": true,
        "bitRate": 250000,
        "canbusChannel": "X_CAN_BUS_02",
        "canbusId": 2,
        "ecuId": 100,
        "type": "IOX",
        "boardId": "IOX-2",
        "slot": "CANBUS",
        "model": 34460,
        "sensorSupply": 1,
        "active": true
      },
      {
        "type": "MAIN",
        "boardId": "MAIN",
        "slot": "MAIN",
        "model": 62475,
        "sensorSupply": 10000,
        "active": true
      }
    ],
    "sensors": [
      {
        "sensorId": "COUNT_LA_SPEED_CTRL_03_A",
        "boardId": "EB09-A",
        "channel": "X09_IN_01",
        "inputType": "X09_IN_TYPE_INCREMENTAL",
        "inputCircuit": [
          "X09_IN_CIRCUIT_PULL_UP"
        ]
      },
      {
        "sensorId": "COUNT_LA_SPEED_CTRL_07_B",
        "boardId": "EB09-A",
        "channel": "X09_IN_10",
        "inputType": "X09_IN_TYPE_INCREMENTAL",
        "inputCircuit": [
          "X09_IN_CIRCUIT_PULL_UP"
        ]
      },
      {
        "sensorId": "COUNT_LA_SPEED_CTRL_08_A",
        "boardId": "EB09-A",
        "channel": "X09_IN_11",
        "inputType": "X09_IN_TYPE_INCREMENTAL",
        "inputCircuit": [
          "X09_IN_CIRCUIT_PULL_UP"
        ]
      },
      {
        "sensorId": "COUNT_LA_SPEED_CTRL_08_B",
        "boardId": "EB09-A",
        "channel": "X09_IN_12",
        "inputType": "X09_IN_TYPE_INCREMENTAL",
        "inputCircuit": [
          "X09_IN_CIRCUIT_PULL_UP"
        ]
      },
      {
        "sensorId": "COUNT_LA_SPEED_CTRL_03_B",
        "boardId": "EB09-A",
        "channel": "X09_IN_02",
        "inputType": "X09_IN_TYPE_INCREMENTAL",
        "inputCircuit": [
          "X09_IN_CIRCUIT_PULL_UP"
        ]
      },
      {
        "sensorId": "COUNT_LA_SPEED_CTRL_04_A",
        "boardId": "EB09-A",
        "channel": "X09_IN_03",
        "inputType": "X09_IN_TYPE_INCREMENTAL",
        "inputCircuit": [
          "X09_IN_CIRCUIT_PULL_UP"
        ]
      },
      {
        "sensorId": "COUNT_LA_SPEED_CTRL_04_B",
        "boardId": "EB09-A",
        "channel": "X09_IN_04",
        "inputType": "X09_IN_TYPE_INCREMENTAL",
        "inputCircuit": [
          "X09_IN_CIRCUIT_PULL_UP"
        ]
      },
      {
        "sensorId": "COUNT_LA_SPEED_CTRL_05_A",
        "boardId": "EB09-A",
        "channel": "X09_IN_05",
        "inputType": "X09_IN_TYPE_INCREMENTAL",
        "inputCircuit": [
          "X09_IN_CIRCUIT_PULL_UP"
        ]
      },
      {
        "sensorId": "COUNT_LA_SPEED_CTRL_05_B",
        "boardId": "EB09-A",
        "channel": "X09_IN_06",
        "inputType": "X09_IN_TYPE_INCREMENTAL",
        "inputCircuit": [
          "X09_IN_CIRCUIT_PULL_UP"
        ]
      },
      {
        "sensorId": "COUNT_LA_SPEED_CTRL_06_A",
        "boardId": "EB09-A",
        "channel": "X09_IN_07",
        "inputType": "X09_IN_TYPE_INCREMENTAL",
        "inputCircuit": [
          "X09_IN_CIRCUIT_PULL_UP"
        ]
      },
      {
        "sensorId": "COUNT_LA_SPEED_CTRL_06_B",
        "boardId": "EB09-A",
        "channel": "X09_IN_08",
        "inputType": "X09_IN_TYPE_INCREMENTAL",
        "inputCircuit": [
          "X09_IN_CIRCUIT_PULL_UP"
        ]
      },
      {
        "sensorId": "COUNT_LA_SPEED_CTRL_07_A",
        "boardId": "EB09-A",
        "channel": "X09_IN_09",
        "inputType": "X09_IN_TYPE_INCREMENTAL",
        "inputCircuit": [
          "X09_IN_CIRCUIT_PULL_UP"
        ]
      },
      {
        "sensorId": "FREQ_DA_SPEED_01_A",
        "boardId": "IOX-1",
        "channel": "MDT_27",
        "inputType": "FREQUENCY",
        "inputCircuit": [
          "IOX_IN_CIRCUIT_PULL_UP"
        ]
      },
      {
        "sensorId": "FREQ_DA_SPEED_02_A",
        "boardId": "IOX-1",
        "channel": "MDT_28",
        "inputType": "FREQUENCY",
        "inputCircuit": [
          "IOX_IN_CIRCUIT_PULL_UP"
        ]
      },
      {
        "sensorId": "BOOL_LA_PUMP_AUTO_01",
        "boardId": "IOX-2",
        "channel": "MDT_01",
        "inputType": "DIGITAL"
      },
      {
        "sensorId": "BOOL_LA_PUMP_OFF_02",
        "boardId": "IOX-2",
        "channel": "MDT_10",
        "inputType": "DIGITAL",
        "inputCircuit": [
          "IOX_IN_CIRCUIT_NO_PULL_UP"
        ]
      },
      {
        "sensorId": "BOOL_LA_PUMP_OFF_03",
        "boardId": "IOX-2",
        "channel": "MDT_11",
        "inputType": "DIGITAL",
        "inputCircuit": [
          "IOX_IN_CIRCUIT_NO_PULL_UP"
        ]
      },
      {
        "sensorId": "BOOL_LA_PUMP_OFF_04",
        "boardId": "IOX-2",
        "channel": "MDT_12",
        "inputType": "DIGITAL",
        "inputCircuit": [
          "IOX_IN_CIRCUIT_NO_PULL_UP"
        ]
      },
      {
        "sensorId": "BOOL_LA_PUMP_OFF_05",
        "boardId": "IOX-2",
        "channel": "MDT_13",
        "inputType": "DIGITAL",
        "inputCircuit": [
          "IOX_IN_CIRCUIT_NO_PULL_UP"
        ]
      },
      {
        "sensorId": "BOOL_LA_PUMP_OFF_06",
        "boardId": "IOX-2",
        "channel": "MDT_14",
        "inputType": "DIGITAL",
        "inputCircuit": [
          "IOX_IN_CIRCUIT_NO_PULL_UP"
        ]
      },
      {
        "sensorId": "BOOL_LA_PUMP_AUTO_02",
        "boardId": "IOX-2",
        "channel": "MDT_02",
        "inputType": "DIGITAL"
      },
      {
        "sensorId": "BOOL_LA_PUMP_OFF_07",
        "boardId": "IOX-2",
        "channel": "MDT_27",
        "inputType": "DIGITAL",
        "inputCircuit": [
          "IOX_IN_CIRCUIT_NO_PULL_UP"
        ]
      },
      {
        "sensorId": "BOOL_LA_PUMP_OFF_08",
        "boardId": "IOX-2",
        "channel": "MDT_28",
        "inputType": "DIGITAL",
        "inputCircuit": [
          "IOX_IN_CIRCUIT_NO_PULL_UP"
        ]
      },
      {
        "sensorId": "BOOL_LA_PUMP_AUTO_03",
        "boardId": "IOX-2",
        "channel": "MDT_03",
        "inputType": "DIGITAL"
      },
      {
        "sensorId": "BOOL_LA_PUMP_AUTO_04",
        "boardId": "IOX-2",
        "channel": "MDT_04",
        "inputType": "DIGITAL"
      },
      {
        "sensorId": "BOOL_LA_PUMP_AUTO_05",
        "boardId": "IOX-2",
        "channel": "MDT_05",
        "inputType": "DIGITAL"
      },
      {
        "sensorId": "BOOL_LA_PUMP_AUTO_06",
        "boardId": "IOX-2",
        "channel": "MDT_06",
        "inputType": "DIGITAL"
      },
      {
        "sensorId": "BOOL_LA_PUMP_AUTO_07",
        "boardId": "IOX-2",
        "channel": "MDT_07",
        "inputType": "DIGITAL"
      },
      {
        "sensorId": "BOOL_LA_PUMP_AUTO_08",
        "boardId": "IOX-2",
        "channel": "MDT_08",
        "inputType": "DIGITAL"
      },
      {
        "sensorId": "BOOL_LA_PUMP_OFF_01",
        "boardId": "IOX-2",
        "channel": "MDT_09",
        "inputType": "DIGITAL",
        "inputCircuit": [
          "IOX_IN_CIRCUIT_NO_PULL_UP"
        ]
      },
      {
        "sensorId": "COUNT_DA_SPEED_CTRL_01_A",
        "boardId": "MAIN",
        "channel": "X_IN_01",
        "inputType": "X_IN_TYPE_INCREMENTAL"
      },
      {
        "sensorId": "RPM_LA_PUMP_06",
        "boardId": "MAIN",
        "channel": "X_IN_10",
        "inputType": "X_IN_TYPE_FREQUENCY",
        "inputCircuit": [
          "X_IN_CIRCUIT_PULL_DOWN"
        ]
      },
      {
        "sensorId": "RPM_LA_PUMP_07",
        "boardId": "MAIN",
        "channel": "X_IN_11",
        "inputType": "X_IN_TYPE_FREQUENCY",
        "inputCircuit": [
          "X_IN_CIRCUIT_PULL_DOWN"
        ]
      },
      {
        "sensorId": "RPM_LA_PUMP_08",
        "boardId": "MAIN",
        "channel": "X_IN_12",
        "inputType": "X_IN_TYPE_FREQUENCY",
        "inputCircuit": [
          "X_IN_CIRCUIT_PULL_DOWN"
        ]
      },
      {
        "sensorId": "COUNT_LA_SPEED_CTRL_01_A",
        "boardId": "MAIN",
        "channel": "X_IN_13",
        "inputType": "X_IN_TYPE_INCREMENTAL",
        "inputCircuit": [
          "X_IN_CIRCUIT_PULL_UP"
        ]
      },
      {
        "sensorId": "FREQ_LA_PUMP_01",
        "boardId": "MAIN",
        "channel": "X_IN_14",
        "inputType": "X_IN_TYPE_FREQUENCY",
        "inputCircuit": [
          "X_IN_CIRCUIT_PULL_DOWN"
        ]
      },
      {
        "sensorId": "COUNT_LA_SPEED_CTRL_01_B",
        "boardId": "MAIN",
        "channel": "X_IN_15",
        "inputType": "X_IN_TYPE_INCREMENTAL",
        "inputCircuit": [
          "X_IN_CIRCUIT_PULL_UP"
        ]
      },
      {
        "sensorId": "FREQ_LA_PUMP_02",
        "boardId": "MAIN",
        "channel": "X_IN_16",
        "inputType": "X_IN_TYPE_FREQUENCY",
        "inputCircuit": [
          "X_IN_CIRCUIT_PULL_DOWN"
        ]
      },
      {
        "sensorId": "FREQ_LA_PUMP_03",
        "boardId": "MAIN",
        "channel": "X_IN_17",
        "inputType": "X_IN_TYPE_FREQUENCY",
        "inputCircuit": [
          "X_IN_CIRCUIT_PULL_DOWN"
        ]
      },
      {
        "sensorId": "FREQ_LA_PUMP_04",
        "boardId": "MAIN",
        "channel": "X_IN_18",
        "inputType": "X_IN_TYPE_FREQUENCY",
        "inputCircuit": [
          "X_IN_CIRCUIT_PULL_DOWN"
        ]
      },
      {
        "sensorId": "COUNT_LA_SPEED_CTRL_02_A",
        "boardId": "MAIN",
        "channel": "X_IN_19",
        "inputType": "X_IN_TYPE_INCREMENTAL",
        "inputCircuit": [
          "X_IN_CIRCUIT_PULL_UP"
        ]
      },
      {
        "sensorId": "RPM_LA_PUMP_01",
        "boardId": "MAIN",
        "channel": "X_IN_02",
        "inputType": "X_IN_TYPE_FREQUENCY",
        "inputCircuit": [
          "X_IN_CIRCUIT_PULL_DOWN"
        ]
      },
      {
        "sensorId": "FREQ_LA_PUMP_05",
        "boardId": "MAIN",
        "channel": "X_IN_20",
        "inputType": "X_IN_TYPE_FREQUENCY",
        "inputCircuit": [
          "X_IN_CIRCUIT_PULL_DOWN"
        ]
      },
      {
        "sensorId": "COUNT_LA_SPEED_CTRL_02_B",
        "boardId": "MAIN",
        "channel": "X_IN_21",
        "inputType": "X_IN_TYPE_INCREMENTAL",
        "inputCircuit": [
          "X_IN_CIRCUIT_PULL_UP"
        ]
      },
      {
        "sensorId": "FREQ_LA_PUMP_06",
        "boardId": "MAIN",
        "channel": "X_IN_22",
        "inputType": "X_IN_TYPE_FREQUENCY",
        "inputCircuit": [
          "X_IN_CIRCUIT_PULL_DOWN"
        ]
      },
      {
        "sensorId": "FREQ_LA_PUMP_07",
        "boardId": "MAIN",
        "channel": "X_IN_23",
        "inputType": "X_IN_TYPE_FREQUENCY",
        "inputCircuit": [
          "X_IN_CIRCUIT_PULL_DOWN"
        ]
      },
      {
        "sensorId": "FREQ_LA_PUMP_08",
        "boardId": "MAIN",
        "channel": "X_IN_24",
        "inputType": "X_IN_TYPE_FREQUENCY",
        "inputCircuit": [
          "X_IN_CIRCUIT_PULL_DOWN"
        ]
      },
      {
        "sensorId": "BOOL_DA_AUTO_01",
        "boardId": "EB02-D",
        "channel": "X02_IN_01",
        "inputType": "X02_IN_TYPE_DIGITAL",
        "inputCircuit": [
          "X02_IN_CIRCUIT_PULL_DOWN"
        ],
        "filterConfig": 10
      },
      {
        "sensorId": "BOOL_DA_AUTO_02",
        "boardId": "EB02-D",
        "channel": "X02_IN_02",
        "inputType": "X02_IN_TYPE_DIGITAL",
        "inputCircuit": [
          "X02_IN_CIRCUIT_PULL_DOWN"
        ],
        "filterConfig": 10
      },
      {
        "sensorId": "BOOL_DA_OFF_01",
        "boardId": "EB02-D",
        "channel": "X02_IN_03",
        "inputType": "X02_IN_TYPE_DIGITAL",
        "inputCircuit": [
          "X02_IN_CIRCUIT_PULL_DOWN"
        ]
      },
      {
        "sensorId": "BOOL_DA_OFF_02",
        "boardId": "EB02-D",
        "channel": "X02_IN_04",
        "inputType": "X02_IN_TYPE_DIGITAL",
        "inputCircuit": [
          "X02_IN_CIRCUIT_PULL_DOWN"
        ]
      },
      {
        "sensorId": "COUNT_DA_SPEED_CTRL_01_B",
        "boardId": "MAIN",
        "channel": "X_IN_03",
        "inputType": "X_IN_TYPE_INCREMENTAL",
        "inputCircuit": [
          "X_IN_CIRCUIT_PULL_UP"
        ]
      },
      {
        "sensorId": "RPM_LA_PUMP_02",
        "boardId": "MAIN",
        "channel": "X_IN_04",
        "inputType": "X_IN_TYPE_FREQUENCY",
        "inputCircuit": [
          "X_IN_CIRCUIT_PULL_DOWN"
        ]
      },
      {
        "sensorId": "RPM_LA_PUMP_03",
        "boardId": "MAIN",
        "channel": "X_IN_05",
        "inputType": "X_IN_TYPE_FREQUENCY",
        "inputCircuit": [
          "X_IN_CIRCUIT_PULL_DOWN"
        ]
      },
      {
        "sensorId": "RPM_LA_PUMP_04",
        "boardId": "MAIN",
        "channel": "X_IN_06",
        "inputType": "X_IN_TYPE_FREQUENCY",
        "inputCircuit": [
          "X_IN_CIRCUIT_PULL_DOWN"
        ]
      },
      {
        "sensorId": "COUNT_DA_SPEED_CTRL_02_A",
        "boardId": "MAIN",
        "channel": "X_IN_07",
        "inputType": "X_IN_TYPE_INCREMENTAL",
        "inputCircuit": [
          "X_IN_CIRCUIT_PULL_UP"
        ]
      },
      {
        "sensorId": "RPM_LA_PUMP_05",
        "boardId": "MAIN",
        "channel": "X_IN_08",
        "inputType": "X_IN_TYPE_FREQUENCY",
        "inputCircuit": [
          "X_IN_CIRCUIT_PULL_DOWN"
        ]
      },
      {
        "sensorId": "COUNT_DA_SPEED_CTRL_02_B",
        "boardId": "MAIN",
        "channel": "X_IN_09",
        "inputType": "X_IN_TYPE_INCREMENTAL",
        "inputCircuit": [
          "X_IN_CIRCUIT_PULL_UP"
        ]
      },
      {
        "sensorId": "FLOW_ACID_MAG_01",
        "boardId": "MAIN",
        "channel": "X_IN_25",
        "inputType": "X_IN_TYPE_FREQUENCY",
        "inputCircuit": [
          "X_IN_CIRCUIT_PULL_DOWN"
        ]
      }
    ],
    "outputs": [
      {
        "outputId": "LA_PUMP_01",
        "channelId": "X11_OUT_01",
        "boardId": "EB11-E",
        "outputType": "VOLTAGE",
        "initialValue": 6000
      },
      {
        "outputId": "LA_PUMP_02",
        "channelId": "X11_OUT_02",
        "boardId": "EB11-E",
        "outputType": "VOLTAGE",
        "initialValue": 6000
      },
      {
        "outputId": "LA_PUMP_03",
        "channelId": "X11_OUT_03",
        "boardId": "EB11-E",
        "outputType": "VOLTAGE",
        "initialValue": 6000
      },
      {
        "outputId": "LA_PUMP_04",
        "channelId": "X11_OUT_04",
        "boardId": "EB11-E",
        "outputType": "VOLTAGE",
        "initialValue": 6000
      },
      {
        "outputId": "DA_SPEED_01",
        "channelId": "X11_OUT_05",
        "boardId": "EB11-E",
        "outputType": "VOLTAGE",
        "initialValue": 6000
      },
      {
        "outputId": "DA_SPEED_02",
        "channelId": "X11_OUT_06",
        "boardId": "EB11-E",
        "outputType": "VOLTAGE",
        "initialValue": 6000
      },
      {
        "outputId": "LA_PUMP_05",
        "channelId": "X11_OUT_01",
        "boardId": "EB11-F",
        "outputType": "VOLTAGE",
        "initialValue": 6000
      },
      {
        "outputId": "LA_PUMP_06",
        "channelId": "X11_OUT_02",
        "boardId": "EB11-F",
        "outputType": "VOLTAGE",
        "initialValue": 6000
      },
      {
        "outputId": "LA_PUMP_07",
        "channelId": "X11_OUT_03",
        "boardId": "EB11-F",
        "outputType": "VOLTAGE",
        "initialValue": 6000
      },
      {
        "outputId": "LA_PUMP_08",
        "channelId": "X11_OUT_04",
        "boardId": "EB11-F",
        "outputType": "VOLTAGE",
        "initialValue": 6000
      },
      {
        "outputId": "BOOL_PVG_ENABLE",
        "channelId": "MDT_01",
        "boardId": "IOX-1",
        "outputType": "DIGITAL",
        "initialValue": 1
      },
      {
        "outputId": "BOOL_LA_PUMP_STATE_GREEN_01",
        "channelId": "X_OUT_01",
        "boardId": "MAIN",
        "outputType": "DIGITAL",
        "initialValue": 0
      },
      {
        "outputId": "BOOL_LA_PUMP_STATE_RED_05",
        "channelId": "X_OUT_10",
        "boardId": "MAIN",
        "outputType": "DIGITAL",
        "initialValue": 0
      },
      {
        "outputId": "BOOL_LA_PUMP_STATE_GREEN_06",
        "channelId": "X_OUT_11",
        "boardId": "MAIN",
        "outputType": "DIGITAL",
        "initialValue": 0
      },
      {
        "outputId": "BOOL_LA_PUMP_STATE_RED_06",
        "channelId": "X_OUT_12",
        "boardId": "MAIN",
        "outputType": "DIGITAL",
        "initialValue": 0
      },
      {
        "outputId": "BOOL_LA_PUMP_STATE_GREEN_07",
        "channelId": "X_OUT_13",
        "boardId": "MAIN",
        "outputType": "DIGITAL",
        "initialValue": 0
      },
      {
        "outputId": "BOOL_LA_PUMP_STATE_RED_07",
        "channelId": "X_OUT_14",
        "boardId": "MAIN",
        "outputType": "DIGITAL",
        "initialValue": 0
      },
      {
        "outputId": "BOOL_LA_PUMP_STATE_GREEN_08",
        "channelId": "X_OUT_15",
        "boardId": "MAIN",
        "outputType": "DIGITAL",
        "initialValue": 0
      },
      {
        "outputId": "BOOL_LA_PUMP_STATE_RED_08",
        "channelId": "X_OUT_16",
        "boardId": "MAIN",
        "outputType": "DIGITAL",
        "initialValue": 0
      },
      {
        "outputId": "BOOL_DA_STATE_GREEN_01",
        "channelId": "X_OUT_17",
        "boardId": "MAIN",
        "outputType": "DIGITAL",
        "initialValue": 0
      },
      {
        "outputId": "BOOL_DA_STATE_RED_01",
        "channelId": "X_OUT_18",
        "boardId": "MAIN",
        "outputType": "DIGITAL",
        "initialValue": 0
      },
      {
        "outputId": "BOOL_DA_STATE_GREEN_02",
        "channelId": "X_OUT_19",
        "boardId": "MAIN",
        "outputType": "DIGITAL",
        "initialValue": 0
      },
      {
        "outputId": "BOOL_LA_PUMP_STATE_RED_01",
        "channelId": "X_OUT_02",
        "boardId": "MAIN",
        "outputType": "DIGITAL",
        "initialValue": 0
      },
      {
        "outputId": "BOOL_DA_STATE_RED_02",
        "channelId": "X_OUT_20",
        "boardId": "MAIN",
        "outputType": "DIGITAL",
        "initialValue": 0
      },
      {
        "outputId": "BOOL_LA_PUMP_STATE_GREEN_02",
        "channelId": "X_OUT_03",
        "boardId": "MAIN",
        "outputType": "DIGITAL",
        "initialValue": 0
      },
      {
        "outputId": "BOOL_LA_PUMP_STATE_RED_02",
        "channelId": "X_OUT_04",
        "boardId": "MAIN",
        "outputType": "DIGITAL",
        "initialValue": 0
      },
      {
        "outputId": "BOOL_LA_PUMP_STATE_GREEN_03",
        "channelId": "X_OUT_05",
        "boardId": "MAIN",
        "outputType": "DIGITAL",
        "initialValue": 0
      },
      {
        "outputId": "BOOL_LA_PUMP_STATE_RED_03",
        "channelId": "X_OUT_06",
        "boardId": "MAIN",
        "outputType": "DIGITAL",
        "initialValue": 0
      },
      {
        "outputId": "BOOL_LA_PUMP_STATE_GREEN_04",
        "channelId": "X_OUT_07",
        "boardId": "MAIN",
        "outputType": "DIGITAL",
        "initialValue": 0
      },
      {
        "outputId": "BOOL_LA_PUMP_STATE_RED_04",
        "channelId": "X_OUT_08",
        "boardId": "MAIN",
        "outputType": "DIGITAL",
        "initialValue": 0
      },
      {
        "outputId": "BOOL_LA_PUMP_STATE_GREEN_05",
        "channelId": "X_OUT_09",
        "boardId": "MAIN",
        "outputType": "DIGITAL",
        "initialValue": 0
      }
    ],
    "calculatedSensorsEnabled": true,
    "alarmsEnabled": true,
    "powertrainsEnabled": false,
    "blenderEnabled": true,
    "controlOutputMapsEnabled": false,
    "pidControls": {
      "parametersFile": "etc/pidParameters.config",
      "controls": [
        "DRY_ADD_01",
        "DRY_ADD_02",
        "LA_PUMP_01",
        "LA_PUMP_02",
        "LA_PUMP_03",
        "LA_PUMP_04",
        "LA_PUMP_05",
        "LA_PUMP_06",
        "LA_PUMP_07",
        "LA_PUMP_08"
      ]
    },
    "pseudoSensors": [
      {
        "name": "LA_PUMP_01_STAGE_TOTAL_WRAPPER",
        "sensorCalculations": [
          "CALC_FLOW_LA_PUMP_01_STAGE_TOTAL",
          "CALC_RPM_FLOW_LA_PUMP_01_STAGE_TOTAL"
        ],
        "linkSelection": "PSEUDO_CALC_FLOW_LA_PUMP_01",
        "type": "totalsWrapper"
      },
      {
        "name": "LA_PUMP_01_STEP_TOTAL_WRAPPER",
        "sensorCalculations": [
          "CALC_FLOW_LA_PUMP_01_STEP_TOTAL",
          "CALC_RPM_FLOW_LA_PUMP_01_STEP_TOTAL"
        ],
        "linkSelection": "PSEUDO_CALC_FLOW_LA_PUMP_01",
        "type": "totalsWrapper"
      },
      {
        "name": "LA_PUMP_02_STAGE_TOTAL_WRAPPER",
        "sensorCalculations": [
          "CALC_FLOW_LA_PUMP_02_STAGE_TOTAL",
          "CALC_RPM_FLOW_LA_PUMP_02_STAGE_TOTAL"
        ],
        "linkSelection": "PSEUDO_CALC_FLOW_LA_PUMP_02",
        "type": "totalsWrapper"
      },
      {
        "name": "LA_PUMP_02_STEP_TOTAL_WRAPPER",
        "sensorCalculations": [
          "CALC_FLOW_LA_PUMP_02_STEP_TOTAL",
          "CALC_RPM_FLOW_LA_PUMP_02_STEP_TOTAL"
        ],
        "linkSelection": "PSEUDO_CALC_FLOW_LA_PUMP_02",
        "type": "totalsWrapper"
      },
      {
        "name": "LA_PUMP_03_STAGE_TOTAL_WRAPPER",
        "sensorCalculations": [
          "CALC_FLOW_LA_PUMP_03_STAGE_TOTAL",
          "CALC_RPM_FLOW_LA_PUMP_03_STAGE_TOTAL"
        ],
        "linkSelection": "PSEUDO_CALC_FLOW_LA_PUMP_03",
        "type": "totalsWrapper"
      },
      {
        "name": "LA_PUMP_03_STEP_TOTAL_WRAPPER",
        "sensorCalculations": [
          "CALC_FLOW_LA_PUMP_03_STEP_TOTAL",
          "CALC_RPM_FLOW_LA_PUMP_03_STEP_TOTAL"
        ],
        "linkSelection": "PSEUDO_CALC_FLOW_LA_PUMP_03",
        "type": "totalsWrapper"
      },
      {
        "name": "LA_PUMP_04_STAGE_TOTAL_WRAPPER",
        "sensorCalculations": [
          "CALC_FLOW_LA_PUMP_04_STAGE_TOTAL",
          "CALC_RPM_FLOW_LA_PUMP_04_STAGE_TOTAL"
        ],
        "linkSelection": "PSEUDO_CALC_FLOW_LA_PUMP_04",
        "type": "totalsWrapper"
      },
      {
        "name": "LA_PUMP_04_STEP_TOTAL_WRAPPER",
        "sensorCalculations": [
          "CALC_FLOW_LA_PUMP_04_STEP_TOTAL",
          "CALC_RPM_FLOW_LA_PUMP_04_STEP_TOTAL"
        ],
        "linkSelection": "PSEUDO_CALC_FLOW_LA_PUMP_04",
        "type": "totalsWrapper"
      },
      {
        "name": "LA_PUMP_05_STAGE_TOTAL_WRAPPER",
        "sensorCalculations": [
          "CALC_FLOW_LA_PUMP_05_STAGE_TOTAL",
          "CALC_RPM_FLOW_LA_PUMP_05_STAGE_TOTAL"
        ],
        "linkSelection": "PSEUDO_CALC_FLOW_LA_PUMP_05",
        "type": "totalsWrapper"
      },
      {
        "name": "LA_PUMP_05_STEP_TOTAL_WRAPPER",
        "sensorCalculations": [
          "CALC_FLOW_LA_PUMP_05_STEP_TOTAL",
          "CALC_RPM_FLOW_LA_PUMP_05_STEP_TOTAL"
        ],
        "linkSelection": "PSEUDO_CALC_FLOW_LA_PUMP_05",
        "type": "totalsWrapper"
      },
      {
        "name": "LA_PUMP_06_STAGE_TOTAL_WRAPPER",
        "sensorCalculations": [
          "CALC_FLOW_LA_PUMP_06_STAGE_TOTAL",
          "CALC_RPM_FLOW_LA_PUMP_06_STAGE_TOTAL"
        ],
        "linkSelection": "PSEUDO_CALC_FLOW_LA_PUMP_06",
        "type": "totalsWrapper"
      },
      {
        "name": "LA_PUMP_06_STEP_TOTAL_WRAPPER",
        "sensorCalculations": [
          "CALC_FLOW_LA_PUMP_06_STEP_TOTAL",
          "CALC_RPM_FLOW_LA_PUMP_06_STEP_TOTAL"
        ],
        "linkSelection": "PSEUDO_CALC_FLOW_LA_PUMP_06",
        "type": "totalsWrapper"
      },
      {
        "name": "LA_PUMP_07_STAGE_TOTAL_WRAPPER",
        "sensorCalculations": [
          "CALC_FLOW_LA_PUMP_07_STAGE_TOTAL",
          "CALC_RPM_FLOW_LA_PUMP_07_STAGE_TOTAL"
        ],
        "linkSelection": "PSEUDO_CALC_FLOW_LA_PUMP_07",
        "type": "totalsWrapper"
      },
      {
        "name": "LA_PUMP_07_STEP_TOTAL_WRAPPER",
        "sensorCalculations": [
          "CALC_FLOW_LA_PUMP_07_STEP_TOTAL",
          "CALC_RPM_FLOW_LA_PUMP_07_STEP_TOTAL"
        ],
        "linkSelection": "PSEUDO_CALC_FLOW_LA_PUMP_07",
        "type": "totalsWrapper"
      },
      {
        "name": "LA_PUMP_08_STAGE_TOTAL_WRAPPER",
        "sensorCalculations": [
          "CALC_FLOW_LA_PUMP_08_STAGE_TOTAL",
          "CALC_RPM_FLOW_LA_PUMP_08_STAGE_TOTAL"
        ],
        "linkSelection": "PSEUDO_CALC_FLOW_LA_PUMP_08",
        "type": "totalsWrapper"
      },
      {
        "name": "LA_PUMP_08_STEP_TOTAL_WRAPPER",
        "sensorCalculations": [
          "CALC_FLOW_LA_PUMP_08_STEP_TOTAL",
          "CALC_RPM_FLOW_LA_PUMP_08_STEP_TOTAL"
        ],
        "linkSelection": "PSEUDO_CALC_FLOW_LA_PUMP_08",
        "type": "totalsWrapper"
      },
      {
        "name": "PSEUDO_CALC_FLOW_LA_PUMP_01",
        "sensorCalculations": [
          "CALC_FLOW_LA_PUMP_01",
          "CALC_RPM_FLOW_LA_PUMP_01"
        ]
      },
      {
        "name": "PSEUDO_CALC_FLOW_LA_PUMP_02",
        "sensorCalculations": [
          "CALC_FLOW_LA_PUMP_02",
          "CALC_RPM_FLOW_LA_PUMP_02"
        ]
      },
      {
        "name": "PSEUDO_CALC_FLOW_LA_PUMP_03",
        "sensorCalculations": [
          "CALC_FLOW_LA_PUMP_03",
          "CALC_RPM_FLOW_LA_PUMP_03"
        ]
      },
      {
        "name": "PSEUDO_CALC_FLOW_LA_PUMP_04",
        "sensorCalculations": [
          "CALC_FLOW_LA_PUMP_04",
          "CALC_RPM_FLOW_LA_PUMP_04"
        ]
      },
      {
        "name": "PSEUDO_CALC_FLOW_LA_PUMP_05",
        "sensorCalculations": [
          "CALC_FLOW_LA_PUMP_05",
          "CALC_RPM_FLOW_LA_PUMP_05"
        ]
      },
      {
        "name": "PSEUDO_CALC_FLOW_LA_PUMP_06",
        "sensorCalculations": [
          "CALC_FLOW_LA_PUMP_06",
          "CALC_RPM_FLOW_LA_PUMP_06"
        ]
      },
      {
        "name": "PSEUDO_CALC_FLOW_LA_PUMP_07",
        "sensorCalculations": [
          "CALC_FLOW_LA_PUMP_07",
          "CALC_RPM_FLOW_LA_PUMP_07"
        ]
      },
      {
        "name": "PSEUDO_CALC_FLOW_LA_PUMP_08",
        "sensorCalculations": [
          "CALC_FLOW_LA_PUMP_08",
          "CALC_RPM_FLOW_LA_PUMP_08"
        ]
      },
      {
        "name": "REMOTE_BLENDER_SELECTED_BASE_RATE",
        "sensorCalculations": [
          "BLENDER_SELECTED_BASE_RATE"
        ]
      },
      {
        "name": "SELECTED_CLEAN_RATE_DRY_ADD_01",
        "sensorCalculations": [
          "BLENDER_SELECTED_BASE_RATE",
          "OTHER_BLENDER_SELECTED_BASE_RATE",
          "HYDRATION_SELECTED_CLEAN_RATE",
          "COMBINED_CLEAN_RATE",
          "BLENDER_SIMULATED_CLEAN_RATE",
          "SPLIT_STREAM_BOOST_RATE",
          "SPLIT_STREAM_BLENDER_RATE",
          "CUSTOM_RATE_01",
          "CUSTOM_RATE_02",
          "CUSTOM_RATE_03"
        ]
      },
      {
        "name": "SELECTED_CLEAN_RATE_DRY_ADD_02",
        "sensorCalculations": [
          "BLENDER_SELECTED_BASE_RATE",
          "OTHER_BLENDER_SELECTED_BASE_RATE",
          "HYDRATION_SELECTED_CLEAN_RATE",
          "COMBINED_CLEAN_RATE",
          "BLENDER_SIMULATED_CLEAN_RATE",
          "SPLIT_STREAM_BOOST_RATE",
          "SPLIT_STREAM_BLENDER_RATE",
          "CUSTOM_RATE_01",
          "CUSTOM_RATE_02",
          "CUSTOM_RATE_03"
        ]
      },
      {
        "name": "SELECTED_CLEAN_RATE_LA_PUMP_01",
        "sensorCalculations": [
          "BLENDER_SELECTED_BASE_RATE",
          "OTHER_BLENDER_SELECTED_BASE_RATE",
          "HYDRATION_SELECTED_CLEAN_RATE",
          "COMBINED_CLEAN_RATE",
          "BLENDER_SIMULATED_CLEAN_RATE",
          "SPLIT_STREAM_BOOST_RATE",
          "SPLIT_STREAM_BLENDER_RATE",
          "CUSTOM_RATE_01",
          "CUSTOM_RATE_02",
          "CUSTOM_RATE_03"
        ]
      },
      {
        "name": "SELECTED_CLEAN_RATE_LA_PUMP_02",
        "sensorCalculations": [
          "BLENDER_SELECTED_BASE_RATE",
          "OTHER_BLENDER_SELECTED_BASE_RATE",
          "HYDRATION_SELECTED_CLEAN_RATE",
          "COMBINED_CLEAN_RATE",
          "BLENDER_SIMULATED_CLEAN_RATE",
          "SPLIT_STREAM_BOOST_RATE",
          "SPLIT_STREAM_BLENDER_RATE",
          "CUSTOM_RATE_01",
          "CUSTOM_RATE_02",
          "CUSTOM_RATE_03"
        ]
      },
      {
        "name": "SELECTED_CLEAN_RATE_LA_PUMP_03",
        "sensorCalculations": [
          "BLENDER_SELECTED_BASE_RATE",
          "OTHER_BLENDER_SELECTED_BASE_RATE",
          "HYDRATION_SELECTED_CLEAN_RATE",
          "COMBINED_CLEAN_RATE",
          "BLENDER_SIMULATED_CLEAN_RATE",
          "SPLIT_STREAM_BOOST_RATE",
          "SPLIT_STREAM_BLENDER_RATE",
          "CUSTOM_RATE_01",
          "CUSTOM_RATE_02",
          "CUSTOM_RATE_03"
        ]
      },
      {
        "name": "SELECTED_CLEAN_RATE_LA_PUMP_04",
        "sensorCalculations": [
          "BLENDER_SELECTED_BASE_RATE",
          "OTHER_BLENDER_SELECTED_BASE_RATE",
          "HYDRATION_SELECTED_CLEAN_RATE",
          "COMBINED_CLEAN_RATE",
          "BLENDER_SIMULATED_CLEAN_RATE",
          "SPLIT_STREAM_BOOST_RATE",
          "SPLIT_STREAM_BLENDER_RATE",
          "CUSTOM_RATE_01",
          "CUSTOM_RATE_02",
          "CUSTOM_RATE_03"
        ]
      },
      {
        "name": "SELECTED_CLEAN_RATE_LA_PUMP_05",
        "sensorCalculations": [
          "BLENDER_SELECTED_BASE_RATE",
          "OTHER_BLENDER_SELECTED_BASE_RATE",
          "HYDRATION_SELECTED_CLEAN_RATE",
          "COMBINED_CLEAN_RATE",
          "BLENDER_SIMULATED_CLEAN_RATE",
          "SPLIT_STREAM_BOOST_RATE",
          "SPLIT_STREAM_BLENDER_RATE",
          "CUSTOM_RATE_01",
          "CUSTOM_RATE_02",
          "CUSTOM_RATE_03"
        ]
      },
      {
        "name": "SELECTED_CLEAN_RATE_LA_PUMP_06",
        "sensorCalculations": [
          "BLENDER_SELECTED_BASE_RATE",
          "OTHER_BLENDER_SELECTED_BASE_RATE",
          "HYDRATION_SELECTED_CLEAN_RATE",
          "COMBINED_CLEAN_RATE",
          "BLENDER_SIMULATED_CLEAN_RATE",
          "SPLIT_STREAM_BOOST_RATE",
          "SPLIT_STREAM_BLENDER_RATE",
          "CUSTOM_RATE_01",
          "CUSTOM_RATE_02",
          "CUSTOM_RATE_03"
        ]
      },
      {
        "name": "SELECTED_CLEAN_RATE_LA_PUMP_07",
        "sensorCalculations": [
          "BLENDER_SELECTED_BASE_RATE",
          "OTHER_BLENDER_SELECTED_BASE_RATE",
          "HYDRATION_SELECTED_CLEAN_RATE",
          "COMBINED_CLEAN_RATE",
          "BLENDER_SIMULATED_CLEAN_RATE",
          "SPLIT_STREAM_BOOST_RATE",
          "SPLIT_STREAM_BLENDER_RATE",
          "CUSTOM_RATE_01",
          "CUSTOM_RATE_02",
          "CUSTOM_RATE_03"
        ]
      },
      {
        "name": "SELECTED_CLEAN_RATE_LA_PUMP_08",
        "sensorCalculations": [
          "BLENDER_SELECTED_BASE_RATE",
          "OTHER_BLENDER_SELECTED_BASE_RATE",
          "HYDRATION_SELECTED_CLEAN_RATE",
          "COMBINED_CLEAN_RATE",
          "BLENDER_SIMULATED_CLEAN_RATE",
          "SPLIT_STREAM_BOOST_RATE",
          "SPLIT_STREAM_BLENDER_RATE",
          "CUSTOM_RATE_01",
          "CUSTOM_RATE_02",
          "CUSTOM_RATE_03"
        ]
      },
      {
        "name": "SELECTED_DA01_AUTO",
        "sensorCalculations": [
          "DRY_ADD_01.AUTO",
          "SW_DA01_AUTO"
        ]
      },
      {
        "name": "SELECTED_DA01_OFF",
        "sensorCalculations": [
          "DRY_ADD_01.OFF",
          "SW_DA01_OFF"
        ]
      },
      {
        "name": "SELECTED_DA02_AUTO",
        "sensorCalculations": [
          "DRY_ADD_02.AUTO",
          "SW_DA02_AUTO"
        ]
      },
      {
        "name": "SELECTED_DA02_OFF",
        "sensorCalculations": [
          "DRY_ADD_02.OFF",
          "SW_DA02_OFF"
        ]
      },
      {
        "name": "SELECTED_LA01_AUTO",
        "sensorCalculations": [
          "LA_PUMP_01.AUTO",
          "SW_LA01_AUTO"
        ]
      },
      {
        "name": "SELECTED_LA01_OFF",
        "sensorCalculations": [
          "LA_PUMP_01.OFF",
          "SW_LA01_OFF"
        ]
      },
      {
        "name": "SELECTED_LA02_AUTO",
        "sensorCalculations": [
          "LA_PUMP_02.AUTO",
          "SW_LA02_AUTO"
        ]
      },
      {
        "name": "SELECTED_LA02_OFF",
        "sensorCalculations": [
          "LA_PUMP_02.OFF",
          "SW_LA02_OFF"
        ]
      },
      {
        "name": "SELECTED_LA03_AUTO",
        "sensorCalculations": [
          "LA_PUMP_03.AUTO",
          "SW_LA03_AUTO"
        ]
      },
      {
        "name": "SELECTED_LA03_OFF",
        "sensorCalculations": [
          "LA_PUMP_03.OFF",
          "SW_LA03_OFF"
        ]
      },
      {
        "name": "SELECTED_LA04_AUTO",
        "sensorCalculations": [
          "LA_PUMP_04.AUTO",
          "SW_LA04_AUTO"
        ]
      },
      {
        "name": "SELECTED_LA04_OFF",
        "sensorCalculations": [
          "LA_PUMP_04.OFF",
          "SW_LA04_OFF"
        ]
      },
      {
        "name": "SELECTED_LA05_AUTO",
        "sensorCalculations": [
          "LA_PUMP_05.AUTO",
          "SW_LA05_AUTO"
        ]
      },
      {
        "name": "SELECTED_LA05_OFF",
        "sensorCalculations": [
          "LA_PUMP_05.OFF",
          "SW_LA05_OFF"
        ]
      },
      {
        "name": "SELECTED_LA06_AUTO",
        "sensorCalculations": [
          "LA_PUMP_06.AUTO",
          "SW_LA06_AUTO"
        ]
      },
      {
        "name": "SELECTED_LA06_OFF",
        "sensorCalculations": [
          "LA_PUMP_06.OFF",
          "SW_LA06_OFF"
        ]
      },
      {
        "name": "SELECTED_LA07_AUTO",
        "sensorCalculations": [
          "LA_PUMP_07.AUTO",
          "SW_LA07_AUTO"
        ]
      },
      {
        "name": "SELECTED_LA07_OFF",
        "sensorCalculations": [
          "LA_PUMP_07.OFF",
          "SW_LA07_OFF"
        ]
      },
      {
        "name": "SELECTED_LA08_AUTO",
        "sensorCalculations": [
          "LA_PUMP_08.AUTO",
          "SW_LA08_AUTO"
        ]
      },
      {
        "name": "SELECTED_LA08_OFF",
        "sensorCalculations": [
          "LA_PUMP_08.OFF",
          "SW_LA08_OFF"
        ]
      }
    ],
    "tasks": [
      {
        "timeInterval": 5,
        "timeDelay": 1057,
        "stackSize": 100000,
        "taskId": "TaskRunner",
        "type": "taskrunner",
        "priority": 50,
        "loggerId": "main-logger",
        "workUnitsInterval": 0,
        "estimatedWorkUnitsConsumed": 0.0,
        "workUnitsDelay": 0
      },
      {
        "taskId": "IOXMaintain",
        "type": "ioxmaintenance",
        "priority": 8,
        "loggerId": "iox-logger",
        "workUnitsInterval": 1,
        "estimatedWorkUnitsConsumed": 0.1,
        "workUnitsDelay": 0
      },
      {
        "taskId": "Sampler-1",
        "type": "CALC_SENSOR_SAMPLE",
        "priority": 6,
        "loggerId": "sample-logger",
        "workUnitsInterval": 1,
        "estimatedWorkUnitsConsumed": 0.2,
        "workUnitsDelay": 0,
        "sensors": [
          "CALC_RPM_FLOW_LA_PUMP_01",
          "CALC_RPM_FLOW_LA_PUMP_02",
          "CALC_RPM_FLOW_LA_PUMP_03",
          "CALC_RPM_FLOW_LA_PUMP_04",
          "CALC_RPM_FLOW_LA_PUMP_05",
          "CALC_RPM_FLOW_LA_PUMP_06",
          "CALC_RPM_FLOW_LA_PUMP_07",
          "CALC_RPM_FLOW_LA_PUMP_08",
          "CALC_RPM_LA_PUMP_01",
          "CALC_RPM_LA_PUMP_02",
          "CALC_RPM_LA_PUMP_03",
          "CALC_RPM_LA_PUMP_04",
          "CALC_RPM_LA_PUMP_05",
          "CALC_RPM_LA_PUMP_06",
          "CALC_RPM_LA_PUMP_07",
          "CALC_RPM_LA_PUMP_08",
          "RPM_DA_01",
          "RPM_DA_02",
          "ACID_MAG_RATE"
        ]
      },
      {
        "port": 9000,
        "taskId": "ControlService",
        "type": "commandservice",
        "priority": 6,
        "loggerId": "Control-logger",
        "cappedRuntime": 50,
        "workUnitsInterval": 20,
        "estimatedWorkUnitsConsumed": 5.0,
        "workUnitsDelay": 1
      },
      {
        "taskId": "ControlExecutor",
        "type": "commandexecution",
        "priority": 7,
        "loggerId": "ControlExe-logger",
        "cappedRuntime": 30,
        "workUnitsInterval": 20,
        "estimatedWorkUnitsConsumed": 0.5,
        "workUnitsDelay": 1
      },
      {
        "taskId": "Blender-1",
        "type": "blendercontrol",
        "priority": 14,
        "loggerId": "blender-logger",
        "cappedRuntime": 30,
        "workUnitsInterval": 20,
        "estimatedWorkUnitsConsumed": 4.0,
        "workUnitsDelay": 15
      },
      {
        "queuePath": "queues/messages",
        "outputPowertrainData": false,
        "outputPseudoData": true,
        "outputBlenderData": true,
        "taskId": "DA-1",
        "type": "DA",
        "priority": 2,
        "loggerId": "DA-1-logger",
        "workUnitsInterval": 40,
        "estimatedWorkUnitsConsumed": 7.0,
        "workUnitsDelay": 8,
        "sensors": [
          {
            "sensorId": "COUNT_LA_SPEED_CTRL_03_A",
            "action": "SAMPLE_COUNTER"
          },
          {
            "sensorId": "COUNT_LA_SPEED_CTRL_08_A",
            "action": "SAMPLE_COUNTER"
          },
          {
            "sensorId": "COUNT_LA_SPEED_CTRL_04_A",
            "action": "SAMPLE_COUNTER"
          },
          {
            "sensorId": "COUNT_LA_SPEED_CTRL_05_A",
            "action": "SAMPLE_COUNTER"
          },
          {
            "sensorId": "COUNT_LA_SPEED_CTRL_06_A",
            "action": "SAMPLE_COUNTER"
          },
          {
            "sensorId": "COUNT_LA_SPEED_CTRL_07_A",
            "action": "SAMPLE_COUNTER"
          },
          {
            "sensorId": "FREQ_DA_SPEED_01_A",
            "action": "SAMPLE_FREQUENCY"
          },
          {
            "sensorId": "FREQ_DA_SPEED_02_A",
            "action": "SAMPLE_FREQUENCY"
          },
          {
            "sensorId": "BOOL_LA_PUMP_AUTO_01",
            "action": "SAMPLE_VALUE"
          },
          {
            "sensorId": "BOOL_LA_PUMP_OFF_02",
            "action": "SAMPLE_VALUE"
          },
          {
            "sensorId": "BOOL_LA_PUMP_OFF_03",
            "action": "SAMPLE_VALUE"
          },
          {
            "sensorId": "BOOL_LA_PUMP_OFF_04",
            "action": "SAMPLE_VALUE"
          },
          {
            "sensorId": "BOOL_LA_PUMP_OFF_05",
            "action": "SAMPLE_VALUE"
          },
          {
            "sensorId": "BOOL_LA_PUMP_OFF_06",
            "action": "SAMPLE_VALUE"
          },
          {
            "sensorId": "BOOL_LA_PUMP_AUTO_02",
            "action": "SAMPLE_VALUE"
          },
          {
            "sensorId": "BOOL_LA_PUMP_OFF_07",
            "action": "SAMPLE_VALUE"
          },
          {
            "sensorId": "BOOL_LA_PUMP_OFF_08",
            "action": "SAMPLE_VALUE"
          },
          {
            "sensorId": "BOOL_LA_PUMP_AUTO_03",
            "action": "SAMPLE_VALUE"
          },
          {
            "sensorId": "BOOL_LA_PUMP_AUTO_04",
            "action": "SAMPLE_VALUE"
          },
          {
            "sensorId": "BOOL_LA_PUMP_AUTO_05",
            "action": "SAMPLE_VALUE"
          },
          {
            "sensorId": "BOOL_LA_PUMP_AUTO_06",
            "action": "SAMPLE_VALUE"
          },
          {
            "sensorId": "BOOL_LA_PUMP_AUTO_07",
            "action": "SAMPLE_VALUE"
          },
          {
            "sensorId": "BOOL_LA_PUMP_AUTO_08",
            "action": "SAMPLE_VALUE"
          },
          {
            "sensorId": "BOOL_LA_PUMP_OFF_01",
            "action": "SAMPLE_VALUE"
          },
          {
            "sensorId": "COUNT_DA_SPEED_CTRL_01_A",
            "action": "SAMPLE_COUNTER"
          },
          {
            "sensorId": "RPM_LA_PUMP_06",
            "action": "SAMPLE_FREQUENCY"
          },
          {
            "sensorId": "RPM_LA_PUMP_07",
            "action": "SAMPLE_FREQUENCY"
          },
          {
            "sensorId": "RPM_LA_PUMP_08",
            "action": "SAMPLE_FREQUENCY"
          },
          {
            "sensorId": "COUNT_LA_SPEED_CTRL_01_A",
            "action": "SAMPLE_COUNTER"
          },
          {
            "sensorId": "FREQ_LA_PUMP_01",
            "action": "SAMPLE_FREQUENCY"
          },
          {
            "sensorId": "FREQ_LA_PUMP_02",
            "action": "SAMPLE_FREQUENCY"
          },
          {
            "sensorId": "FREQ_LA_PUMP_03",
            "action": "SAMPLE_FREQUENCY"
          },
          {
            "sensorId": "FREQ_LA_PUMP_04",
            "action": "SAMPLE_FREQUENCY"
          },
          {
            "sensorId": "COUNT_LA_SPEED_CTRL_02_A",
            "action": "SAMPLE_COUNTER"
          },
          {
            "sensorId": "RPM_LA_PUMP_01",
            "action": "SAMPLE_FREQUENCY"
          },
          {
            "sensorId": "FREQ_LA_PUMP_05",
            "action": "SAMPLE_FREQUENCY"
          },
          {
            "sensorId": "FREQ_LA_PUMP_06",
            "action": "SAMPLE_FREQUENCY"
          },
          {
            "sensorId": "FREQ_LA_PUMP_07",
            "action": "SAMPLE_FREQUENCY"
          },
          {
            "sensorId": "FREQ_LA_PUMP_08",
            "action": "SAMPLE_FREQUENCY"
          },
          {
            "sensorId": "BOOL_DA_AUTO_01",
            "action": "SAMPLE_VALUE"
          },
          {
            "sensorId": "BOOL_DA_AUTO_02",
            "action": "SAMPLE_VALUE"
          },
          {
            "sensorId": "BOOL_DA_OFF_01",
            "action": "SAMPLE_VALUE"
          },
          {
            "sensorId": "BOOL_DA_OFF_02",
            "action": "SAMPLE_VALUE"
          },
          {
            "sensorId": "RPM_LA_PUMP_02",
            "action": "SAMPLE_FREQUENCY"
          },
          {
            "sensorId": "RPM_LA_PUMP_03",
            "action": "SAMPLE_FREQUENCY"
          },
          {
            "sensorId": "RPM_LA_PUMP_04",
            "action": "SAMPLE_FREQUENCY"
          },
          {
            "sensorId": "COUNT_DA_SPEED_CTRL_02_A",
            "action": "SAMPLE_COUNTER"
          },
          {
            "sensorId": "RPM_LA_PUMP_05",
            "action": "SAMPLE_FREQUENCY"
          },
          {
            "sensorId": "FLOW_ACID_MAG_01",
            "action": "SAMPLE_FREQUENCY"
          }
        ]
      }
    ]
  }
}