{
  "pidParameters": [
    {
      "name": "DRY_ADD_01",
      "pidParams": {
        "kp": 1000.0,
        "ki": 50.0,
        "kd": 0.0,
        "outmax": 100.0,
        "outmin": 0.0,
        "maxRateOfChange": 0.0
      },
      "initialSetpoint": 0.0
    },
    {
      "name": "DRY_ADD_02",
      "pidParams": {
        "kp": 1000.0,
        "ki": 50.0,
        "kd": 0.0,
        "outmax": 100.0,
        "outmin": 0.0,
        "maxRateOfChange": 0.0
      },
      "initialSetpoint": 0.0
    },
    {
      "name": "LA_PUMP_01",
      "pidParams": {
        "kp": 2.0,
        "ki": 8.0,
        "kd": 0.0,
        "outmax": 100.0,
        "outmin": 0.0,
        "maxRateOfChange": 0.0
      },
      "initialSetpoint": 0.0
    },
    {
      "name": "LA_PUMP_02",
      "pidParams": {
        "kp": 2.0,
        "ki": 8.0,
        "kd": 0.0,
        "outmax": 100.0,
        "outmin": 0.0,
        "maxRateOfChange": 0.0
      },
      "initialSetpoint": 0.0
    },
    {
      "name": "LA_PUMP_03",
      "pidParams": {
        "kp": 2.0,
        "ki": 2.0,
        "kd": 0.0,
        "outmax": 100.0,
        "outmin": 0.0,
        "maxRateOfChange": 0.0
      },
      "initialSetpoint": 0.0
    },
    {
      "name": "LA_PUMP_04",
      "pidParams": {
        "kp": 2.0,
        "ki": 2.0,
        "kd": 0.0,
        "outmax": 100.0,
        "outmin": 0.0,
        "maxRateOfChange": 0.0
      },
      "initialSetpoint": 0.0
    },
    {
      "name": "LA_PUMP_05",
      "pidParams": {
        "kp": 2.0,
        "ki": 8.0,
        "kd": 0.0,
        "outmax": 100.0,
        "outmin": 0.0,
        "maxRateOfChange": 0.0
      },
      "initialSetpoint": 0.0
    },
    {
      "name": "LA_PUMP_06",
      "pidParams": {
        "kp": 2.0,
        "ki": 8.0,
        "kd": 0.0,
        "outmax": 100.0,
        "outmin": 0.0,
        "maxRateOfChange": 0.0
      },
      "initialSetpoint": 0.0
    },
    {
      "name": "LA_PUMP_07",
      "pidParams": {
        "kp": 2.0,
        "ki": 2.0,
        "kd": 0.0,
        "outmax": 100.0,
        "outmin": 0.0,
        "maxRateOfChange": 0.0
      },
      "initialSetpoint": 0.0
    },
    {
      "name": "LA_PUMP_08",
      "pidParams": {
        "kp": 2.0,
        "ki": 2.0,
        "kd": 0.0,
        "outmax": 100.0,
        "outmin": 0.0,
        "maxRateOfChange": 0.0
      },
      "initialSetpoint": 0.0
    }
  ]
}