{
  "hardware": {
    "stwtype": "ESX3XL",
    "boards": [
      {
        "type": "EB02",
        "slot": "SLOT_D"
      },
      {
        "type": "EB04",
        "slot": "SLOT_B"
      },
      {
        "type": "EB09",
        "slot": "SLOT_A"
      },
      {
        "type": "EB11",
        "slot": "SLOT_E"
      },
      {
        "type": "EB11",
        "slot": "SLOT_F"
      },
      {
        "type": "IOX",
        "slot": "IOX_1",
        "ioxId": 1,
        "canbusChannel": 1,
        "ioxModel": 34460
      },
      {
        "type": "IOX",
        "slot": "IOX_2",
        "ioxId": 2,
        "canbusChannel": 1,
        "ioxModel": 34460
      }
    ]
  },
  "defaults": [],
  "components": [],
  "hwId": "BLENDER_ADDS",
  "pollingInverval": 20,
  "dataExchange": {
    "sqlconfig": {
      "username": "root",
      "password": "mobile",
      "db": "mdt_stw_simulation",
      "host": "127.0.0.1"
    }
  }
}