{
  "hmiSettings": {
    "powertrains": [
      {
        "engine": {
          "idleRpm": 750,
          "minRpm": 750,
          "maxRpm": 1950,
          "name": "ENGINE1"
        },
        "transmission": {
          "maxGear": "GEAR_3",
          "minGear": "GEAR_W",
          "hasWarmup": true,
          "name": "TRANS1"
        },
        "pressureTest": {
          "maxRpm": 1200,
          "minRpm": 750
        },
        "voltageFanControlName": "VOLTAGE_FAN_CONTROL",
        "pwmFanControlName": "PWM_FAN_CONTROL",
        "greaserName": "PUMPLUBE1",
        "pumpName": "PUMP1",
        "hasDGB": true,
        "configurableAlarms": [
          "lubePressInstantNeutral",
          "lubeTempInstantNeutral",
          "transmissionPressureInstantNeutral",
          "transmissionTempInstantNeutral",
          "DriveShaftCoverRemovedInstantBrake",
          "lubePressWarning",
          "lubeTempWarning",
          "suctionPressureWarning",
          "transmissionPressureWarning",
          "transmissionTempWarning",
          "transmissionTCTempWarning",
          "transmissionOilFilterDP",
          "lubePressInstantNeutralAtLoadRpm",
          "suctionPressureInstantNeutral",
          "batteryVoltageTooLowForWarmStart",
          "engineFuelPressureHighWarning",
          "engineFuelPressureLowWarning",
          "engineTempTooLowForWarmStart",
          "engineTurboBoostPressureWarning",
          "lubePressureWarningAtLoadRPM",
          "engineOilPressureWarning",
          "engineTorqueWarning",
          "highCircuitLowFlowCriticalAtRpm",
          "highCircuitLowFlowWarningAtRpm"
        ],
        "name": "POWERTRAIN1",
        "hmiActions": [],
        "auxSensors": [
          {
            "sensorName": "ENGINE.OIL_PRESS",
            "displayName": "OIL PRESS.",
            "unitOfMeasure": "PSI",
            "displayDigits": 4,
            "decimals": 1,
            "alarmFilter": "Engine Oil Pressure",
            "category": 1,
            "type": "Calculated"
          },
          {
            "sensorName": "TRANS.LUBE_TEMP",
            "displayName": "TRANS. OIL TEMP.",
            "unitOfMeasure": "F",
            "displayDigits": 3,
            "decimals": 0,
            "alarmFilter": "Transmission Temperature",
            "category": 2,
            "type": "Calculated"
          },
          {
            "sensorName": "POWERTRAIN1.PUMP_RPM",
            "displayName": "PUMP RPM",
            "unitOfMeasure": "RPM",
            "displayDigits": 4,
            "decimals": 0,
            "category": 3,
            "type": "Registry"
          },
          {
            "sensorName": "ENGINE_TEMPERATURE",
            "displayName": "ENGINE TEMP.",
            "unitOfMeasure": "F",
            "displayDigits": 3,
            "decimals": 0,
            "alarmFilter": "Engine Temp",
            "category": 1,
            "type": "Calculated"
          },
          {
            "sensorName": "TRANS.LUBE_PRESS",
            "displayName": "TRANS. OIL PRESS.",
            "unitOfMeasure": "PSI",
            "displayDigits": 4,
            "decimals": 0,
            "alarmFilter": "Transmission Pressure",
            "category": 2,
            "type": "Calculated"
          },
          {
            "sensorName": "PUMP.LUBE_PRESS",
            "displayName": "PUMP LUBE PRESS.",
            "unitOfMeasure": "PSI",
            "displayDigits": 4,
            "decimals": 0,
            "alarmFilter": "Pump Lube Pressure",
            "category": 3,
            "type": "Calculated"
          },
          {
            "sensorName": "TRANS.OIL-DIFF_PRESS",
            "displayName": "OIL DIFF. PRESS.",
            "unitOfMeasure": "PSI",
            "displayDigits": 4,
            "decimals": 1,
            "alarmFilter": "Transmission Oil Filter",
            "category": 2,
            "type": "Calculated"
          },
          {
            "sensorName": "PUMP.LUBE_TEMP",
            "displayName": "PUMP LUBE TEMP.",
            "unitOfMeasure": "F",
            "displayDigits": 3,
            "decimals": 0,
            "alarmFilter": "Pump Lube Temperature",
            "category": 3,
            "type": "Calculated"
          },
          {
            "sensorName": "RAIL.VOLTAGE",
            "displayName": "BATTERY VOLTAGE",
            "unitOfMeasure": "V",
            "displayDigits": 4,
            "decimals": 1,
            "category": 1,
            "type": "Calculated"
          },
          {
            "sensorName": "TRANS.TORQUE-CONVERTER_TEMP",
            "displayName": "CONVERTER TEMP.",
            "unitOfMeasure": "F",
            "displayDigits": 3,
            "decimals": 0,
            "alarmFilter": "Transmission Torque Converter Temperature",
            "category": 2,
            "type": "Calculated"
          },
          {
            "sensorName": "PUMP.SUCTION_PRESS",
            "displayName": "SUCTION PRESS.",
            "unitOfMeasure": "PSI",
            "displayDigits": 4,
            "decimals": 0,
            "alarmFilter": "Suction Pressure",
            "category": 3,
            "type": "Calculated"
          },
          {
            "sensorName": "ENGINE.HOURS",
            "displayName": "ENGINE HOURS",
            "unitOfMeasure": "HR",
            "displayDigits": 5,
            "decimals": 0,
            "category": 1,
            "type": "Calculated"
          },
          {
            "sensorName": "POWERTRAIN1.PUMP_FLOW_RATE",
            "displayName": "FLOW RATE",
            "unitOfMeasure": "BPM",
            "displayDigits": 4,
            "decimals": 2,
            "category": 3,
            "type": "Registry"
          },
          {
            "sensorName": "POWERTRAIN1.PUMP_FLOW_TOTAL",
            "displayName": "FLOW TOTAL",
            "unitOfMeasure": "BBL",
            "displayDigits": 4,
            "decimals": 1,
            "category": 3,
            "type": "Registry"
          },
          {
            "sensorName": "ENGINE.FUEL_PRESS",
            "displayName": "FUEL PRESS.",
            "unitOfMeasure": "PSI",
            "displayDigits": 4,
            "decimals": 1,
            "alarmFilter": "Engine Fuel Pressure",
            "category": 1,
            "type": "Calculated"
          },
          {
            "sensorName": "POWERTRAIN1.PUMP_HHP",
            "displayName": "PUMP HHP",
            "unitOfMeasure": "HHP",
            "displayDigits": 4,
            "decimals": 1,
            "category": 3,
            "type": "Registry"
          },
          {
            "sensorName": "ENGINE.INTAKE-MANIFOLD_PRESS",
            "displayName": "BOOST PRESS.",
            "unitOfMeasure": "PSI",
            "displayDigits": 4,
            "decimals": 1,
            "alarmFilter": "Engine Turbo Boost Pressure",
            "category": 1,
            "type": "Calculated"
          },
          {
            "sensorName": "POWERTRAIN1.PUMP_TRACKER.PUMPING_TIME",
            "displayName": "PUMP HOURS",
            "unitOfMeasure": "HR",
            "displayDigits": 5,
            "decimals": 0,
            "category": 3,
            "type": "Registry"
          },
          {
            "sensorName": "ENGINE_BOOST_TEMP_DIRECT",
            "displayName": "INTAKE TEMP. 1",
            "unitOfMeasure": "F",
            "displayDigits": 3,
            "decimals": 0,
            "category": 1,
            "type": "Calculated"
          },
          {
            "sensorName": "ENGINE_INTAKE_MANIFOLD2_TEMPERATURE",
            "displayName": "INTAKE TEMP. 2",
            "unitOfMeasure": "F",
            "displayDigits": 3,
            "decimals": 0,
            "category": 1,
            "type": "Calculated"
          },
          {
            "sensorName": "ENGINE_INTAKE_MANIFOLD3_TEMPERATURE",
            "displayName": "INTAKE TEMP. 3",
            "unitOfMeasure": "F",
            "displayDigits": 3,
            "decimals": 0,
            "category": 1,
            "type": "Calculated"
          },
          {
            "sensorName": "ENGINE_INTAKE_MANIFOLD4_TEMPERATURE",
            "displayName": "INTAKE TEMP. 4",
            "unitOfMeasure": "F",
            "displayDigits": 3,
            "decimals": 0,
            "category": 1,
            "type": "Calculated"
          },
          {
            "sensorName": "PUMP_LUBE_FLOW",
            "displayName": "PE LUBE FLOW",
            "unitOfMeasure": "GPM",
            "displayDigits": 4,
            "decimals": 0,
            "alarmFilter": "PE Lube Rate",
            "category": 3,
            "type": "Calculated"
          }
        ],
        "configurableAlarmDefinitions": [],
        "features": [],
        "voltageFanControl": {
          "temperatureReading": "ENGINE_TEMPERATURE",
          "name": "VOLTAGE_FAN_CONTROL"
        },
        "pwmFanControl": {
          "temperatureReading": "ENGINE_TEMPERATURE",
          "name": "PWM_FAN_CONTROL"
        }
      }
    ],
    "secondaryLanes": [],
    "genericComponents": [],
    "pseudoSensors": [],
    "commandTimeoutMs": 1000,
    "faultCodes": [],
    "alarms": {
      "clearCodesMenu": {
        "resetMenu": false,
        "clearCodesMenuItem": [
          {
            "sensor": "ENGINE_DGB_RESET",
            "display": "Clear Engine DGB Alarms"
          }
        ]
      }
    }
  }
}