{
   "RegistrationName": "621680",
   "RegistrationDescription": "621680",
   "SerialNumber": "FPC8212",
   "PumpModel": "",
   "RegistrationGuid": "32ccc800-4444-4289-a14e-cba053230b6e",
   "EngineModel": "Cummins QSK50 Tier2",
   "TransModel": "Allison 9832",
   "DataVanHMIIp": "172.18.1.2",
   "LocalHMIIp": "172.18.1.2",
   "RpcIp": "192.168.0.92",
   "HardwareRev": "8.0",
   "configs": {
      "PRES_DISCHARGE_01_CONFIG": {
         "sensMin": 0.0,
         "scalingFactor": 1.0,
         "sensMax": 15000.0,
         "sigMin": 4000.0,
         "sigMinOffset": 258.0,
         "sigMax": 20000.0,
         "sigMaxOffset": 258.0
      },
      "FLOW_PWRENDLUBE_01_CONFIG": {
         "sensMin": 6.0,
         "scalingFactor": 1.0,
         "sensMax": 160.0,
         "sigMin": 4000.0,
         "sigMinOffset": 0.0,
         "sigMax": 20000.0,
         "sigMaxOffset": 0.0
      },
      "PRES_SUCTION_01_CONFIG": {
         "sensMin": 0.0,
         "scalingFactor": 1.0,
         "sensMax": 300.0,
         "sigMin": 4000.0,
         "sigMinOffset": 438.0,
         "sigMax": 20000.0,
         "sigMaxOffset": 438.0
      },
      "PRES_PWRENDLUBE_01_CONFIG": {
         "sensMin": 0.0,
         "scalingFactor": 1.0,
         "sensMax": 750.0,
         "sigMin": 4000.0,
         "sigMinOffset": 0.0,
         "sigMax": 20000.0,
         "sigMaxOffset": 0.0
      }
   },
   "powertrains": {
      "PUMP1": {
         "cylinders": 5,
         "bore": 4.0,
         "stroke": 8.0,
         "gearRatio": 6.3530001640319824,
         "efficiency": 0.93999999761581421
      },
      "PWM_FAN_CONTROL": {
         "enabled": false,
         "invertedRange": false,
         "constantOn": false,
         "failOn": false,
         "highTemperature": 180.0,
         "lowTemperature": 130.0
      },
      "VOLTAGE_FAN_CONTROL": {
         "enabled": true,
         "invertedRange": false,
         "constantOn": true,
         "failOn": true,
         "highTemperature": 170.0,
         "lowTemperature": 130.0
      },
      "PUMPLUBE1": {
         "rotationsPerLubeCycleOff": 60,
         "cycleDuration": 15000,
         "proximityCountsPerCycle": 0
      }
   }
}