{
  "hardware": {
    "stwtype": "ESX3XM",
    "boards": [
      {
        "type": "EB04",
        "slot": "SLOT_B"
      },
      {
        "type": "EB09",
        "slot": "SLOT_A"
      }
    ]
  },
  "defaults": [
    {
      "sensor": "PRES_DISCHARGE_01",
      "value": 4000
    },
    {
      "sensor": "PRES_TRANSLUBE_01",
      "value": 9000
    },
    {
      "sensor": "PRES_PWRENDLUBE_01",
      "value": 9000
    },
    {
      "sensor": "PRES_SUCTION_01",
      "value": 9000
    },
    {
      "sensor": "TEMP_PWRENDLUBE_01",
      "value": 9000
    },
    {
      "sensor": "AUX_BATTERY",
      "value": 24000
    },
    {
      "sensor": "FLOW_PWRENDLUBE_01",
      "value": 9000
    }
  ],
  "components": [
    {
      "sensors": [
        {
          "sensor": "PRES_DISCHARGE_01",
          "variance": 2
        },
        {
          "sensor": "PRES_PWRENDLUBE_01",
          "variance": 25
        },
        {
          "sensor": "PRES_SUCTION_01",
          "variance": 50
        },
        {
          "sensor": "PRES_TRANSLUBE_01",
          "variance": 25
        },
        {
          "sensor": "TEMP_PWRENDLUBE_01",
          "variance": 40
        }
      ],
      "name": "wobbler",
      "type": "wobbler"
    },
    {
      "control": "VOLTAGE_FAN_CONTROL",
      "minControl": 2000,
      "maxControl": 10000,
      "minTransfer": 0.5,
      "maxTransfer": 5.0,
      "name": "VOLTAGE_FAN_CONTROL",
      "type": "coolingFan"
    },
    {
      "canbusChannel": 1,
      "starterRelays": [
        "STARTER_RELAY"
      ],
      "ecmEnable": "ECM_ENABLE",
      "eKill": "E_KILL_OUT",
      "rss": "RUN_START_STOP",
      "idleRPM": 750,
      "maxRPM": 1950,
      "canbusAddress": 0,
      "controlDeviceAddress": 33,
      "fuelConsumptionRate": 0.0,
      "dgb": true,
      "dgbType": "QSK50T2DF",
      "dgbCanAddress": 16,
      "coolers": [
        "VOLTAGE_FAN_CONTROL"
      ],
      "name": "ENGINE1",
      "type": "smartEngine",
      "ecmEnableWhileIgnitionOn": false
    },
    {
      "canbusChannel": 1,
      "engine": "ENGINE1",
      "instantNeutral": "INSTANT_NEUTRAL_OUT",
      "instantNeutralActiveState": false,
      "lockupRPM": 900,
      "gearRatios": [
        0.0,
        4.87,
        3.57,
        2.87,
        2.42,
        2.04,
        1.78
      ],
      "canbusAddress": 3,
      "shiftDelay": 500,
      "controlDeviceAddress": 5,
      "name": "TRANS1",
      "type": "fracTrans"
    },
    {
      "flowTarget": "#WELL",
      "transmission": "TRANS1",
      "bore": 4.5,
      "stroke": 8.0,
      "cylinders": 3,
      "efficiency": 0.93999999761581421,
      "unitsMultiplier": 0.00010307152842869982,
      "gearRatio": 6.3530001640319824,
      "pressureSensor": "PRES_DISCHARGE_01",
      "coolers": [],
      "name": "PUMP1",
      "type": "pump"
    },
    {
      "name": "#WELL",
      "type": "flowConnector"
    },
    {
      "canbusChannel": 3,
      "canbusAddress": 10,
      "name": "GRPR",
      "type": "canIO"
    }
  ],
  "type": "FracPump",
  "hwId": "CATCATSTW",
  "dataExchange": {
    "sqlconfig": {
      "username": "root",
      "password": "mobile",
      "db": "mdt_stw_simulation",
      "host": "127.0.0.1"
    }
  }
}