{
  "powertrains": [
    {
      "name": "POWERTRAIN1",
      "heartbeatContinuous": false,
      "engineEnableRelay": "ECM_ENABLE",
      "startRunRelay": "RUN_START_STOP",
      "ekillRelay": "E_KILL_OUT",
      "delayBeforeParkAfterStart": 5000,
      "maxControlHeartBeatInterval": 60000,
      "stopEngineRpm": 0,
      "stopEngineMaxTime": 3000,
      "restrictStopEngineToPorN": true,
      "engineDisableDelay": 0,
      "ekillOnState": true,
      "ekillDelay": 7000,
      "ekillFirst": true,
      "ekillRelayOnDuration": 10000,
      "dischargePressureSensor": "DISCHARGE_PRESS_SENSOR",
      "defaultPressureTrip": 2000,
      "minDischargePressureSensorUa": 3000,
      "startConstraint": "SensorCheck",
      "controlPanel": {
        "checkEngineLed": "CHK_ENG_LED",
        "stopEngineLed": "STOP_ENG_LED",
        "checkTransmissionLed": "TRANS_FAULT_LED",
        "checkPowerEndLed": "PE_FAULT_LED",
        "engineLamps": [
          "AWL",
          "MIL",
          "RSL"
        ],
        "transmissionLamps": [
          "AWL",
          "MIL",
          "RSL"
        ],
        "mainPower": {
          "name": "mainPower",
          "sensor": "IGNITION",
          "activeState": true
        },
        "startSwitch": {
          "name": "startSwitch",
          "sensor": "START",
          "activeState": true
        },
        "ekillSwitch": {
          "name": "ekillSwitch",
          "sensor": "E_KILL",
          "activeState": true
        },
        "instantNeutralSwitch": {
          "name": "instantNeutralSwitch",
          "sensor": "INSTANT_NEUTRAL",
          "activeState": false
        },
        "throttle": {
          "pulsesPerTurn": 1024,
          "revolutionsForFullRange": 6,
          "throttleInputSensor": "THROTTLE_A",
          "type": "encoder"
        },
        "gearSelector": {
          "gearUpSwitch": {
            "name": "gearUpSwitch",
            "sensor": "SHIFT_UP",
            "activeState": true
          },
          "gearDownSwitch": {
            "name": "gearDownSwitch",
            "sensor": "SHIFT_DOWN",
            "activeState": true
          },
          "type": "upDownToggle"
        },
        "name": "test panel"
      },
      "components": [
        {
          "engineType": "smart",
          "offRPM": 300,
          "engineMinTargetRPM": 750,
          "engineMaxTargetRPM": 1950,
          "pressureTestMaxRPM": 1200,
          "accumulatedUnitHours": "POWERTRAIN1.UNIT_HOURS",
          "engineHoursSensor": "ENGINE_HOURS",
          "useInternalEngineRunHours": false,
          "componentType": "engine",
          "name": "ENGINE1"
        },
        {
          "cylinders": 5,
          "bore": 4.0,
          "stroke": 8.0,
          "efficiency": 0.94,
          "gearRatio": 6.353,
          "flowRateunitsMultiplier": 0.00010307152842869982,
          "hhpRateunitsMultiplier": 42.0,
          "peLubeTempRange": "lubeTempWarning",
          "peLubePressRange": "lubePressWarning",
          "componentType": "pump",
          "name": "PUMP1"
        },
        {
          "lubeSystemEnableRelay": "LUBE_RELAY",
          "rotationsPerLubeCycleOff": 120,
          "proximityCountsPerCycle": 0,
          "cycleDuration": 10000,
          "pumpLubeType": "rotationDuration",
          "componentType": "pumpLubeSystem",
          "name": "PUMPLUBE1"
        },
        {
          "componentType": "transmission",
          "name": "TRANS1",
          "transmissionType": "fracTran",
          "maxParkRpm": 1000,
          "parkSafeShiftRpm": 800,
          "minGear": "GEAR_W",
          "maxGear": "GEAR_3",
          "lockupDisableThroughJ1939": true,
          "instantNeutralRelay": "INSTANT_NEUTRAL_OUT",
          "instantNeutralOnState": false,
          "maxRequestDuration": 10000,
          "warmupGear": "GEAR_W",
          "warmupEnabled": true,
          "finalInstantNeutralGear": "GEAR_N",
          "maxShiftFromNeutralRPM": 900,
          "noLockupWarningConstraint": "LockupWarning",
          "noLockupInstantNeutralConstraint": "LockupInstantNeutral",
          "autoBrakeInNeutral": false,
          "customBrakeSensor": "TRANS_CURRENT_GEAR_BRAKE",
          "useCustomBrakeControl": true,
          "customWarmupSensor": "TRANS_CURRENT_GEAR_WARMUP",
          "useCustomWarmupControl": true,
          "warmupShiftTimeout": 10000,
          "outputShaftSpeedSensor": "",
          "externalBrake": "DIGITAL_OUT_1"
        },
        {
          "starterRelay": "STARTER_RELAY",
          "miscType": "engineStarter",
          "componentType": "misc",
          "name": "ENGINE_STARTER"
        },
        {
          "temperatureReading": "ENGINE_TEMPERATURE",
          "lowTemperature": 130.0,
          "highTemperature": 201.0,
          "constantOn": false,
          "failOn": false,
          "activatedValue": 0,
          "deactivatedValue": 0,
          "fanControlType": "engineTransmissionTemp",
          "output": "VOLTAGE_FAN_CONTROL",
          "invertedRange": false,
          "minOutput": 2000,
          "maxOutput": 10000,
          "componentType": "fanControl",
          "enabled": true,
          "name": "VOLTAGE_FAN_CONTROL",
          "lowTemperature2": 0.0,
          "highTemperature2": 0.0
        },
        {
          "temperatureReading": "ENGINE_TEMPERATURE",
          "lowTemperature": 130.0,
          "highTemperature": 201.0,
          "constantOn": false,
          "failOn": false,
          "activatedValue": 0,
          "deactivatedValue": 0,
          "fanControlType": "engineTransmissionTemp",
          "output": "PWM_FAN_CONTROL",
          "invertedRange": false,
          "minOutput": 0,
          "maxOutput": 10000,
          "componentType": "fanControl",
          "enabled": true,
          "name": "PWM_FAN_CONTROL",
          "lowTemperature2": 0.0,
          "highTemperature2": 0.0
        },
        {
          "minPressure": 1000.0,
          "minRpm": 0.01,
          "timeSensor": "POWERTRAIN1.PUMP_TRACKER.PUMPING_TIME",
          "strokeSensor": "POWERTRAIN1.PUMP_TRACKER.PUMP_STROKES",
          "strokeFlushCount": 0.1,
          "strokeCountDivisor": 1000.0,
          "miscType": "pumpingTimeAccumulator",
          "componentType": "misc",
          "name": "PUMP_TRACKER"
        }
      ],
      "engineEnableWhileIgnitionOn": false
    }
  ]
}