{
   "RegistrationName": "621797",
   "RegistrationDescription": "621797",
   "SerialNumber": "FPC8200",
   "PumpModel": "?",
   "RegistrationGuid": "beaf3b80-1dd2-11b2-9fa8-001d48334c09",
   "EngineModel": "Cummins QSK50 Tier2",
   "TransModel": "Twin Disc TA90-7600 (TDEC500/501)",
   "DataVanHMIIp": "172.18.1.2",
   "LocalHMIIp": "172.18.1.2",
   "RpcIp": "192.168.0.92",
   "HardwareRev": "8.0",
   "configs": {
      "FLOW_PWRENDLUBE_01_CONFIG": {
         "sensMin": 6.0,
         "scalingFactor": 1.0,
         "sensMax": 160.0,
         "sigMin": 4000.0,
         "sigMinOffset": 0.0,
         "sigMax": 20000.0,
         "sigMaxOffset": 0.0
      },
      "PRES_PWRENDLUBE_01_CONFIG": {
         "sensMin": 0.0,
         "scalingFactor": 1.0,
         "sensMax": 750.0,
         "sigMin": 4000.0,
         "sigMinOffset": 0.0,
         "sigMax": 20000.0,
         "sigMaxOffset": 0.0
      },
      "PRES_DISCHARGE_01_CONFIG": {
         "sensMin": 0.0,
         "scalingFactor": 1.0,
         "sensMax": 15000.0,
         "sigMin": 4000.0,
         "sigMinOffset": 190.0,
         "sigMax": 20000.0,
         "sigMaxOffset": 190.0
      },
      "PRES_SUCTION_01_CONFIG": {
         "sensMin": 0.0,
         "scalingFactor": 1.0,
         "sensMax": 300.0,
         "sigMin": 4000.0,
         "sigMinOffset": -349.0,
         "sigMax": 20000.0,
         "sigMaxOffset": -349.0
      }
   },
   "powertrains": {
      "PUMP1": {
         "cylinders": 5,
         "bore": 4.0,
         "stroke": 8.0,
         "gearRatio": 6.3530001640319824,
         "efficiency": 0.93999999761581421
      },
      "PWM_FAN_CONTROL": {
         "enabled": true,
         "invertedRange": false,
         "constantOn": false,
         "failOn": true,
         "highTemperature": 200.0,
         "lowTemperature": 130.0
      },
      "VOLTAGE_FAN_CONTROL": {
         "enabled": false,
         "invertedRange": false,
         "constantOn": false,
         "failOn": true,
         "highTemperature": 180.0,
         "lowTemperature": 130.0
      },
      "PUMPLUBE1": {
         "rotationsPerLubeCycleOff": 60,
         "cycleDuration": 15000,
         "proximityCountsPerCycle": 0
      }
   },
   "constraints": {
      "transmissionOilFilterDP": {
         "enabled": false,
         "equalReading": null,
         "minReading": null,
         "maxDuration": 5000,
         "hmiOnly": false,
         "resetDuration": 5000,
         "maxReading": 1,
         "equalInverted": null
      }
   }
}