{
  "name": "DVS_STAGE_CALCULATIONS",
  "cleanFlowPseudoSensor": "SELECTED_CLEAN_RATE",
  "dirtyFlowPseudoSensor": "SELECTED_DIRTY_RATE",
  "stepTotals": [
    "FLOW_CNTRINPT_01_STEP_TOTAL",
    "FLOW_CNTRINPT_02_STEP_TOTAL",
    "FLOW_CNTRINPT_03_STEP_TOTAL"
  ],
  "stageTotals": [
    "FLOW_CNTRINPT_01_STAGE_TOTAL",
    "FLOW_CNTRINPT_02_STAGE_TOTAL",
    "FLOW_CNTRINPT_03_STAGE_TOTAL"
  ],
  "stageControl": {
    "type": "blenderStageControl",
    "stepTotal": "COMBINED_DISCHARGE_STEP_TOTAL",
    "stageTotal": "COMBINED_DISCHARGE_STAGE_TOTAL",
    "remoteStageStateSensor": "",
    "remoteStageCurrentStepSensor": "",
    "name": "dvsStageControl"
  },
  "additives": [
    {
      "absoluteDensity": 21.8700008392334,
      "bulkDensity": 12.829999923706055,
      "type": "additiveSource",
      "stepTotals": [],
      "stageTotals": [],
      "registryStepTotals": [],
      "registryStageTotals": [],
      "alarmConstraints": [],
      "name": "INLINE_PROPPANT_SOURCE",
      "levelSensor": ""
    }
  ],
  "augerControls": [],
  "chemPumpControls": [],
  "tubMixers": [],
  "valves": [],
  "levelControls": [],
  "greasers": [],
  "ppaCalculationMethods": [
    {
      "densitometerReading": "DENSITY_DENSITOMETER_01",
      "baseDensityReading": "DENSITY_CALCULATION_DENSITOMETER_01.BASE_DENSITY",
      "additiveSource": "INLINE_PROPPANT_SOURCE",
      "defaultBaseDensity": 8.3264,
      "calculationType": "densitometerDensity",
      "cleanFlowPseudoSensor": "SELECTED_CLEAN_RATE",
      "outputDensityReading": "DENSITY_CALCULATION_DENSITOMETER_01.CALCULATED_PPA_DENSITY",
      "outputRateReading": "DENSITY_CALCULATION_DENSITOMETER_01.CALCULATED_PPA_FLOW_RATE",
      "enabled": true,
      "ppaChangeDelay": 10000,
      "type": "ppaCalculationMethod",
      "stepTotals": [
        "DENSITY_CALCULATION_DENSITOMETER_01.STEP_TOTAL"
      ],
      "stageTotals": [
        "DENSITY_CALCULATION_DENSITOMETER_01.STAGE_TOTAL"
      ],
      "registryStepTotals": [],
      "registryStageTotals": [],
      "alarmConstraints": [],
      "name": "DENSITY_CALCULATION_DENSITOMETER_01"
    },
    {
      "densitometerReading": "DENSITY_DENSITOMETER_02",
      "baseDensityReading": "DENSITY_CALCULATION_DENSITOMETER_02.BASE_DENSITY",
      "additiveSource": "INLINE_PROPPANT_SOURCE",
      "defaultBaseDensity": 8.3264,
      "calculationType": "densitometerDensity",
      "cleanFlowPseudoSensor": "SELECTED_CLEAN_RATE",
      "outputDensityReading": "DENSITY_CALCULATION_DENSITOMETER_02.CALCULATED_PPA_DENSITY",
      "outputRateReading": "DENSITY_CALCULATION_DENSITOMETER_02.CALCULATED_PPA_FLOW_RATE",
      "enabled": true,
      "ppaChangeDelay": 10000,
      "type": "ppaCalculationMethod",
      "stepTotals": [
        "DENSITY_CALCULATION_DENSITOMETER_02.STEP_TOTAL"
      ],
      "stageTotals": [
        "DENSITY_CALCULATION_DENSITOMETER_02.STAGE_TOTAL"
      ],
      "registryStepTotals": [],
      "registryStageTotals": [],
      "alarmConstraints": [],
      "name": "DENSITY_CALCULATION_DENSITOMETER_02"
    },
    {
      "densitometerReading": "DENSITY_DENSITOMETER_03",
      "baseDensityReading": "DENSITY_CALCULATION_DENSITOMETER_03.BASE_DENSITY",
      "additiveSource": "INLINE_PROPPANT_SOURCE",
      "defaultBaseDensity": 8.3264,
      "calculationType": "densitometerDensity",
      "cleanFlowPseudoSensor": "SELECTED_CLEAN_RATE",
      "outputDensityReading": "DENSITY_CALCULATION_DENSITOMETER_03.CALCULATED_PPA_DENSITY",
      "outputRateReading": "DENSITY_CALCULATION_DENSITOMETER_03.CALCULATED_PPA_FLOW_RATE",
      "enabled": true,
      "ppaChangeDelay": 10000,
      "type": "ppaCalculationMethod",
      "stepTotals": [
        "DENSITY_CALCULATION_DENSITOMETER_03.STEP_TOTAL"
      ],
      "stageTotals": [
        "DENSITY_CALCULATION_DENSITOMETER_03.STAGE_TOTAL"
      ],
      "registryStepTotals": [],
      "registryStageTotals": [],
      "alarmConstraints": [],
      "name": "DENSITY_CALCULATION_DENSITOMETER_03"
    },
    {
      "type": "ppaCalculationMethod",
      "stepTotals": [
        "SAND1_REMOTE_MASS_FLOW.STEP_TOTAL"
      ],
      "stageTotals": [
        "SAND1_REMOTE_MASS_FLOW.STAGE_TOTAL"
      ],
      "registryStepTotals": [],
      "registryStageTotals": [],
      "alarmConstraints": [],
      "name": "SAND1_REMOTE_MASS_FLOW",
      "additiveSource": "INLINE_PROPPANT_SOURCE",
      "deliveryRateSensor": "SAND1_DELIVERY_FLOW_RATE",
      "calculationType": "remoteMassFlow",
      "cleanFlowPseudoSensor": "SELECTED_CLEAN_RATE",
      "outputDensityReading": "SAND1_REMOTE_MASS_FLOW.CALCULATED_PPA_DENSITY",
      "outputRateReading": "SAND1_REMOTE_MASS_FLOW.CALCULATED_PPA_FLOW_RATE",
      "ppaChangeDelay": 10000,
      "isDefault": false
    },
    {
      "type": "ppaCalculationMethod",
      "stepTotals": [
        "SAND2_REMOTE_MASS_FLOW.STEP_TOTAL"
      ],
      "stageTotals": [
        "SAND2_REMOTE_MASS_FLOW.STAGE_TOTAL"
      ],
      "registryStepTotals": [],
      "registryStageTotals": [],
      "alarmConstraints": [],
      "name": "SAND2_REMOTE_MASS_FLOW",
      "additiveSource": "INLINE_PROPPANT_SOURCE",
      "deliveryRateSensor": "SAND2_DELIVERY_FLOW_RATE",
      "calculationType": "remoteMassFlow",
      "cleanFlowPseudoSensor": "SELECTED_CLEAN_RATE",
      "outputDensityReading": "SAND2_REMOTE_MASS_FLOW.CALCULATED_PPA_DENSITY",
      "outputRateReading": "SAND2_REMOTE_MASS_FLOW.CALCULATED_PPA_FLOW_RATE",
      "ppaChangeDelay": 10000,
      "isDefault": false
    }
  ],
  "teamedAugerControls": [
    {
      "pidControl": "INLINE_PROPPANT",
      "additiveSource": "INLINE_PROPPANT_SOURCE",
      "optimalMaxRpmAsPercentage": 0.800000011920929,
      "type": "teamedAugerControl",
      "stepTotals": [],
      "stageTotals": [],
      "registryStepTotals": [],
      "registryStageTotals": [],
      "alarmConstraints": [],
      "name": "INLINE_PROPPANT"
    }
  ],
  "gateControls": [],
  "baseComponents": [
    {
      "type": "baseComponent",
      "stepTotals": [
        "DENSITY_CALCULATION_DENSITOMETER_01.STEP_TOTAL",
        "DENSITY_CALCULATION_DENSITOMETER_02.STEP_TOTAL",
        "DENSITY_CALCULATION_DENSITOMETER_03.STEP_TOTAL",
        "SAND1_REMOTE_MASS_FLOW.STEP_TOTAL",
        "SAND2_REMOTE_MASS_FLOW.STEP_TOTAL"
      ],
      "stageTotals": [
        "DENSITY_CALCULATION_DENSITOMETER_01.STAGE_TOTAL",
        "DENSITY_CALCULATION_DENSITOMETER_02.STAGE_TOTAL",
        "DENSITY_CALCULATION_DENSITOMETER_03.STAGE_TOTAL",
        "SAND1_REMOTE_MASS_FLOW.STAGE_TOTAL",
        "SAND2_REMOTE_MASS_FLOW.STAGE_TOTAL"
      ],
      "registryStepTotals": [
        "CURRENT_CALCULATED_PPA_STEP_TOTAL"
      ],
      "registryStageTotals": [
        "CURRENT_CALCULATED_PPA_STAGE_TOTAL"
      ],
      "alarmConstraints": [],
      "name": "PPA_METHODS_RESETTER"
    },
    {
      "type": "baseComponent",
      "stepTotals": [
        "FLOW_CNTRINPT_01_STEP_TOTAL"
      ],
      "stageTotals": [
        "FLOW_CNTRINPT_01_STAGE_TOTAL"
      ],
      "registryStepTotals": [],
      "registryStageTotals": [],
      "alarmConstraints": [],
      "name": "FLOW_CNTRINPT_01_RESETTER"
    },
    {
      "type": "baseComponent",
      "stepTotals": [
        "FLOW_CNTRINPT_02_STEP_TOTAL"
      ],
      "stageTotals": [
        "FLOW_CNTRINPT_02_STAGE_TOTAL"
      ],
      "registryStepTotals": [],
      "registryStageTotals": [],
      "alarmConstraints": [],
      "name": "FLOW_CNTRINPT_02_RESETTER"
    },
    {
      "type": "baseComponent",
      "stepTotals": [
        "FLOW_CNTRINPT_03_STEP_TOTAL"
      ],
      "stageTotals": [
        "FLOW_CNTRINPT_03_STAGE_TOTAL"
      ],
      "registryStepTotals": [],
      "registryStageTotals": [],
      "alarmConstraints": [],
      "name": "FLOW_CNTRINPT_03_RESETTER"
    },
    {
      "type": "baseComponent",
      "stepTotals": [
        "DENSITY_CALCULATION_DENSITOMETER_01.STEP_TOTAL",
        "DENSITY_CALCULATION_DENSITOMETER_02.STEP_TOTAL",
        "DENSITY_CALCULATION_DENSITOMETER_03.STEP_TOTAL",
        "FLOW_CNTRINPT_01_STEP_TOTAL",
        "FLOW_CNTRINPT_02_STEP_TOTAL",
        "FLOW_CNTRINPT_03_STEP_TOTAL",
        "FLOW_CNTRINPT_04_STEP_TOTAL",
        "FLOW_CNTRINPT_05_STEP_TOTAL",
        "FLOW_CNTRINPT_06_STEP_TOTAL"
      ],
      "stageTotals": [
        "DENSITY_CALCULATION_DENSITOMETER_01.STAGE_TOTAL",
        "DENSITY_CALCULATION_DENSITOMETER_02.STAGE_TOTAL",
        "DENSITY_CALCULATION_DENSITOMETER_03.STAGE_TOTAL",
        "FLOW_CNTRINPT_01_STAGE_TOTAL",
        "FLOW_CNTRINPT_02_STAGE_TOTAL",
        "FLOW_CNTRINPT_03_STAGE_TOTAL",
        "FLOW_CNTRINPT_04_STAGE_TOTAL",
        "FLOW_CNTRINPT_05_STAGE_TOTAL",
        "FLOW_CNTRINPT_06_STAGE_TOTAL"
      ],
      "registryStepTotals": [
        "CURRENT_CALCULATED_PPA_STEP_TOTAL"
      ],
      "registryStageTotals": [
        "CURRENT_CALCULATED_PPA_STAGE_TOTAL"
      ],
      "alarmConstraints": [],
      "name": "TOTALS"
    },
    {
      "type": "baseComponent",
      "stepTotals": [
        "FLOW_CNTRINPT_04_STEP_TOTAL"
      ],
      "stageTotals": [
        "FLOW_CNTRINPT_04_STAGE_TOTAL"
      ],
      "registryStepTotals": [],
      "registryStageTotals": [],
      "alarmConstraints": [],
      "name": "FLOW_CNTRINPT_04_RESETTER"
    },
    {
      "type": "baseComponent",
      "stepTotals": [
        "FLOW_CNTRINPT_05_STEP_TOTAL"
      ],
      "stageTotals": [
        "FLOW_CNTRINPT_05_STAGE_TOTAL"
      ],
      "registryStepTotals": [],
      "registryStageTotals": [],
      "alarmConstraints": [],
      "name": "FLOW_CNTRINPT_05_RESETTER"
    },
    {
      "type": "baseComponent",
      "stepTotals": [
        "FLOW_CNTRINPT_06_STEP_TOTAL"
      ],
      "stageTotals": [
        "FLOW_CNTRINPT_06_STAGE_TOTAL"
      ],
      "registryStepTotals": [],
      "registryStageTotals": [],
      "alarmConstraints": [],
      "name": "FLOW_CNTRINPT_06_RESETTER"
    }
  ]
}