{
  "system": {
    "logging": {
      "logLevel": "ERROR",
      "logDir": "logs",
      "mainboardLoggingPath": "logs/mainboard.log",
      "_comment_Level": "One of:  ERROR, WARN, INFO, DEBUG",
      "_comment_LogDir": "Directory will be prepended with <dataflashdir>/"
    },
    "network": {
      "timeServer": [
        "$DataVanHMIIp"
      ],
      "registrationServer": "$DataVanHMIIp",
      "registrationName": "$RegistrationName",
      "registrationDescription": "DVS",
      "registrationGuid": "$RegistrationGuid",
      "registrationUnitType": "Datavan_Main",
      "registrationMetadata": "{\"ProductVersion\":\"8.0.0\"}",
      "registrationServerPort": 8080,
      "registrationServicePath": "MDT_RESTful_DA/configuration/runtime/registration/"
    },
    "commandReceiver": {
      "logFile": "logs/command_receiver.log",
      "sensorConfigPath": "etc/sensorConfig.json",
      "mainboardPort": 9000,
      "mainboardIp": "127.0.0.1",
      "ownerIp": "$DataVanHMIIp",
      "sensorConfigBroadcastFreq": 60,
      "enableHTTPDataServer": false,
      "stageConfigServicePath": "MDT_RESTful_DA/configuration/runtime/staging",
      "ownerPort": 8080,
      "sensorConfigServicePath": "/MDT_RESTful_DA/configuration/runtime/sensors"
    },
    "configurationRecipients": [
      {
        "name": "Process Control",
        "address": "$DataVanHMIIp",
        "port": 8080
      },
      {
        "name": "MPC",
        "address": "$MpcHMIIp",
        "port": 8080,
        "receivesStageConfigs": false
      }
    ],
    "dataAcquisitionQueues": {
      "queues": [
        {
          "readingsDir": "queues/messages",
          "inprogressDir": "queues/messages_inprogress",
          "canskipmessages": true,
          "recipients": [
            {
              "name": "Process Control",
              "queuePath": "queues/messages_process_control",
              "servicePath": "MDT_RESTful_DA/readings/general",
              "address": "$DataVanHMIIp",
              "port": 8080,
              "connectionTimeoutMS": 1000
            },
            {
              "name": "MPC",
              "queuePath": "queues/messages_mpc",
              "servicePath": "MDT_RESTful_DA/readings/general",
              "address": "$MpcHMIIp",
              "port": 8080,
              "connectionTimeoutMS": 1000
            },
            {
              "name": "MPC2",
              "queuePath": "queues/messages_mpc2",
              "servicePath": "MDT_RESTful_DA/readings/general",
              "address": "$Mpc2HMIIp",
              "port": 8080,
              "connectionTimeoutMS": 1000
            }
          ]
        },
        {
          "readingsDir": "queues/alarms",
          "inprogressDir": "queues/alarms_inprogress",
          "recipients": [
            {
              "name": "Process Control",
              "queuePath": "queues/alarms_process_control",
              "servicePath": "MDT_RESTful_DA/errors/stwerror",
              "address": "$DataVanHMIIp",
              "port": 8080,
              "connectionTimeoutMS": 1000
            },
            {
              "name": "MPC",
              "queuePath": "queues/alarms_mpc",
              "servicePath": "MDT_RESTful_DA/errors/stwerror",
              "address": "$MpcHMIIp",
              "port": 8080,
              "connectionTimeoutMS": 1000
            },
            {
              "name": "MPC2",
              "queuePath": "queues/alarms_mpc2",
              "servicePath": "MDT_RESTful_DA/errors/stwerror",
              "address": "$Mpc2HMIIp",
              "port": 8080,
              "connectionTimeoutMS": 1000
            }
          ]
        },
        {
          "readingsDir": "queues/remote_messages",
          "inprogressDir": "queues/remote_messages_inprogress",
          "recipients": [
            {
              "name": "Secondary DVS",
              "queuePath": "queues/remote_messages_inputs",
              "servicePath": "control/readings/remote_sensor_readings",
              "address": "$SecondaryDVSIp",
              "port": 3000,
              "connectionTimeoutMS": 1000
            }
          ],
          "sensors": [
            "PRESSURE_01"
          ]
        }
      ]
    }
  }
}