{
  "logging": {
    "defaultLoggerId": "main-logger",
    "logWriters": [
      {
        "logWriterId": "main-file-writer",
        "type": "File",
        "path": "logs/mainboard.log"
      }
    ],
    "loggers": [
      {
        "loggerId": "main-logger",
        "logLevel": "ERROR",
        "logWriterId": "main-file-writer"
      },
      {
        "loggerId": "Control-logger",
        "logLevel": "ERROR",
        "logWriterId": "main-file-writer"
      },
      {
        "loggerId": "ControlExe-logger",
        "logLevel": "ERROR",
        "logWriterId": "main-file-writer"
      },
      {
        "loggerId": "DA-1-logger",
        "logLevel": "ERROR",
        "logWriterId": "main-file-writer"
      }
    ]
  },
  "rtos": {
    "usPerTimerTick": 1000,
    "remoteControl": {
      "localIp": "",
      "datavanIp": "",
      "remoteControlEnabled": false
    },
    "boards": [
      {
        "type": "MAIN",
        "boardId": "MAIN",
        "slot": "MAIN",
        "model": 62475,
        "active": true
      },
      {
        "type": "EB09",
        "boardId": "EB09-A",
        "slot": "SLOT_A",
        "model": 55168,
        "active": true
      },
      {
        "type": "EB07",
        "boardId": "EB07-C",
        "slot": "SLOT_C",
        "model": 47349,
        "active": true
      },
      {
        "type": "EB11",
        "boardId": "EB11-B",
        "slot": "SLOT_B",
        "model": 34460,
        "active": true
      }
    ],
    "sensors": [
      {
        "sensorId": "FLOW_CNTRINPT_01",
        "boardId": "MAIN",
        "channel": "X_IN_01",
        "inputType": "X_IN_TYPE_FREQUENCY",
        "tag": "FRQ 1"
      },
      {
        "sensorId": "FLOW_CNTRINPT_02",
        "boardId": "MAIN",
        "channel": "X_IN_02",
        "inputType": "X_IN_TYPE_FREQUENCY",
        "tag": "FRQ 2"
      },
      {
        "sensorId": "FLOW_CNTRINPT_03",
        "boardId": "MAIN",
        "channel": "X_IN_03",
        "inputType": "X_IN_TYPE_FREQUENCY",
        "tag": "FRQ 3"
      },
      {
        "sensorId": "EKILL",
        "boardId": "MAIN",
        "channel": "X_IN_04",
        "inputType": "X_IN_TYPE_DIGITAL",
        "inputCircuit": [
          "X_IN_CIRCUIT_PULL_UP"
        ],
        "tag": "EKILL SWITCH"
      },
      {
        "sensorId": "FLEET_INST_NEUTRAL",
        "boardId": "MAIN",
        "channel": "X_IN_05",
        "inputType": "X_IN_TYPE_DIGITAL",
        "inputCircuit": [
          "X_IN_CIRCUIT_PULL_UP"
        ],
        "tag": "INSTANT NEUTRAL"
      },
      {
        "sensorId": "DENS_METER_01",
        "boardId": "MAIN",
        "channel": "X_IN_06",
        "inputType": "X_IN_TYPE_CURRENT",
        "tag": "ANALOG IN 1"
      },
      {
        "sensorId": "DENS_METER_02",
        "boardId": "MAIN",
        "channel": "X_IN_07",
        "inputType": "X_IN_TYPE_CURRENT",
        "tag": "ANALOG IN 2"
      },
      {
        "sensorId": "DENS_METER_03",
        "boardId": "MAIN",
        "channel": "X_IN_08",
        "inputType": "X_IN_TYPE_CURRENT",
        "tag": "ANALOG IN 3"
      },
      {
        "sensorId": "PRES_CABLEREEL_01",
        "boardId": "MAIN",
        "channel": "X_IN_09",
        "inputType": "X_IN_TYPE_CURRENT",
        "tag": "ANALOG IN 4"
      },
      {
        "sensorId": "PRES_CABLEREEL_02",
        "boardId": "MAIN",
        "channel": "X_IN_10",
        "inputType": "X_IN_TYPE_CURRENT",
        "tag": "ANALOG IN 5"
      },
      {
        "sensorId": "PRES_CABLEREEL_03",
        "boardId": "MAIN",
        "channel": "X_IN_11",
        "inputType": "X_IN_TYPE_CURRENT",
        "tag": "ANALOG IN 6"
      },
      {
        "sensorId": "PRES_CABLEREEL_04",
        "boardId": "MAIN",
        "channel": "X_IN_12",
        "inputType": "X_IN_TYPE_CURRENT",
        "tag": "ANALOG IN 7"
      },
      {
        "sensorId": "PRES_CABLEREEL_05",
        "boardId": "MAIN",
        "channel": "X_IN_13",
        "inputType": "X_IN_TYPE_CURRENT",
        "tag": "ANALOG IN 8"
      },
      {
        "sensorId": "PRES_CABLEREEL_06",
        "boardId": "MAIN",
        "channel": "X_IN_14",
        "inputType": "X_IN_TYPE_CURRENT",
        "tag": "ANALOG IN 9"
      },
      {
        "sensorId": "PRES_CABLEREEL_07",
        "boardId": "MAIN",
        "channel": "X_IN_15",
        "inputType": "X_IN_TYPE_CURRENT",
        "tag": "ANALOG IN 10"
      },
      {
        "sensorId": "PRES_CABLEREEL_08",
        "boardId": "EB09-A",
        "channel": "X09_IN_01",
        "inputType": "X09_IN_TYPE_CURRENT",
        "tag": "ANALOG IN 11"
      },
      {
        "sensorId": "PRES_CABLEREEL_09",
        "boardId": "EB09-A",
        "channel": "X09_IN_02",
        "inputType": "X09_IN_TYPE_CURRENT",
        "tag": "ANALOG IN 12"
      },
      {
        "sensorId": "PRES_CABLEREEL_10",
        "boardId": "EB09-A",
        "channel": "X09_IN_03",
        "inputType": "X09_IN_TYPE_CURRENT",
        "tag": "ANALOG IN 13"
      },
      {
        "sensorId": "PRES_CABLEREEL_11",
        "boardId": "EB09-A",
        "channel": "X09_IN_04",
        "inputType": "X09_IN_TYPE_CURRENT",
        "tag": "ANALOG IN 14"
      },
      {
        "sensorId": "PRES_CABLEREEL_12",
        "boardId": "EB09-A",
        "channel": "X09_IN_05",
        "inputType": "X09_IN_TYPE_CURRENT",
        "tag": "ANALOG IN 15"
      },
      {
        "sensorId": "PRES_CABLEREEL_13",
        "boardId": "EB09-A",
        "channel": "X09_IN_06",
        "inputType": "X09_IN_TYPE_CURRENT",
        "tag": "ANALOG IN 16"
      },
      {
        "sensorId": "PRES_CABLEREEL_14",
        "boardId": "EB09-A",
        "channel": "X09_IN_07",
        "inputType": "X09_IN_TYPE_CURRENT",
        "tag": "ANALOG IN 17"
      },
      {
        "sensorId": "PRES_CABLEREEL_15",
        "boardId": "EB09-A",
        "channel": "X09_IN_08",
        "inputType": "X09_IN_TYPE_CURRENT",
        "tag": "ANALOG IN 18"
      },
      {
        "sensorId": "PRES_CABLEREEL_16",
        "boardId": "EB09-A",
        "channel": "X09_IN_09",
        "inputType": "X09_IN_TYPE_CURRENT",
        "tag": "ANALOG IN 19"
      },
      {
        "sensorId": "PRES_CABLEREEL_17",
        "boardId": "EB09-A",
        "channel": "X09_IN_10",
        "inputType": "X09_IN_TYPE_CURRENT",
        "tag": "ANALOG IN 20"
      },
      {
        "sensorId": "PRES_CABLEREEL_18",
        "boardId": "EB09-A",
        "channel": "X09_IN_11",
        "inputType": "X09_IN_TYPE_CURRENT",
        "tag": "ANALOG IN 21"
      },
      {
        "sensorId": "PRES_CABLEREEL_19",
        "boardId": "EB09-A",
        "channel": "X09_IN_12",
        "inputType": "X09_IN_TYPE_CURRENT",
        "tag": "ANALOG IN 22"
      },
      {
        "sensorId": "PRES_CABLEREEL_20",
        "boardId": "EB11-B",
        "channel": "X11_IN_01",
        "inputType": "X11_IN_TYPE_CURRENT",
        "tag": "ANALOG IN 23"
      },
      {
        "sensorId": "PRES_CABLEREEL_21",
        "boardId": "EB11-B",
        "channel": "X11_IN_02",
        "inputType": "X11_IN_TYPE_CURRENT",
        "tag": "ANALOG IN 24"
      },
      {
        "sensorId": "PRES_CABLEREEL_22",
        "boardId": "EB11-B",
        "channel": "X11_IN_03",
        "inputType": "X11_IN_TYPE_CURRENT",
        "tag": "ANALOG IN 25"
      },
      {
        "sensorId": "PRES_CABLEREEL_23",
        "boardId": "EB11-B",
        "channel": "X11_IN_04",
        "inputType": "X11_IN_TYPE_CURRENT",
        "tag": "ANALOG IN 26"
      },
      {
        "sensorId": "PRES_CABLEREEL_24",
        "boardId": "EB11-B",
        "channel": "X11_IN_05",
        "inputType": "X11_IN_TYPE_CURRENT",
        "tag": "ANALOG IN 27"
      },
      {
        "sensorId": "PRES_CABLEREEL_25",
        "boardId": "EB11-B",
        "channel": "X11_IN_06",
        "inputType": "X11_IN_TYPE_CURRENT",
        "tag": "ANALOG IN 28"
      }
    ],
    "outputs": [
      {
        "outputId": "STROBE_LIGHT_OUT",
        "channelId": "X_OUT_01",
        "boardId": "MAIN",
        "outputType": "DIGITAL",
        "initialValue": 1
      },
      {
        "outputId": "STW_BOOT_SGN",
        "channelId": "X_OUT_05",
        "boardId": "MAIN",
        "outputType": "DIGITAL",
        "initialValue": 1
      },
      {
        "outputId": "FLOW_DERIVED_OUT_01",
        "channelId": "X11_OUT_01",
        "boardId": "EB11-B",
        "outputType": "CURRENT",
        "initialValue": 0,
        "outputMode": "DERIVED",
        "sensorName": "FLOW_OUTPUT_01",
        "sensorConfig": "FLOW_DERIVED_OUT_01_CONFIG"
      },
      {
        "outputId": "FLOW_DERIVED_OUT_02",
        "channelId": "X11_OUT_02",
        "boardId": "EB11-B",
        "outputType": "CURRENT",
        "initialValue": 0,
        "outputMode": "DERIVED",
        "sensorName": "FLOW_OUTPUT_02",
        "sensorConfig": "FLOW_DERIVED_OUT_02_CONFIG"
      }
    ],
    "calculatedSensorsEnabled": true,
    "alarmsEnabled": true,
    "powertrainsEnabled": false,
    "blenderEnabled": true,
    "controlOutputMapsEnabled": false,
    "pidControls": {
      "parametersFile": "etc/pidParameters.config",
      "controls": [
        "INLINE_PROPPANT"
      ]
    },
    "pseudoSensors": [
      {
        "name": "SELECTED_CLEAN_RATE",
        "sensorCalculations": [
          "COMBINED_CLEAN_RATE"
        ]
      },
      {
        "name": "SELECTED_DIRTY_RATE",
        "sensorCalculations": [
          "COMBINED_DISCHARGE_RATE"
        ]
      },
      {
        "name": "SELECTED_GLOBAL_PRESSURE_TRIP",
        "sensorCalculations": [
          "PRESSURE_01_CALCULATED",
          "PRESSURE_02_CALCULATED",
          "PRESSURE_03_CALCULATED",
          "PRESSURE_04_CALCULATED",
          "PRESSURE_05_CALCULATED",
          "PRESSURE_06_CALCULATED",
          "PRESSURE_07_CALCULATED",
          "PRESSURE_08_CALCULATED",
          "PRESSURE_09_CALCULATED",
          "PRESSURE_10_CALCULATED",
          "PRESSURE_11_CALCULATED",
          "PRESSURE_12_CALCULATED",
          "PRESSURE_13_CALCULATED",
          "PRESSURE_14_CALCULATED",
          "PRESSURE_15_CALCULATED",
          "PRESSURE_16_CALCULATED",
          "PRESSURE_17_CALCULATED",
          "PRESSURE_18_CALCULATED",
          "PRESSURE_19_CALCULATED",
          "PRESSURE_20_CALCULATED",
          "PRESSURE_21_CALCULATED",
          "PRESSURE_22_CALCULATED",
          "PRESSURE_23_CALCULATED",
          "PRESSURE_24_CALCULATED",
          "PRESSURE_25_CALCULATED",
          "PRESSURE_26_CALCULATED",
          "PRESSURE_27_CALCULATED",
          "PRESSURE_28_CALCULATED",
          "PRESSURE_29_CALCULATED",
          "PRESSURE_30_CALCULATED",
          "PRESSURE_31_CALCULATED",
          "PRESSURE_32_CALCULATED",
          "PRESSURE_33_CALCULATED",
          "PRESSURE_34_CALCULATED",
          "PRESSURE_35_CALCULATED",
          "PRESSURE_36_CALCULATED",
          "PRESSURE_37_CALCULATED",
          "PRESSURE_38_CALCULATED",
          "PRESSURE_39_CALCULATED",
          "PRESSURE_40_CALCULATED",
          "PRESSURE_41_CALCULATED",
          "PRESSURE_42_CALCULATED",
          "PRESSURE_43_CALCULATED",
          "PRESSURE_44_CALCULATED",
          "PRESSURE_45_CALCULATED",
          "PRESSURE_46_CALCULATED",
          "PRESSURE_47_CALCULATED",
          "PRESSURE_48_CALCULATED",
          "PRESSURE_49_CALCULATED",
          "PRESSURE_50_CALCULATED",
          "PRESSURE_51_CALCULATED",
          "PRESSURE_52_CALCULATED",
          "PRESSURE_53_CALCULATED"
        ]
      },
      {
        "name": "SELECTED_GLOBAL_PRESSURE_TRIP_RAW",
        "sensorCalculations": [
          "PRESSURE_01",
          "PRESSURE_02",
          "PRESSURE_03",
          "PRESSURE_04",
          "PRESSURE_05",
          "PRESSURE_06",
          "PRESSURE_07",
          "PRESSURE_08",
          "PRESSURE_09",
          "PRESSURE_10",
          "PRESSURE_11",
          "PRESSURE_12",
          "PRESSURE_13",
          "PRESSURE_14",
          "PRESSURE_15",
          "PRESSURE_16",
          "PRESSURE_17",
          "PRESSURE_18",
          "PRESSURE_19",
          "PRESSURE_20",
          "PRESSURE_21",
          "PRESSURE_22",
          "PRESSURE_23",
          "PRESSURE_24",
          "PRESSURE_25",
          "PRESSURE_26",
          "PRESSURE_27",
          "PRESSURE_28",
          "PRESSURE_29",
          "PRESSURE_30",
          "PRESSURE_31",
          "PRESSURE_32",
          "PRESSURE_33",
          "PRESSURE_34",
          "PRESSURE_35",
          "PRESSURE_36",
          "PRESSURE_37",
          "PRESSURE_38",
          "PRESSURE_39",
          "PRESSURE_40",
          "PRESSURE_41",
          "PRESSURE_42",
          "PRESSURE_43",
          "PRESSURE_44",
          "PRESSURE_45",
          "PRESSURE_46",
          "PRESSURE_47",
          "PRESSURE_48",
          "PRESSURE_49",
          "PRESSURE_50",
          "PRESSURE_51",
          "PRESSURE_52",
          "PRESSURE_53"
        ],
        "linkSelection": "SELECTED_GLOBAL_PRESSURE_TRIP"
      },
      {
        "name": "SELECTED_SECONDARY_GLOBAL_PRESSURE_TRIP",
        "sensorCalculations": [
          "PRESSURE_01_CALCULATED",
          "PRESSURE_02_CALCULATED",
          "PRESSURE_03_CALCULATED",
          "PRESSURE_04_CALCULATED",
          "PRESSURE_05_CALCULATED",
          "PRESSURE_06_CALCULATED",
          "PRESSURE_07_CALCULATED",
          "PRESSURE_08_CALCULATED",
          "PRESSURE_09_CALCULATED",
          "PRESSURE_10_CALCULATED",
          "PRESSURE_11_CALCULATED",
          "PRESSURE_12_CALCULATED",
          "PRESSURE_13_CALCULATED",
          "PRESSURE_14_CALCULATED",
          "PRESSURE_15_CALCULATED",
          "PRESSURE_16_CALCULATED",
          "PRESSURE_17_CALCULATED",
          "PRESSURE_18_CALCULATED",
          "PRESSURE_19_CALCULATED",
          "PRESSURE_20_CALCULATED",
          "PRESSURE_21_CALCULATED",
          "PRESSURE_22_CALCULATED",
          "PRESSURE_23_CALCULATED",
          "PRESSURE_24_CALCULATED",
          "PRESSURE_25_CALCULATED",
          "PRESSURE_26_CALCULATED",
          "PRESSURE_27_CALCULATED",
          "PRESSURE_28_CALCULATED",
          "PRESSURE_29_CALCULATED",
          "PRESSURE_30_CALCULATED",
          "PRESSURE_31_CALCULATED",
          "PRESSURE_32_CALCULATED",
          "PRESSURE_33_CALCULATED",
          "PRESSURE_34_CALCULATED",
          "PRESSURE_35_CALCULATED",
          "PRESSURE_36_CALCULATED",
          "PRESSURE_37_CALCULATED",
          "PRESSURE_38_CALCULATED",
          "PRESSURE_39_CALCULATED",
          "PRESSURE_40_CALCULATED",
          "PRESSURE_41_CALCULATED",
          "PRESSURE_42_CALCULATED",
          "PRESSURE_43_CALCULATED",
          "PRESSURE_44_CALCULATED",
          "PRESSURE_45_CALCULATED",
          "PRESSURE_46_CALCULATED",
          "PRESSURE_47_CALCULATED",
          "PRESSURE_48_CALCULATED",
          "PRESSURE_49_CALCULATED",
          "PRESSURE_50_CALCULATED",
          "PRESSURE_51_CALCULATED",
          "PRESSURE_52_CALCULATED",
          "PRESSURE_53_CALCULATED"
        ]
      },
      {
        "name": "SELECTED_SECONDARY_GLOBAL_PRESSURE_TRIP_RAW",
        "sensorCalculations": [
          "PRESSURE_01",
          "PRESSURE_02",
          "PRESSURE_03",
          "PRESSURE_04",
          "PRESSURE_05",
          "PRESSURE_06",
          "PRESSURE_07",
          "PRESSURE_08",
          "PRESSURE_09",
          "PRESSURE_10",
          "PRESSURE_11",
          "PRESSURE_12",
          "PRESSURE_13",
          "PRESSURE_14",
          "PRESSURE_15",
          "PRESSURE_16",
          "PRESSURE_17",
          "PRESSURE_18",
          "PRESSURE_19",
          "PRESSURE_20",
          "PRESSURE_21",
          "PRESSURE_22",
          "PRESSURE_23",
          "PRESSURE_24",
          "PRESSURE_25",
          "PRESSURE_26",
          "PRESSURE_27",
          "PRESSURE_28",
          "PRESSURE_29",
          "PRESSURE_30",
          "PRESSURE_31",
          "PRESSURE_32",
          "PRESSURE_33",
          "PRESSURE_34",
          "PRESSURE_35",
          "PRESSURE_36",
          "PRESSURE_37",
          "PRESSURE_38",
          "PRESSURE_39",
          "PRESSURE_40",
          "PRESSURE_41",
          "PRESSURE_42",
          "PRESSURE_43",
          "PRESSURE_44",
          "PRESSURE_45",
          "PRESSURE_46",
          "PRESSURE_47",
          "PRESSURE_48",
          "PRESSURE_49",
          "PRESSURE_50",
          "PRESSURE_51",
          "PRESSURE_52",
          "PRESSURE_53"
        ],
        "linkSelection": "SELECTED_SECONDARY_GLOBAL_PRESSURE_TRIP"
      },
      {
        "name": "SELECTED_PRESSURE_STROBE_LIGHT",
        "sensorCalculations": [
          "PRESSURE_01_CALCULATED",
          "PRESSURE_02_CALCULATED",
          "PRESSURE_03_CALCULATED",
          "PRESSURE_04_CALCULATED",
          "PRESSURE_05_CALCULATED",
          "PRESSURE_06_CALCULATED",
          "PRESSURE_07_CALCULATED",
          "PRESSURE_08_CALCULATED",
          "PRESSURE_09_CALCULATED",
          "PRESSURE_10_CALCULATED",
          "PRESSURE_11_CALCULATED",
          "PRESSURE_12_CALCULATED",
          "PRESSURE_13_CALCULATED",
          "PRESSURE_14_CALCULATED",
          "PRESSURE_15_CALCULATED",
          "PRESSURE_16_CALCULATED",
          "PRESSURE_17_CALCULATED",
          "PRESSURE_18_CALCULATED",
          "PRESSURE_19_CALCULATED",
          "PRESSURE_20_CALCULATED",
          "PRESSURE_21_CALCULATED",
          "PRESSURE_22_CALCULATED",
          "PRESSURE_23_CALCULATED",
          "PRESSURE_24_CALCULATED",
          "PRESSURE_25_CALCULATED"
        ]
      },
      {
        "name": "SELECTED_PRESSURE_STROBE_LIGHT_RAW",
        "sensorCalculations": [
          "PRESSURE_01",
          "PRESSURE_02",
          "PRESSURE_03",
          "PRESSURE_04",
          "PRESSURE_05",
          "PRESSURE_06",
          "PRESSURE_07",
          "PRESSURE_08",
          "PRESSURE_09",
          "PRESSURE_10",
          "PRESSURE_11",
          "PRESSURE_12",
          "PRESSURE_13",
          "PRESSURE_14",
          "PRESSURE_15",
          "PRESSURE_16",
          "PRESSURE_17",
          "PRESSURE_18",
          "PRESSURE_19",
          "PRESSURE_20",
          "PRESSURE_21",
          "PRESSURE_22",
          "PRESSURE_23",
          "PRESSURE_24",
          "PRESSURE_25"
        ],
        "linkSelection": "SELECTED_PRESSURE_STROBE_LIGHT"
      },
      {
        "name": "SELECTED_BLENDER1_BOOST_PUMP_STAGE_TOTAL",
        "sensorCalculations": [
          "FLOW_CNTRINPT_01_STAGE_TOTAL",
          "FLOW_CNTRINPT_02_STAGE_TOTAL",
          "FLOW_CNTRINPT_03_STAGE_TOTAL",
          "FLOW_CNTRINPT_04_STAGE_TOTAL",
          "FLOW_CNTRINPT_05_STAGE_TOTAL",
          "FLOW_CNTRINPT_06_STAGE_TOTAL"
        ]
      },
      {
        "name": "SELECTED_BLENDER2_BOOST_PUMP_STAGE_TOTAL",
        "sensorCalculations": [
          "FLOW_CNTRINPT_01_STAGE_TOTAL",
          "FLOW_CNTRINPT_02_STAGE_TOTAL",
          "FLOW_CNTRINPT_03_STAGE_TOTAL",
          "FLOW_CNTRINPT_04_STAGE_TOTAL",
          "FLOW_CNTRINPT_05_STAGE_TOTAL",
          "FLOW_CNTRINPT_06_STAGE_TOTAL"
        ]
      }
    ],
    "canbus": {
      "pgnLibrary": "etc/j1939.config",
      "channels": []
    },
    "tasks": [
      {
        "timeInterval": 5,
        "timeDelay": 1057,
        "stackSize": 100000,
        "ekillSwitch": {
          "name": "EKILL",
          "sensor": "EKILL",
          "activeState": true
        },
        "inSwitch": {
          "name": "FLEET_IN_ACTION",
          "sensor": "FLEET_INST_NEUTRAL",
          "activeState": true
        },
        "taskId": "TaskRunner",
        "type": "taskrunner",
        "priority": 50,
        "loggerId": "main-logger",
        "workUnitsInterval": 0,
        "estimatedWorkUnitsConsumed": 0.0,
        "workUnitsDelay": 0
      },
      {
        "taskId": "Sampler-1",
        "type": "CALC_SENSOR_SAMPLE",
        "priority": 11,
        "loggerId": "sample-logger",
        "workUnitsInterval": 1,
        "estimatedWorkUnitsConsumed": 0.1,
        "workUnitsDelay": 0,
        "sensors": [
          "PRESSURE_01",
          "PRESSURE_02",
          "PRESSURE_03",
          "PRESSURE_04",
          "PRESSURE_05",
          "PRESSURE_06",
          "PRESSURE_07",
          "PRESSURE_08",
          "PRESSURE_09",
          "PRESSURE_10",
          "PRESSURE_11",
          "PRESSURE_12",
          "PRESSURE_13",
          "PRESSURE_14",
          "PRESSURE_15",
          "PRESSURE_16",
          "PRESSURE_17",
          "PRESSURE_18",
          "PRESSURE_19",
          "PRESSURE_20",
          "PRESSURE_21",
          "PRESSURE_22",
          "PRESSURE_23",
          "PRESSURE_24",
          "PRESSURE_25",
          "DENSITOMETER_01",
          "DENSITOMETER_02",
          "DENSITOMETER_03",
          "FLOW_CNTRINPT_01_RATE",
          "FLOW_CNTRINPT_02_RATE",
          "FLOW_CNTRINPT_03_RATE",
          "FLOW_CNTRINPT_04_RATE",
          "FLOW_CNTRINPT_05_RATE",
          "FLOW_CNTRINPT_06_RATE"
        ]
      },
      {
        "port": 9000,
        "taskId": "ControlService",
        "type": "commandservice",
        "priority": 6,
        "loggerId": "Control-logger",
        "cappedRuntime": 40,
        "workUnitsInterval": 6,
        "estimatedWorkUnitsConsumed": 0.5,
        "workUnitsDelay": 0,
        "timeInterval": 100,
        "timeDelay": 1047,
        "stackSize": 100000
      },
      {
        "taskId": "ControlExecutor",
        "type": "commandexecution",
        "priority": 7,
        "loggerId": "Control-logger",
        "cappedRuntime": 10,
        "workUnitsInterval": 6,
        "estimatedWorkUnitsConsumed": 0.5,
        "workUnitsDelay": 0,
        "timeInterval": 100,
        "timeDelay": 1057,
        "stackSize": 100000
      },
      {
        "queuePath": "queues/messages",
        "outputPseudoData": true,
        "outputBlenderData": true,
        "taskId": "DA-1",
        "type": "DA",
        "priority": 11,
        "loggerId": "DA-1-logger",
        "workUnitsInterval": 20,
        "estimatedWorkUnitsConsumed": 3.0,
        "workUnitsDelay": 7,
        "timeInterval": 250,
        "timeDelay": 750,
        "stackSize": 100000,
        "sensors": [
          {
            "sensorId": "FLOW_CNTRINPT_01",
            "action": "SAMPLE_FREQUENCY"
          },
          {
            "sensorId": "FLOW_CNTRINPT_02",
            "action": "SAMPLE_FREQUENCY"
          },
          {
            "sensorId": "FLOW_CNTRINPT_03",
            "action": "SAMPLE_FREQUENCY"
          },
          {
            "sensorId": "EKILL",
            "action": "SAMPLE_VALUE"
          },
          {
            "sensorId": "FLEET_INST_NEUTRAL",
            "action": "SAMPLE_VALUE"
          },
          {
            "sensorId": "DENS_METER_01",
            "action": "SAMPLE_VALUE"
          },
          {
            "sensorId": "DENS_METER_02",
            "action": "SAMPLE_VALUE"
          },
          {
            "sensorId": "DENS_METER_03",
            "action": "SAMPLE_VALUE"
          },
          {
            "sensorId": "PRES_CABLEREEL_01",
            "action": "SAMPLE_VALUE"
          },
          {
            "sensorId": "PRES_CABLEREEL_02",
            "action": "SAMPLE_VALUE"
          },
          {
            "sensorId": "PRES_CABLEREEL_03",
            "action": "SAMPLE_VALUE"
          },
          {
            "sensorId": "PRES_CABLEREEL_04",
            "action": "SAMPLE_VALUE"
          },
          {
            "sensorId": "PRES_CABLEREEL_05",
            "action": "SAMPLE_VALUE"
          },
          {
            "sensorId": "PRES_CABLEREEL_06",
            "action": "SAMPLE_VALUE"
          },
          {
            "sensorId": "PRES_CABLEREEL_07",
            "action": "SAMPLE_VALUE"
          },
          {
            "sensorId": "PRES_CABLEREEL_08",
            "action": "SAMPLE_VALUE"
          },
          {
            "sensorId": "PRES_CABLEREEL_09",
            "action": "SAMPLE_VALUE"
          },
          {
            "sensorId": "PRES_CABLEREEL_10",
            "action": "SAMPLE_VALUE"
          },
          {
            "sensorId": "PRES_CABLEREEL_11",
            "action": "SAMPLE_VALUE"
          },
          {
            "sensorId": "PRES_CABLEREEL_12",
            "action": "SAMPLE_VALUE"
          },
          {
            "sensorId": "PRES_CABLEREEL_13",
            "action": "SAMPLE_VALUE"
          },
          {
            "sensorId": "PRES_CABLEREEL_14",
            "action": "SAMPLE_VALUE"
          },
          {
            "sensorId": "PRES_CABLEREEL_15",
            "action": "SAMPLE_VALUE"
          },
          {
            "sensorId": "PRES_CABLEREEL_16",
            "action": "SAMPLE_VALUE"
          },
          {
            "sensorId": "PRES_CABLEREEL_17",
            "action": "SAMPLE_VALUE"
          },
          {
            "sensorId": "PRES_CABLEREEL_18",
            "action": "SAMPLE_VALUE"
          },
          {
            "sensorId": "PRES_CABLEREEL_19",
            "action": "SAMPLE_VALUE"
          },
          {
            "sensorId": "PRES_CABLEREEL_20",
            "action": "SAMPLE_VALUE"
          },
          {
            "sensorId": "PRES_CABLEREEL_21",
            "action": "SAMPLE_VALUE"
          },
          {
            "sensorId": "PRES_CABLEREEL_22",
            "action": "SAMPLE_VALUE"
          },
          {
            "sensorId": "PRES_CABLEREEL_23",
            "action": "SAMPLE_VALUE"
          },
          {
            "sensorId": "PRES_CABLEREEL_24",
            "action": "SAMPLE_VALUE"
          },
          {
            "sensorId": "PRES_CABLEREEL_25",
            "action": "SAMPLE_VALUE"
          }
        ]
      },
      {
        "taskId": "Blender-1",
        "type": "blendercontrol",
        "priority": 14,
        "loggerId": "blender-logger",
        "cappedRuntime": 30,
        "workUnitsInterval": 20,
        "estimatedWorkUnitsConsumed": 4.0,
        "workUnitsDelay": 15
      },
      {
        "taskId": "OuputUpdater",
        "type": "outputupdate",
        "priority": 10,
        "loggerId": "blender-logger",
        "workUnitsInterval": 5,
        "estimatedWorkUnitsConsumed": 0.2,
        "workUnitsDelay": 0
      }
    ],
    "commentBoards": "Slot A: EB09 (55168), Slot B: ---- ,SlotC : EB07 (47349)"
  }
}