{
  "pidParameters": [
    {
      "name": "INLINE_PROPPANT",
      "pidParams": {
        "kp": 0.100000001490116,
        "ki": 9.0000003183377E-06,
        "kd": 0.0,
        "outmax": 2.0,
        "outmin": -2.0,
        "maxRateOfChange": 0.200000002980232
      },
      "initialSetpoint": 0.0
    }
  ]
}