{
  "hardware": {
    "stwtype": "ESX3XM",
    "boards": [
      {
        "type": "EB09",
        "slot": "SLOT_A"
      },
      {
        "type": "EB11",
        "slot": "SLOT_B"
      }
    ]
  },
  "defaults": [
    {
      "sensor": "FLOW_CNTRINPT_01",
      "value": 2000000
    },
    {
      "sensor": "FLOW_CNTRINPT_02",
      "value": 2500000
    },
    {
      "sensor": "FLOW_CNTRINPT_03",
      "value": 2600000
    },
    {
      "sensor": "DENS_METER_01",
      "value": 9350
    },
    {
      "sensor": "DENS_METER_02",
      "value": 10000
    },
    {
      "sensor": "DENS_METER_03",
      "value": 11000
    },
    {
      "sensor": "PRES_CABLEREEL_01",
      "value": 5600
    },
    {
      "sensor": "PRES_CABLEREEL_02",
      "value": 5600
    },
    {
      "sensor": "PRES_CABLEREEL_03",
      "value": 5600
    },
    {
      "sensor": "PRES_CABLEREEL_04",
      "value": 5600
    },
    {
      "sensor": "PRES_CABLEREEL_05",
      "value": 5600
    },
    {
      "sensor": "PRES_CABLEREEL_06",
      "value": 5600
    },
    {
      "sensor": "PRES_CABLEREEL_07",
      "value": 5600
    },
    {
      "sensor": "PRES_CABLEREEL_08",
      "value": 5600
    },
    {
      "sensor": "PRES_CABLEREEL_09",
      "value": 5600
    },
    {
      "sensor": "PRES_CABLEREEL_10",
      "value": 5600
    },
    {
      "sensor": "PRES_CABLEREEL_11",
      "value": 5600
    },
    {
      "sensor": "PRES_CABLEREEL_12",
      "value": 5600
    },
    {
      "sensor": "PRES_CABLEREEL_13",
      "value": 5600
    },
    {
      "sensor": "PRES_CABLEREEL_14",
      "value": 5600
    },
    {
      "sensor": "PRES_CABLEREEL_15",
      "value": 5600
    },
    {
      "sensor": "PRES_CABLEREEL_16",
      "value": 5600
    },
    {
      "sensor": "PRES_CABLEREEL_17",
      "value": 5600
    },
    {
      "sensor": "PRES_CABLEREEL_18",
      "value": 5600
    },
    {
      "sensor": "PRES_CABLEREEL_19",
      "value": 5600
    },
    {
      "sensor": "PRES_CABLEREEL_20",
      "value": 5600
    },
    {
      "sensor": "PRES_CABLEREEL_21",
      "value": 5600
    },
    {
      "sensor": "PRES_CABLEREEL_22",
      "value": 5600
    },
    {
      "sensor": "PRES_CABLEREEL_23",
      "value": 5600
    },
    {
      "sensor": "PRES_CABLEREEL_24",
      "value": 5600
    },
    {
      "sensor": "PRES_CABLEREEL_25",
      "value": 5600
    }
  ],
  "components": [
    {
      "sensors": [
        {
          "sensor": "PRES_CABLEREEL_01",
          "variance": 300
        },
        {
          "sensor": "PRES_CABLEREEL_02",
          "variance": 300
        },
        {
          "sensor": "PRES_CABLEREEL_03",
          "variance": 300
        },
        {
          "sensor": "PRES_CABLEREEL_04",
          "variance": 300
        },
        {
          "sensor": "PRES_CABLEREEL_05",
          "variance": 300
        },
        {
          "sensor": "PRES_CABLEREEL_06",
          "variance": 300
        },
        {
          "sensor": "PRES_CABLEREEL_07",
          "variance": 300
        },
        {
          "sensor": "PRES_CABLEREEL_08",
          "variance": 300
        },
        {
          "sensor": "PRES_CABLEREEL_09",
          "variance": 300
        },
        {
          "sensor": "PRES_CABLEREEL_10",
          "variance": 300
        },
        {
          "sensor": "PRES_CABLEREEL_11",
          "variance": 300
        },
        {
          "sensor": "PRES_CABLEREEL_12",
          "variance": 300
        },
        {
          "sensor": "PRES_CABLEREEL_13",
          "variance": 300
        },
        {
          "sensor": "PRES_CABLEREEL_14",
          "variance": 300
        },
        {
          "sensor": "PRES_CABLEREEL_15",
          "variance": 300
        },
        {
          "sensor": "PRES_CABLEREEL_16",
          "variance": 300
        },
        {
          "sensor": "PRES_CABLEREEL_17",
          "variance": 300
        },
        {
          "sensor": "PRES_CABLEREEL_18",
          "variance": 300
        },
        {
          "sensor": "PRES_CABLEREEL_19",
          "variance": 300
        },
        {
          "sensor": "PRES_CABLEREEL_20",
          "variance": 300
        },
        {
          "sensor": "PRES_CABLEREEL_21",
          "variance": 300
        },
        {
          "sensor": "PRES_CABLEREEL_22",
          "variance": 300
        },
        {
          "sensor": "PRES_CABLEREEL_23",
          "variance": 300
        },
        {
          "sensor": "PRES_CABLEREEL_24",
          "variance": 300
        },
        {
          "sensor": "PRES_CABLEREEL_25",
          "variance": 300
        },
        {
          "sensor": "DENS_METER_01",
          "variance": 300
        },
        {
          "sensor": "DENS_METER_02",
          "variance": 300
        },
        {
          "sensor": "DENS_METER_03",
          "variance": 300
        },
        {
          "sensor": "FLOW_CNTRINPT_01",
          "variance": 20000
        },
        {
          "sensor": "FLOW_CNTRINPT_02",
          "variance": 25000
        },
        {
          "sensor": "FLOW_CNTRINPT_03",
          "variance": 20000
        }
      ],
      "name": "wobbler",
      "type": "wobbler"
    }
  ],
  "hwId": "DVS",
  "dataExchange": {
    "sqlconfig": {
      "username": "root",
      "password": "mobile",
      "db": "mdt_stw_simulation",
      "host": "127.0.0.1"
    }
  }
}