{
   "RegistrationName": "218316",
   "RegistrationDescription": "DVS1088",
   "RegistrationGuid": "32ab6ffa-1dd2-11b2-906e-001d4832eb2f",
   "EngineModel": "",
   "TransModel": "",
   "DataVanHMIIp": "10.10.12.217",
   "MpcHMIIp": "10.10.11.207",
   "Mpc2HMIIp": "10.10.16.207",
   "configs": {
      "FLOW_CNTRINPT_01_CONFIG": {
         "kfactor": 50.0,
         "scalingFactor": 1.0
      },
      "PRES_CABLEREEL_03_CONFIG": {
         "sensMin": 0.0,
         "scalingFactor": 1.0,
         "sensMax": 15000.0,
         "sigMin": 4000.0,
         "sigMinOffset": 172.0,
         "sigMax": 20000.0,
         "sigMaxOffset": 172.0
      },
      "PRES_CABLEREEL_05_CONFIG": {
         "sensMin": 0.0,
         "scalingFactor": 1.0,
         "sensMax": 15000.0,
         "sigMin": 4000.0,
         "sigMinOffset": 302.0,
         "sigMax": 20000.0,
         "sigMaxOffset": 302.0
      },
      "PRES_CABLEREEL_04_CONFIG": {
         "sensMin": 0.0,
         "scalingFactor": 1.0,
         "sensMax": 15000.0,
         "sigMin": 4000.0,
         "sigMinOffset": 624.0,
         "sigMax": 20000.0,
         "sigMaxOffset": 624.0
      },
      "PRES_CABLEREEL_06_CONFIG": {
         "sensMin": 0.0,
         "scalingFactor": 1.0,
         "sensMax": 15000.0,
         "sigMin": 4000.0,
         "sigMinOffset": 135.0,
         "sigMax": 20000.0,
         "sigMaxOffset": 135.0
      },
      "PRES_CABLEREEL_01_CONFIG": {
         "sensMin": 0.0,
         "scalingFactor": 1.0,
         "sensMax": 15000.0,
         "sigMin": 4000.0,
         "sigMinOffset": 172.0,
         "sigMax": 20000.0,
         "sigMaxOffset": 172.0
      },
      "PRES_CABLEREEL_02_CONFIG": {
         "sensMin": 0.0,
         "scalingFactor": 1.0,
         "sensMax": 15000.0,
         "sigMin": 4000.0,
         "sigMinOffset": 246.0,
         "sigMax": 20000.0,
         "sigMaxOffset": 246.0
      },
      "DENSITOMETER_01_CONFIG": {
         "sensMin": 0.0,
         "scalingFactor": 1.0,
         "sensMax": 25.0,
         "sigMin": 4000.0,
         "sigMinOffset": 0.0,
         "sigMax": 20000.0,
         "sigMaxOffset": 0.0
      },
      "PRES_CABLEREEL_08_CONFIG": {
         "sensMin": 0.0,
         "scalingFactor": 1.0,
         "sensMax": 15000.0,
         "sigMin": 4000.0,
         "sigMinOffset": 97.0,
         "sigMax": 20000.0,
         "sigMaxOffset": 97.0
      },
      "DENSITOMETER_02_CONFIG": {
         "sensMin": 0.0,
         "scalingFactor": 1.0,
         "sensMax": 25.0,
         "sigMin": 4000.0,
         "sigMinOffset": 0.0,
         "sigMax": 20000.0,
         "sigMaxOffset": 0.0
      },
      "DENSITOMETER_03_CONFIG": {
         "sensMin": 0.0,
         "scalingFactor": 1.0,
         "sensMax": 25.0,
         "sigMin": 4000.0,
         "sigMinOffset": 0.0,
         "sigMax": 20000.0,
         "sigMaxOffset": 0.0
      },
      "PRES_CABLEREEL_07_CONFIG": {
         "sensMin": 0.0,
         "scalingFactor": 1.0,
         "sensMax": 15000.0,
         "sigMin": 4000.0,
         "sigMinOffset": -14.0,
         "sigMax": 20000.0,
         "sigMaxOffset": -14.0
      },
      "PRES_CABLEREEL_09_CONFIG": {
         "sensMin": 0.0,
         "scalingFactor": 1.0,
         "sensMax": 15000.0,
         "sigMin": 4000.0,
         "sigMinOffset": 227.0,
         "sigMax": 20000.0,
         "sigMaxOffset": 227.0
      },
      "FLOW_CNTRINPT_02_CONFIG": {
         "kfactor": 525.7882080078125,
         "scalingFactor": 1.0
      },
      "PRES_CABLEREEL_10_CONFIG": {
         "sensMin": 0.0,
         "scalingFactor": 1.0,
         "sensMax": 15000.0,
         "sigMin": 4000.0,
         "sigMinOffset": 221.0,
         "sigMax": 20000.0,
         "sigMaxOffset": 221.0
      },
      "PRES_CABLEREEL_11_CONFIG": {
         "sensMin": 0.0,
         "scalingFactor": 1.0,
         "sensMax": 15000.0,
         "sigMin": 4000.0,
         "sigMinOffset": 221.0,
         "sigMax": 20000.0,
         "sigMaxOffset": 221.0
      },
      "PRES_CABLEREEL_19_CONFIG": {
         "sensMin": 0.0,
         "scalingFactor": 1.0,
         "sensMax": 15000.0,
         "sigMin": 4000.0,
         "sigMinOffset": 165.0,
         "sigMax": 20000.0,
         "sigMaxOffset": 165.0
      },
      "PRES_CABLEREEL_12_CONFIG": {
         "sensMin": 0.0,
         "scalingFactor": 1.0,
         "sensMax": 15000.0,
         "sigMin": 4000.0,
         "sigMinOffset": 146.0,
         "sigMax": 20000.0,
         "sigMaxOffset": 146.0
      },
      "PRES_CABLEREEL_13_CONFIG": {
         "sensMin": 0.0,
         "scalingFactor": 1.0,
         "sensMax": 15000.0,
         "sigMin": 4000.0,
         "sigMinOffset": 159.0,
         "sigMax": 20000.0,
         "sigMaxOffset": 159.0
      },
      "PRES_CABLEREEL_14_CONFIG": {
         "sensMin": 0.0,
         "scalingFactor": 1.0,
         "sensMax": 15000.0,
         "sigMin": 4000.0,
         "sigMinOffset": -2.0,
         "sigMax": 20000.0,
         "sigMaxOffset": -2.0
      },
      "PRES_CABLEREEL_15_CONFIG": {
         "sensMin": 0.0,
         "scalingFactor": 1.0,
         "sensMax": 15000.0,
         "sigMin": 4000.0,
         "sigMinOffset": 134.0,
         "sigMax": 20000.0,
         "sigMaxOffset": 134.0
      },
      "PRES_CABLEREEL_16_CONFIG": {
         "sensMin": 0.0,
         "scalingFactor": 1.0,
         "sensMax": 15000.0,
         "sigMin": 4000.0,
         "sigMinOffset": 270.0,
         "sigMax": 20000.0,
         "sigMaxOffset": 270.0
      },
      "PRES_CABLEREEL_17_CONFIG": {
         "sensMin": 0.0,
         "scalingFactor": 1.0,
         "sensMax": 15000.0,
         "sigMin": 4000.0,
         "sigMinOffset": 196.0,
         "sigMax": 20000.0,
         "sigMaxOffset": 196.0
      },
      "PRES_CABLEREEL_18_CONFIG": {
         "sensMin": 0.0,
         "scalingFactor": 1.0,
         "sensMax": 15000.0,
         "sigMin": 4000.0,
         "sigMinOffset": 146.0,
         "sigMax": 20000.0,
         "sigMaxOffset": 146.0
      },
      "FLOW_CNTRINPT_03_CONFIG": {
         "kfactor": 640.40740966796875,
         "scalingFactor": 1.0
      }
   },
   "blender": {
      "DENSITY_CALCULATION_DENSITOMETER_01": {
         "isDefault": true
      },
      "DENSITY_CALCULATION_DENSITOMETER_02": {
         "isDefault": false
      },
      "DENSITY_CALCULATION_DENSITOMETER_03": {
         "isDefault": false
      },
      "SAND2_REMOTE_MASS_FLOW": {
         "isDefault": false
      },
      "SAND1_REMOTE_MASS_FLOW": {
         "isDefault": false
      }
   },
   "constraints": {
      "Global pressure tripped": {
         "enabled": true,
         "equalReading": null,
         "minReading": null,
         "maxDuration": 100,
         "hmiOnly": false,
         "resetDuration": 1000,
         "maxReading": 11500.0,
         "equalEpsilon": null,
         "equalInverted": null,
         "minRaw": null,
         "maxRaw": null,
         "equalRaw": null,
         "equalInvertedRaw": null
      },
      "Secondary global pressure tripped": {
         "enabled": true,
         "equalReading": null,
         "minReading": null,
         "maxDuration": 100,
         "hmiOnly": false,
         "resetDuration": 1000,
         "maxReading": 11500.0,
         "equalEpsilon": null,
         "equalInverted": null,
         "minRaw": null,
         "maxRaw": null,
         "equalRaw": null,
         "equalInvertedRaw": null
      }
   },
   "SecondaryDVSIp": "10.10.139.193"
}