{
  "system": {
    "logging": {
      "logLevel": "ERROR",
      "logDir": "logs",
      "_commentLevel": "Valid: ERROR, WARN, INFO, DEBUG"
    },
    "archiving": {
      "enabled": false,
      "archivePath": "/mnt/usbdisk",
      "interval": 1000,
      "minimalDiskSpaceM": 200,
      "sensorNCTime": 4000
    },
    "network": {
      "timeServer": [
        "$LocalHMIIp"
      ],
      "registrationServer": "$DataVanHMIIp",
      "registrationName": "$RegistrationName",
      "registrationDescription": "Blender LA8 Eng",
      "registrationGuid": "$RegistrationGuid",
      "registrationUnitType": "Blender",
      "registrationConfigName": "Engine",
      "registrationMetadata": "{\"ProductVersion\":\"8.1.4\",\"AutoBlenderVersion\":\"1.0\"}",
      "registrationServerPort": 8080,
      "registrationServicePath": "MDT_RESTful_DA/configuration/runtime/registration/"
    },
    "commandReceiver": {
      "logFile": "logs/command_receiver.log",
      "sensorConfigQueue": "queues/sensorconfigs",
      "sensorConfigPath": "etc/sensorConfig.json",
      "mainboardPort": 9000,
      "mainboardIp": "127.0.0.1",
      "sensorConfigBroadcastFreq": 60,
      "enableHTTPDataServer": true,
      "stageConfigServicePath": "MDT_RESTful_DA/configuration/runtime/staging"
    },
    "configurationRecipients": [
      {
        "name": "Local PC",
        "address": "$LocalHMIIp",
        "port": 8080
      },
      {
        "name": "Process Control",
        "address": "$DataVanHMIIp",
        "port": 8080
      }
    ],
    "dataAcquisitionQueues": {
      "queues": [
        {
          "readingsDir": "queues/diagnostics",
          "inprogressDir": "queues/diagnostics_inprogress",
          "canskipmessages": false,
          "recipients": [
            {
              "name": "Local PC",
              "queuePath": "queues/diagnostics_local_pc",
              "servicePath": "MDT_RESTful_DA/readings/j1939/dm1",
              "address": "$LocalHMIIp",
              "port": 8080
            },
            {
              "name": "Process Control",
              "queuePath": "queues/diagnostics_process_control",
              "servicePath": "MDT_RESTful_DA/readings/j1939/dm1",
              "address": "$DataVanHMIIp",
              "port": 8080
            }
          ]
        },
        {
          "readingsDir": "queues/messages",
          "inprogressDir": "queues/messages_inprogress",
          "recipients": [
            {
              "name": "Local PC",
              "queuePath": "queues/messages_local_pc",
              "servicePath": "MDT_RESTful_DA/readings/general",
              "address": "$LocalHMIIp",
              "port": 8080,
              "connectionTimeoutMS": 1000
            },
            {
              "name": "Process Control",
              "queuePath": "queues/messages_process_control",
              "servicePath": "MDT_RESTful_DA/readings/general",
              "address": "$DataVanHMIIp",
              "port": 8080,
              "connectionTimeoutMS": 1000
            }
          ]
        },
        {
          "readingsDir": "queues/remote_messages",
          "inprogressDir": "queues/remote_messages_inprogress",
          "recipients": [
            {
              "name": "Additive STW",
              "queuePath": "queues/remote_messages_additives",
              "servicePath": "control/readings/remote_sensor_readings",
              "address": "$U10Ip",
              "port": 3000,
              "connectionTimeoutMS": 1000
            }
          ],
          "sensors": [
            "BLENDER_SELECTED_BASE_RATE",
            "BLENDER_SELECTED_DISCHARGE_RATE",
            "BLENDER_SIMULATED_CLEAN_RATE",
            "BLENDER_SIMULATED_DISCHARGE_RATE",
            "BLENDER_TUB.CURRENT_BLENDER_STATE",
            "BLENDER_TUB.STAGE_STATE",
            "BLENDER_TUB.CURRENT_STEP",
            "BLENDER_TUB.BYPASS_VALVE.REQUESTED_VALVE_POSITION",
            "BLENDER_TUB.DISCHARGE_VALVE.REQUESTED_VALVE_POSITION",
            "SW_REQUEST_REMOTE_CONTROL",
            "SW_IN_REMOTE_CONTROL",
            "CLUTCH_ENGAGED",
            "INTERNAL_FORCE_IDLE"
          ]
        },
        {
          "readingsDir": "queues/alarms",
          "inprogressDir": "queues/alarms_inprogress",
          "recipients": [
            {
              "name": "Local PC",
              "queuePath": "queues/alarms_local_pc",
              "servicePath": "MDT_RESTful_DA/errors/stwerror",
              "address": "$LocalHMIIp",
              "port": 8080,
              "connectionTimeoutMS": 1000
            },
            {
              "name": "Process Control",
              "queuePath": "queues/alarms_process_control",
              "servicePath": "MDT_RESTful_DA/errors/stwerror",
              "address": "$DataVanHMIIp",
              "port": 8080,
              "connectionTimeoutMS": 1000
            }
          ]
        },
        {
          "readingsDir": "queues/canbus_3",
          "inprogressDir": "queues/canbus_3_inprogress",
          "recipients": [
            {
              "name": "Local PC",
              "queuePath": "queues/canbus_3_local_pc",
              "servicePath": "MDT_RESTful_DA/readings/general",
              "address": "$LocalHMIIp",
              "port": 8080,
              "connectionTimeoutMS": 1000
            },
            {
              "name": "Process Control",
              "queuePath": "queues/canbus_3_process_control",
              "servicePath": "MDT_RESTful_DA/readings/general",
              "address": "$DataVanHMIIp",
              "port": 8080,
              "connectionTimeoutMS": 1000
            }
          ]
        },
        {
          "readingsDir": "queues/canbus_4",
          "inprogressDir": "queues/canbus_4_inprogress",
          "recipients": [
            {
              "name": "Local PC",
              "queuePath": "queues/canbus_4_local_pc",
              "servicePath": "MDT_RESTful_DA/readings/general",
              "address": "$LocalHMIIp",
              "port": 8080,
              "connectionTimeoutMS": 1000
            },
            {
              "name": "Process Control",
              "queuePath": "queues/canbus_4_process_control",
              "servicePath": "MDT_RESTful_DA/readings/general",
              "address": "$DataVanHMIIp",
              "port": 8080,
              "connectionTimeoutMS": 1000
            }
          ]
        }
      ]
    }
  }
}