{
  "hmiSettings": {
    "powertrains": [
      {
        "engine": {
          "idleRpm": 700,
          "minRpm": 700,
          "maxRpm": 1950,
          "name": "DISCHARGE_ENG"
        },
        "transmission": {
          "maxGear": "GEAR_N",
          "minGear": "GEAR_N",
          "name": "DISCHARGE_TRANS"
        },
        "pressureTest": {
          "maxRpm": 0,
          "minRpm": 700
        },
        "name": "DISCHARGE_POWERTRAIN",
        "hmiActions": [],
        "auxSensors": [],
        "configurableAlarms": [],
        "configurableAlarmDefinitions": [],
        "features": [
          "Auto Conventional Blender"
        ]
      },
      {
        "engine": {
          "idleRpm": 750,
          "minRpm": 750,
          "maxRpm": 2050,
          "name": "HYDRAULIC_ENG"
        },
        "transmission": {
          "maxGear": "GEAR_N",
          "minGear": "GEAR_N",
          "name": "HYDRAULIC_TRANS"
        },
        "pressureTest": {
          "maxRpm": 0,
          "minRpm": 750
        },
        "name": "HYDRAULIC_POWERTRAIN",
        "hmiActions": [],
        "auxSensors": [],
        "configurableAlarms": [],
        "configurableAlarmDefinitions": [],
        "features": []
      }
    ],
    "secondaryLanes": [],
    "genericComponents": [],
    "pseudoSensors": [
      {
        "pseudoSensorName": "BLENDER_SELECTED_CLEAN_RATE",
        "sensors": [
          {
            "sensorName": "SUCTION_MAG_RATE",
            "displayName": "SUCTION_MAG_RATE",
            "isSimulated": false,
            "maxSimulatedValue": 0,
            "minSimulatedValue": 0
          },
          {
            "sensorName": "SUCTION_TURB_RATE",
            "displayName": "SUCTION_TURB_RATE",
            "isSimulated": false,
            "maxSimulatedValue": 0,
            "minSimulatedValue": 0
          },
          {
            "sensorName": "BLENDER_SIMULATED_CLEAN_RATE",
            "displayName": "BLENDER_SIMULATED_CLEAN_RATE",
            "isSimulated": false,
            "maxSimulatedValue": 0,
            "minSimulatedValue": 0
          },
          {
            "sensorName": "BLENDER_CALCULATED_CLEAN_RATE",
            "displayName": "BLENDER_CALCULATED_CLEAN_RATE",
            "isSimulated": false,
            "maxSimulatedValue": 0,
            "minSimulatedValue": 0
          }
        ]
      },
      {
        "pseudoSensorName": "BLENDER_SELECTED_BASE_RATE",
        "sensors": [
          {
            "sensorName": "BLENDER_ESTIMATED_CLEAN_RATE",
            "displayName": "BLENDER_ESTIMATED_CLEAN_RATE",
            "isSimulated": false,
            "maxSimulatedValue": 0,
            "minSimulatedValue": 0
          },
          {
            "sensorName": "SUCTION_MAG_RATE",
            "displayName": "SUCTION_MAG_RATE",
            "isSimulated": false,
            "maxSimulatedValue": 0,
            "minSimulatedValue": 0
          },
          {
            "sensorName": "SUCTION_TURB_RATE",
            "displayName": "SUCTION_TURB_RATE",
            "isSimulated": false,
            "maxSimulatedValue": 0,
            "minSimulatedValue": 0
          },
          {
            "sensorName": "BLENDER_SIMULATED_CLEAN_RATE",
            "displayName": "BLENDER_SIMULATED_CLEAN_RATE",
            "isSimulated": false,
            "maxSimulatedValue": 0,
            "minSimulatedValue": 0
          },
          {
            "sensorName": "SPLIT_STREAM_ESTIMATED_CLEAN_RATE",
            "displayName": "SPLIT_STREAM_ESTIMATED_CLEAN_RATE",
            "isSimulated": false,
            "maxSimulatedValue": 0,
            "minSimulatedValue": 0
          },
          {
            "sensorName": "CUSTOM_RATE_01",
            "sensorKey": "",
            "displayName": "CUSTOM_RATE_01",
            "isSimulated": false,
            "maxSimulatedValue": 0,
            "minSimulatedValue": 0
          },
          {
            "sensorName": "CUSTOM_RATE_02",
            "sensorKey": "",
            "displayName": "CUSTOM_RATE_02",
            "isSimulated": false,
            "maxSimulatedValue": 0,
            "minSimulatedValue": 0
          },
          {
            "sensorName": "CUSTOM_RATE_03",
            "sensorKey": "",
            "displayName": "CUSTOM_RATE_03",
            "isSimulated": false,
            "maxSimulatedValue": 0,
            "minSimulatedValue": 0
          }
        ]
      },
      {
        "pseudoSensorName": "BLENDER_SELECTED_CLEAN_STEP_TOTAL_WRAPPER",
        "sensors": [
          {
            "sensorName": "SUCTION_MAG_STEP_TOTAL",
            "displayName": "SUCTION_MAG_STEP_TOTAL",
            "isSimulated": false,
            "maxSimulatedValue": 0,
            "minSimulatedValue": 0
          },
          {
            "sensorName": "SUCTION_TURB_STEP_TOTAL",
            "displayName": "SUCTION_TURB_STEP_TOTAL",
            "isSimulated": false,
            "maxSimulatedValue": 0,
            "minSimulatedValue": 0
          },
          {
            "sensorName": "BLENDER_SIMULATED_CLEAN_STEP_TOTAL",
            "displayName": "BLENDER_SIMULATED_CLEAN_STEP_TOTAL",
            "isSimulated": false,
            "maxSimulatedValue": 0,
            "minSimulatedValue": 0
          },
          {
            "sensorName": "BLENDER_CALCULATED_CLEAN_STEP_TOTAL",
            "displayName": "BLENDER_CALCULATED_CLEAN_STEP_TOTAL",
            "isSimulated": false,
            "maxSimulatedValue": 0,
            "minSimulatedValue": 0
          }
        ]
      },
      {
        "pseudoSensorName": "BLENDER_SELECTED_CLEAN_STAGE_TOTAL_WRAPPER",
        "sensors": [
          {
            "sensorName": "SUCTION_MAG_STAGE_TOTAL",
            "displayName": "SUCTION_MAG_STAGE_TOTAL",
            "isSimulated": false,
            "maxSimulatedValue": 0,
            "minSimulatedValue": 0
          },
          {
            "sensorName": "SUCTION_TURB_STAGE_TOTAL",
            "displayName": "SUCTION_TURB_STAGE_TOTAL",
            "isSimulated": false,
            "maxSimulatedValue": 0,
            "minSimulatedValue": 0
          },
          {
            "sensorName": "BLENDER_SIMULATED_CLEAN_STAGE_TOTAL",
            "displayName": "BLENDER_SIMULATED_CLEAN_STAGE_TOTAL",
            "isSimulated": false,
            "maxSimulatedValue": 0,
            "minSimulatedValue": 0
          },
          {
            "sensorName": "BLENDER_CALCULATED_CLEAN_STAGE_TOTAL",
            "displayName": "BLENDER_CALCULATED_CLEAN_STAGE_TOTAL",
            "isSimulated": false,
            "maxSimulatedValue": 0,
            "minSimulatedValue": 0
          }
        ]
      },
      {
        "pseudoSensorName": "BLENDER_SELECTED_DISCHARGE_RATE",
        "sensors": [
          {
            "sensorName": "DISCHARGE_MAG_RATE",
            "displayName": "DISCHARGE_MAG_RATE",
            "isSimulated": false,
            "maxSimulatedValue": 0,
            "minSimulatedValue": 0
          },
          {
            "sensorName": "DISCHARGE_TURB_RATE",
            "displayName": "DISCHARGE_TURB_RATE",
            "isSimulated": false,
            "maxSimulatedValue": 0,
            "minSimulatedValue": 0
          },
          {
            "sensorName": "BLENDER_SIMULATED_DISCHARGE_RATE",
            "displayName": "BLENDER_SIMULATED_DISCHARGE_RATE",
            "isSimulated": false,
            "maxSimulatedValue": 0,
            "minSimulatedValue": 0
          }
        ]
      },
      {
        "pseudoSensorName": "BLENDER_SELECTED_DISCHARGE_STEP_TOTAL_WRAPPER",
        "sensors": [
          {
            "sensorName": "DISCHARGE_MAG_STEP_TOTAL",
            "displayName": "DISCHARGE_MAG_STEP_TOTAL",
            "isSimulated": false,
            "maxSimulatedValue": 0,
            "minSimulatedValue": 0
          },
          {
            "sensorName": "DISCHARGE_TURB_STEP_TOTAL",
            "displayName": "DISCHARGE_TURB_STEP_TOTAL",
            "isSimulated": false,
            "maxSimulatedValue": 0,
            "minSimulatedValue": 0
          },
          {
            "sensorName": "BLENDER_SIMULATED_DISCHARGE_STEP_TOTAL",
            "displayName": "BLENDER_SIMULATED_DISCHARGE_STEP_TOTAL",
            "isSimulated": false,
            "maxSimulatedValue": 0,
            "minSimulatedValue": 0
          }
        ]
      },
      {
        "pseudoSensorName": "BLENDER_SELECTED_DISCHARGE_STAGE_TOTAL_WRAPPER",
        "sensors": [
          {
            "sensorName": "DISCHARGE_MAG_STAGE_TOTAL",
            "displayName": "DISCHARGE_MAG_STAGE_TOTAL",
            "isSimulated": false,
            "maxSimulatedValue": 0,
            "minSimulatedValue": 0
          },
          {
            "sensorName": "DISCHARGE_TURB_STAGE_TOTAL",
            "displayName": "DISCHARGE_TURB_STAGE_TOTAL",
            "isSimulated": false,
            "maxSimulatedValue": 0,
            "minSimulatedValue": 0
          },
          {
            "sensorName": "BLENDER_SIMULATED_DISCHARGE_STAGE_TOTAL",
            "displayName": "BLENDER_SIMULATED_DISCHARGE_STAGE_TOTAL",
            "isSimulated": false,
            "maxSimulatedValue": 0,
            "minSimulatedValue": 0
          }
        ]
      },
      {
        "pseudoSensorName": "SELECTED_CLEAN_RATE_MAIN_AUGER",
        "sensors": [
          {
            "sensorName": "BLENDER_SELECTED_BASE_RATE",
            "displayName": "BLENDER SELECTED BASE RATE",
            "isSimulated": false,
            "maxSimulatedValue": 0,
            "minSimulatedValue": 0
          },
          {
            "sensorName": "OTHER_BLENDER_SELECTED_BASE_RATE",
            "displayName": "OTHER BLENDER SELECTED BASE RATE",
            "isSimulated": false,
            "maxSimulatedValue": 0,
            "minSimulatedValue": 0
          },
          {
            "sensorName": "HYDRATION_SELECTED_CLEAN_RATE",
            "displayName": "HYDRATION SELECTED CLEAN RATE",
            "isSimulated": false,
            "maxSimulatedValue": 0,
            "minSimulatedValue": 0
          },
          {
            "sensorName": "COMBINED_CLEAN_RATE",
            "displayName": "COMBINED CLEAN RATE",
            "isSimulated": false,
            "maxSimulatedValue": 0,
            "minSimulatedValue": 0
          },
          {
            "sensorName": "BLENDER_SIMULATED_CLEAN_RATE",
            "displayName": "BLENDER SIMULATED CLEAN RATE",
            "isSimulated": true,
            "maxSimulatedValue": 140,
            "minSimulatedValue": 0
          }
        ]
      },
      {
        "pseudoSensorName": "TUB_LEVEL_PSEUDO_SENSOR",
        "sensors": [
          {
            "sensorName": "TUB_LEVEL",
            "displayName": "TUB_LEVEL",
            "isSimulated": false,
            "maxSimulatedValue": 0,
            "minSimulatedValue": 0
          }
        ]
      },
      {
        "pseudoSensorName": "SELECTED_DISCHARGE_CLUTCH_SWITCH",
        "sensors": [
          {
            "sensorName": "DISCHARGE_CLUTCH_SWITCH",
            "sensorKey": "",
            "displayName": "DISCHARGE_CLUTCH_SWITCH",
            "isSimulated": false,
            "maxSimulatedValue": 0,
            "minSimulatedValue": 0
          },
          {
            "sensorName": "SW_DISCHARGE_CLUTCH_SWITCH",
            "sensorKey": "",
            "displayName": "SW_DISCHARGE_CLUTCH_SWITCH",
            "isSimulated": false,
            "maxSimulatedValue": 0,
            "minSimulatedValue": 0
          }
        ]
      },
      {
        "pseudoSensorName": "SELECTED_AUTO_SW_AUGER01",
        "sensors": [
          {
            "sensorName": "AUGER_01.AUTO",
            "sensorKey": "",
            "displayName": "AUGER_01.AUTO",
            "isSimulated": false,
            "maxSimulatedValue": 0,
            "minSimulatedValue": 0
          },
          {
            "sensorName": "SW_AUTO_AUGER01",
            "sensorKey": "",
            "displayName": "SW_AUTO_AUGER01",
            "isSimulated": false,
            "maxSimulatedValue": 0,
            "minSimulatedValue": 0
          }
        ]
      },
      {
        "pseudoSensorName": "SELECTED_OFF_SW_AUGER01",
        "sensors": [
          {
            "sensorName": "AUGER_01.OFF",
            "sensorKey": "",
            "displayName": "AUGER_01.OFF",
            "isSimulated": false,
            "maxSimulatedValue": 0,
            "minSimulatedValue": 0
          },
          {
            "sensorName": "SW_OFF_AUGER01",
            "sensorKey": "",
            "displayName": "SW_OFF_AUGER01",
            "isSimulated": false,
            "maxSimulatedValue": 0,
            "minSimulatedValue": 0
          }
        ]
      },
      {
        "pseudoSensorName": "SELECTED_AUTO_SW_AUGER02",
        "sensors": [
          {
            "sensorName": "AUGER_02.AUTO",
            "sensorKey": "",
            "displayName": "AUGER_02.AUTO",
            "isSimulated": false,
            "maxSimulatedValue": 0,
            "minSimulatedValue": 0
          },
          {
            "sensorName": "SW_AUTO_AUGER02",
            "sensorKey": "",
            "displayName": "SW_AUTO_AUGER02",
            "isSimulated": false,
            "maxSimulatedValue": 0,
            "minSimulatedValue": 0
          }
        ]
      },
      {
        "pseudoSensorName": "SELECTED_OFF_SW_AUGER02",
        "sensors": [
          {
            "sensorName": "AUGER_02.OFF",
            "sensorKey": "",
            "displayName": "AUGER_02.OFF",
            "isSimulated": false,
            "maxSimulatedValue": 0,
            "minSimulatedValue": 0
          },
          {
            "sensorName": "SW_OFF_AUGER02",
            "sensorKey": "",
            "displayName": "SW_OFF_AUGER02",
            "isSimulated": false,
            "maxSimulatedValue": 0,
            "minSimulatedValue": 0
          }
        ]
      },
      {
        "pseudoSensorName": "SELECTED_AUTO_SW_AUGER03",
        "sensors": [
          {
            "sensorName": "AUGER_03.AUTO",
            "sensorKey": "",
            "displayName": "AUGER_03.AUTO",
            "isSimulated": false,
            "maxSimulatedValue": 0,
            "minSimulatedValue": 0
          },
          {
            "sensorName": "SW_AUTO_AUGER03",
            "sensorKey": "",
            "displayName": "SW_AUTO_AUGER03",
            "isSimulated": false,
            "maxSimulatedValue": 0,
            "minSimulatedValue": 0
          }
        ]
      },
      {
        "pseudoSensorName": "SELECTED_OFF_SW_AUGER03",
        "sensors": [
          {
            "sensorName": "AUGER_03.OFF",
            "sensorKey": "",
            "displayName": "AUGER_03.OFF",
            "isSimulated": false,
            "maxSimulatedValue": 0,
            "minSimulatedValue": 0
          },
          {
            "sensorName": "SW_OFF_AUGER03",
            "sensorKey": "",
            "displayName": "SW_OFF_AUGER03",
            "isSimulated": false,
            "maxSimulatedValue": 0,
            "minSimulatedValue": 0
          }
        ]
      },
      {
        "pseudoSensorName": "SELECTED_HYDRAULIC_THROTTLE_FULL",
        "sensors": [
          {
            "sensorName": "HYDRAULIC_POWERTRAIN.THROTTLE_FULL",
            "sensorKey": "",
            "displayName": "HYDRAULIC_POWERTRAIN.THROTTLE_FULL",
            "isSimulated": false,
            "maxSimulatedValue": 0,
            "minSimulatedValue": 0
          },
          {
            "sensorName": "SW_HYDRAULIC_THROTTLE_FULL",
            "sensorKey": "",
            "displayName": "SW_HYDRAULIC_THROTTLE_FULL",
            "isSimulated": false,
            "maxSimulatedValue": 0,
            "minSimulatedValue": 0
          }
        ]
      },
      {
        "pseudoSensorName": "SELECTED_HYDRAULIC_THROTTLE_IDLE",
        "sensors": [
          {
            "sensorName": "HYDRAULIC_POWERTRAIN.THROTTLE_IDLE",
            "sensorKey": "",
            "displayName": "HYDRAULIC_POWERTRAIN.THROTTLE_IDLE",
            "isSimulated": false,
            "maxSimulatedValue": 0,
            "minSimulatedValue": 0
          },
          {
            "sensorName": "SW_HYDRAULIC_THROTTLE_IDLE",
            "sensorKey": "",
            "displayName": "SW_HYDRAULIC_THROTTLE_IDLE",
            "isSimulated": false,
            "maxSimulatedValue": 0,
            "minSimulatedValue": 0
          }
        ]
      },
      {
        "pseudoSensorName": "SELECTED_SUCTION_PUMP_OFF",
        "sensors": [
          {
            "sensorName": "SUCTION_PUMP_OFF",
            "sensorKey": "",
            "displayName": "SUCTION_PUMP_OFF",
            "isSimulated": false,
            "maxSimulatedValue": 0,
            "minSimulatedValue": 0
          },
          {
            "sensorName": "SW_SUCTION_PUMP_OFF",
            "sensorKey": "",
            "displayName": "SW_SUCTION_PUMP_OFF",
            "isSimulated": false,
            "maxSimulatedValue": 0,
            "minSimulatedValue": 0
          }
        ]
      },
      {
        "pseudoSensorName": "SELECTED_SUCTION_PUMP_AUTO",
        "sensors": [
          {
            "sensorName": "SUCTION_PUMP_AUTO",
            "sensorKey": "",
            "displayName": "SUCTION_PUMP_AUTO",
            "isSimulated": false,
            "maxSimulatedValue": 0,
            "minSimulatedValue": 0
          },
          {
            "sensorName": "SW_SUCTION_PUMP_AUTO",
            "sensorKey": "",
            "displayName": "SW_SUCTION_PUMP_AUTO",
            "isSimulated": false,
            "maxSimulatedValue": 0,
            "minSimulatedValue": 0
          }
        ]
      },
      {
        "pseudoSensorName": "SELECTED_OPERATOR_VALVE_STATE",
        "sensors": [
          {
            "sensorName": "OPERATOR_VALVE_STATE",
            "sensorKey": "",
            "displayName": "OPERATOR_VALVE_STATE",
            "isSimulated": false,
            "maxSimulatedValue": 0,
            "minSimulatedValue": 0
          },
          {
            "sensorName": "SW_OPERATOR_VALVE_STATE",
            "sensorKey": "",
            "displayName": "SW_OPERATOR_VALVE_STATE",
            "isSimulated": false,
            "maxSimulatedValue": 0,
            "minSimulatedValue": 0
          }
        ]
      },
      {
        "pseudoSensorName": "SELECTED_DOWNHOLE_VALVE_STATE",
        "sensors": [
          {
            "sensorName": "DOWNHOLE_VALVE_STATE",
            "sensorKey": "",
            "displayName": "DOWNHOLE_VALVE_STATE",
            "isSimulated": false,
            "maxSimulatedValue": 0,
            "minSimulatedValue": 0
          },
          {
            "sensorName": "SW_DOWNHOLE_VALVE_STATE",
            "sensorKey": "",
            "displayName": "SW_DOWNHOLE_VALVE_STATE",
            "isSimulated": false,
            "maxSimulatedValue": 0,
            "minSimulatedValue": 0
          }
        ]
      },
      {
        "pseudoSensorName": "SELECTED_TUB_BYPASS_VALVE_STATE",
        "sensors": [
          {
            "sensorName": "TUB_BYPASS_VALVE_STATE",
            "sensorKey": "",
            "displayName": "TUB_BYPASS_VALVE_STATE",
            "isSimulated": false,
            "maxSimulatedValue": 0,
            "minSimulatedValue": 0
          },
          {
            "sensorName": "SW_TUB_BYPASS_VALVE_STATE",
            "sensorKey": "",
            "displayName": "SW_TUB_BYPASS_VALVE_STATE",
            "isSimulated": false,
            "maxSimulatedValue": 0,
            "minSimulatedValue": 0
          }
        ]
      },
      {
        "pseudoSensorName": "SELECTED_SHUTIN_VALVE_STATE",
        "sensors": [
          {
            "sensorName": "SHUTIN_VALVE_STATE",
            "sensorKey": "",
            "displayName": "SHUTIN_VALVE_STATE",
            "isSimulated": false,
            "maxSimulatedValue": 0,
            "minSimulatedValue": 0
          },
          {
            "sensorName": "SW_SHUTIN_VALVE_STATE",
            "sensorKey": "",
            "displayName": "SW_SHUTIN_VALVE_STATE",
            "isSimulated": false,
            "maxSimulatedValue": 0,
            "minSimulatedValue": 0
          }
        ]
      },
      {
        "pseudoSensorName": "SELECTED_BYPASS_VALVE_OPEN",
        "sensors": [
          {
            "sensorName": "BYPASS_VALVE_OPEN",
            "sensorKey": "",
            "displayName": "BYPASS_VALVE_OPEN",
            "isSimulated": false,
            "maxSimulatedValue": 0,
            "minSimulatedValue": 0
          },
          {
            "sensorName": "SW_BYPASS_VALVE_OPEN",
            "sensorKey": "",
            "displayName": "SW_BYPASS_VALVE_OPEN",
            "isSimulated": false,
            "maxSimulatedValue": 0,
            "minSimulatedValue": 0
          }
        ]
      },
      {
        "pseudoSensorName": "SELECTED_BYPASS_VALVE_CLOSE",
        "sensors": [
          {
            "sensorName": "BYPASS_VALVE_CLOSE",
            "sensorKey": "",
            "displayName": "BYPASS_VALVE_CLOSE",
            "isSimulated": false,
            "maxSimulatedValue": 0,
            "minSimulatedValue": 0
          },
          {
            "sensorName": "SW_BYPASS_VALVE_CLOSE",
            "sensorKey": "",
            "displayName": "SW_BYPASS_VALVE_CLOSE",
            "isSimulated": false,
            "maxSimulatedValue": 0,
            "minSimulatedValue": 0
          }
        ]
      },
      {
        "pseudoSensorName": "SELECTED_DISCHARGE_VALVE_OPEN",
        "sensors": [
          {
            "sensorName": "DISCHARGE_VALVE_OPEN",
            "sensorKey": "",
            "displayName": "DISCHARGE_VALVE_OPEN",
            "isSimulated": false,
            "maxSimulatedValue": 0,
            "minSimulatedValue": 0
          },
          {
            "sensorName": "SW_DISCHARGE_VALVE_OPEN",
            "sensorKey": "",
            "displayName": "SW_DISCHARGE_VALVE_OPEN",
            "isSimulated": false,
            "maxSimulatedValue": 0,
            "minSimulatedValue": 0
          }
        ]
      },
      {
        "pseudoSensorName": "SELECTED_DISCHARGE_VALVE_CLOSE",
        "sensors": [
          {
            "sensorName": "DISCHARGE_VALVE_CLOSE",
            "sensorKey": "",
            "displayName": "DISCHARGE_VALVE_CLOSE",
            "isSimulated": false,
            "maxSimulatedValue": 0,
            "minSimulatedValue": 0
          },
          {
            "sensorName": "SW_DISCHARGE_VALVE_CLOSE",
            "sensorKey": "",
            "displayName": "SW_DISCHARGE_VALVE_CLOSE",
            "isSimulated": false,
            "maxSimulatedValue": 0,
            "minSimulatedValue": 0
          }
        ]
      },
      {
        "pseudoSensorName": "SELECTED_TUB_MIXER_SPEED_PERCENT",
        "sensors": [
          {
            "sensorName": "SW_TUB_MIXER_SPEED_PERCENT",
            "sensorKey": "",
            "displayName": "SW_TUB_MIXER_SPEED_PERCENT",
            "isSimulated": false,
            "maxSimulatedValue": 0,
            "minSimulatedValue": 0
          },
          {
            "sensorName": "CONST_0_TUB_MIXER_SPEED_PERCENT",
            "sensorKey": "",
            "displayName": "CONST_0_TUB_MIXER_SPEED_PERCENT",
            "isSimulated": false,
            "maxSimulatedValue": 0,
            "minSimulatedValue": 0
          }
        ]
      },
      {
        "pseudoSensorName": "SELECTED_TUB_MIXER_DIRECTION_CW",
        "sensors": [
          {
            "sensorName": "TUB_DIRECTION_CW",
            "sensorKey": "",
            "displayName": "TUB_DIRECTION_CW",
            "isSimulated": false,
            "maxSimulatedValue": 0,
            "minSimulatedValue": 0
          },
          {
            "sensorName": "SW_TUB_MIXER_DIRECTION_CW",
            "sensorKey": "",
            "displayName": "SW_TUB_MIXER_DIRECTION_CW",
            "isSimulated": false,
            "maxSimulatedValue": 0,
            "minSimulatedValue": 0
          }
        ]
      },
      {
        "pseudoSensorName": "SELECTED_TUB_MIXER_DIRECTION_CCW",
        "sensors": [
          {
            "sensorName": "TUB_DIRECTION_CCW",
            "sensorKey": "",
            "displayName": "TUB_DIRECTION_CCW",
            "isSimulated": false,
            "maxSimulatedValue": 0,
            "minSimulatedValue": 0
          },
          {
            "sensorName": "SW_TUB_MIXER_DIRECTION_CCW",
            "sensorKey": "",
            "displayName": "SW_TUB_MIXER_DIRECTION_CCW",
            "isSimulated": false,
            "maxSimulatedValue": 0,
            "minSimulatedValue": 0
          }
        ]
      },
      {
        "pseudoSensorName": "BLENDER_SELECTED_SAND_RATE",
        "sensors": [
          {
            "sensorName": "SAND_DELIVERY_FLOW_RATE",
            "sensorKey": "",
            "displayName": "SAND DELIVERY FLOW RATE",
            "isSimulated": false,
            "maxSimulatedValue": 0,
            "minSimulatedValue": 0
          },
          {
            "sensorName": "SIMULATED_SAND_DELIVERY_FLOW_RATE",
            "sensorKey": "",
            "displayName": "SIMULATED SAND DELIVERY FLOW RATE",
            "isSimulated": true,
            "maxSimulatedValue": 20000,
            "minSimulatedValue": 0
          }
        ]
      }
    ],
    "commandTimeoutMs": 1000,
    "faultCodes": [],
    "alarms": {
      "clearCodesMenu": {
        "resetMenu": false,
        "clearCodesMenuItem": []
      }
    },
    "modeEnumerations": {},
    "modes": {}
  }
}