{
  "pidParameters": [
    {
      "name": "INLET_VALVE_CONTROL",
      "pidParams": {
        "kp": 0.023,
        "ki": 9.0000003183376975E-06,
        "kd": 0.0,
        "outmax": 1.0,
        "outmin": -1.0,
        "maxRateOfChange": 8.0
      },
      "initialSetpoint": 0.0
    },
    {
      "name": "MAIN_AUGER_01",
      "pidParams": {
        "kp": 0.30000001192092896,
        "ki": 9.0000001364387572E-05,
        "kd": 0.0,
        "outmax": 100.0,
        "outmin": -0.10000000149011612,
        "maxRateOfChange": 15.0
      },
      "initialSetpoint": 0.0
    },
    {
      "name": "MAIN_AUGER_02",
      "pidParams": {
        "kp": 0.30000001192092896,
        "ki": 9.0000001364387572E-05,
        "kd": 0.0,
        "outmax": 100.0,
        "outmin": -0.10000000149011612,
        "maxRateOfChange": 15.0
      },
      "initialSetpoint": 0.0
    },
    {
      "name": "MAIN_AUGER_03",
      "pidParams": {
        "kp": 0.30000001192092896,
        "ki": 9.0000001364387572E-05,
        "kd": 0.0,
        "outmax": 100.0,
        "outmin": -0.10000000149011612,
        "maxRateOfChange": 15.0
      },
      "initialSetpoint": 0.0
    },
    {
      "name": "MAIN_HOPPER",
      "pidParams": {
        "kp": 0.10000000149011612,
        "ki": 9.0000003183376975E-06,
        "kd": 0.0,
        "outmax": 0.20000000298023224,
        "outmin": -0.20000000298023224,
        "maxRateOfChange": 0.20000000298023224
      },
      "initialSetpoint": 0.0
    },
    {
      "name": "TUB_LEVEL_CONTROL",
      "pidParams": {
        "kp": 0.8,
        "ki": 5E-05,
        "kd": 0.0,
        "outmax": 100.0,
        "outmin": 0.0,
        "maxRateOfChange": 15.0
      },
      "initialSetpoint": 85.0
    },
    {
      "name": "DISCHARGE_PUMP_PID",
      "pidParams": {
        "kp": 0.4,
        "ki": 0.00014,
        "kd": 0.0003,
        "outmax": 100.0,
        "outmin": 0.0,
        "maxRateOfChange": 15.0
      },
      "initialSetpoint": 0.0
    }
  ]
}