{
  "powertrains": [
    {
      "name": "DISCHARGE_POWERTRAIN",
      "heartbeatContinuous": false,
      "engineEnableRelay": "BOOL_ECM_ENABLE_DISCHARGE",
      "engineEnableWhileIgnitionOn": false,
      "ekillRelay": "BOOL_EKILL_DISCHARGE",
      "delayBeforeParkAfterStart": 0,
      "maxControlHeartBeatInterval": 0,
      "ekillOnState": true,
      "ekillDelay": 5000,
      "ekillFirst": false,
      "disablePressureMonitor": true,
      "controlPanel": {
        "checkEngineLed": "BOOL_CHECK_ENGINE_DISCHARGE",
        "stopEngineLed": "BOOL_STOP_ENGINE_DISCHARGE",
        "checkTransmissionLed": "BOOL_CHECK_TRANS_DISCHARGE_RED",
        "engineLamps": [
          "AWL",
          "MIL",
          "RSL"
        ],
        "clutchSwitch": {
          "sensor": "SELECTED_DISCHARGE_CLUTCH_SWITCH",
          "activeState": true,
          "enableSwitch": {
            "name": "Clutch Switch Enabled",
            "sensor": "INTERNAL_DISCHARGE_CLUTCH_SWITCH_ENABLED",
            "activeState": true,
            "onThreshold": 1.0
          },
          "enableSwitchDeactivateOnly": true
        },
        "mainPower": {
          "name": "mainPower",
          "sensor": "BOOL_IGNITION_DISCHARGE",
          "activeState": true
        },
        "startSwitch": {
          "name": "startSwitch",
          "sensor": "BOOL_START_DISCHARGE",
          "activeState": true
        },
        "ekillSwitch": {
          "name": "ekillSwitch",
          "sensor": "BOOL_EKILL",
          "activeState": false
        },
        "throttle": {
          "inputSwitch": {
            "name": "SelectControl",
            "sensor": "Transfer to Local Control",
            "activeState": true,
            "onThreshold": 1.0,
            "offThreshold": 0.0
          },
          "manualEncoder": {
            "encoderInputSensor": "COUNT_THROTTLE_DISCHARGE_A",
            "pulsesPerTurn": 1024,
            "revolutionsForFullRange": 24
          },
          "controlInput": {
            "sensor": "INTERNAL_DISCHARGE_THROTTLE_INPUT_PERCENT",
            "minControlInput": 0,
            "maxControlInput": 100
          },
          "type": "encoderOrControlInput"
        },
        "name": "DISCHARGE_PANEL"
      },
      "components": [
        {
          "engineType": "smart",
          "offRPM": 300,
          "engineMinTargetRPM": 700,
          "engineMaxTargetRPM": 1950,
          "pressureTestMaxRPM": 0,
          "rigsaver1": {
            "name": "discharge air shutoff",
            "sensor": "BOOL_AIRSHUT_CLOSED_DISCHARGE",
            "activeState": true
          },
          "useInternalEngineRunHours": false,
          "componentType": "engine",
          "name": "DISCHARGE_ENG"
        },
        {
          "starterRelay": "BOOL_START_DISCHARGE_OUT",
          "miscType": "engineStarter",
          "componentType": "misc",
          "name": "DISCHARGE_STARTER"
        },
        {
          "transmissionType": "smart",
          "maxParkRpm": 0,
          "parkSafeShiftRpm": 0,
          "minGear": "GEAR_N",
          "maxGear": "GEAR_N",
          "maxRequestDuration": 0,
          "componentType": "transmission",
          "name": "DISCHARGE_TRANS"
        },
        {
          "enabledConstraint": "Discharge Clutch Disabled",
          "positionSensor": "DISCHARGE_CLUTCH_POSITION",
          "engageTimeoutMs": 30000,
          "miscType": "clutch",
          "componentType": "misc",
          "name": "DISCHARGE_CLUTCH"
        }
      ]
    },
    {
      "name": "HYDRAULIC_POWERTRAIN",
      "heartbeatContinuous": false,
      "engineEnableRelay": "BOOL_ECM_ENABLE_HYDRAULIC",
      "engineEnableWhileIgnitionOn": false,
      "ekillRelay": "BOOL_EKILL_HYDRAULIC",
      "delayBeforeParkAfterStart": 0,
      "maxControlHeartBeatInterval": 0,
      "ekillOnState": true,
      "ekillDelay": 5000,
      "ekillFirst": false,
      "disablePressureMonitor": true,
      "controlPanel": {
        "checkEngineLed": "BOOL_CHECK_ENGINE_HYDRAULIC",
        "stopEngineLed": "BOOL_STOP_ENGINE_HYDRAULIC",
        "engineLamps": [
          "AWL",
          "MIL",
          "RSL"
        ],
        "mainPower": {
          "name": "mainPower",
          "sensor": "BOOL_IGNITION_HYDRAULIC",
          "activeState": true
        },
        "startSwitch": {
          "name": "startSwitch",
          "sensor": "BOOL_START_HYDRAULIC",
          "activeState": true
        },
        "ekillSwitch": {
          "name": "ekillSwitch",
          "sensor": "BOOL_EKILL",
          "activeState": false
        },
        "instantIdleSwitch": {
          "name": "hydraulicIdleThrottleSwitch",
          "sensor": "SELECTED_HYDRAULIC_THROTTLE_IDLE",
          "activeState": true
        },
        "midThrottleRpm": 1300,
        "midThrottleSwitch": {
          "name": "hydraulicMidThrottleSwitch",
          "sensor": "SW_HYDRAULIC_THROTTLE_MID",
          "activeState": true
        },
        "fullThrottleSwitch": {
          "name": "hydraulicFullThrottleSwitch",
          "sensor": "SELECTED_HYDRAULIC_THROTTLE_FULL",
          "activeState": true
        },
        "name": "HYDRAULIC_PANEL"
      },
      "components": [
        {
          "engineType": "smart",
          "offRPM": 300,
          "engineMinTargetRPM": 750,
          "engineMaxTargetRPM": 2050,
          "pressureTestMaxRPM": 0,
          "rigsaver1": {
            "name": "hydyraulic air shutoff",
            "sensor": "BOOL_AIRSHUT_CLOSED_HYDRAULIC",
            "activeState": true
          },
          "useInternalEngineRunHours": false,
          "componentType": "engine",
          "name": "HYDRAULIC_ENG"
        },
        {
          "starterRelay": "BOOL_START_HYDRAULIC_OUT",
          "miscType": "engineStarter",
          "componentType": "misc",
          "name": "HYDRAULIC_STARTER"
        },
        {
          "transmissionType": "directDrive",
          "maxParkRpm": 0,
          "parkSafeShiftRpm": 0,
          "minGear": "GEAR_N",
          "maxGear": "GEAR_N",
          "maxRequestDuration": 0,
          "componentType": "transmission",
          "name": "HYDRAULIC_TRANS"
        }
      ]
    }
  ]
}