{
  "hardware": {
    "stwtype": "ESX3XL",
    "boards": [
      {
        "type": "EB02",
        "slot": "SLOT_D"
      },
      {
        "type": "EB04",
        "slot": "SLOT_B"
      },
      {
        "type": "EB09",
        "slot": "SLOT_A"
      },
      {
        "type": "EB11",
        "slot": "SLOT_E"
      },
      {
        "type": "EB11",
        "slot": "SLOT_F"
      },
      {
        "type": "IOX",
        "slot": "IOX_3",
        "ioxId": 3,
        "canbusChannel": 1,
        "ioxModel": 34460
      }
    ]
  },
  "defaults": [
    {
      "sensor": "POS_TUB_INLET_VALVE",
      "value": 280000
    },
    {
      "sensor": "PRES_SUCTION_HYDRAULIC",
      "value": 13000
    },
    {
      "sensor": "BOOL_SW_SHUTDOWN_CONTROL",
      "value": 1
    },
    {
      "sensor": "BOOL_DISCHARGE_CLUTCH_AIR_PRESS_OK",
      "value": 1
    },
    {
      "sensor": "DENSITOMETER_01",
      "value": 4000
    },
    {
      "sensor": "PRES_SUPPLY",
      "value": 13000
    },
    {
      "sensor": "PRES_DISCHARGE",
      "value": 13000
    },
    {
      "sensor": "PRES_SUCTION",
      "value": 18000
    },
    {
      "sensor": "BOOL_EKILL",
      "value": 1
    },
    {
      "sensor": "PRES_TUB_PADDLE_HYDRAULIC",
      "value": 13000
    },
    {
      "sensor": "PRES_OPEN_LOOP_HYDRAULIC",
      "value": 13000
    },
    {
      "sensor": "PRES_OPEN_LOOP_HYDRAULIC_02",
      "value": 13000
    },
    {
      "sensor": "PRES_OPEN_LOOP_HYDRAULIC_03",
      "value": 13000
    }
  ],
  "components": [
    {
      "capacity": 320.0,
      "initialVolume": 250.0,
      "levelSensor": "LVL_TUB",
      "redundantLevelSensorAllowedRange": 0,
      "levelSensorMin": 4000,
      "levelSensorMax": 20000,
      "levelIndicators": [],
      "densitometerSensor": "DENSITOMETER_01",
      "densityValMax": 30,
      "densitySigMin": 4000,
      "densitySigMax": 20000,
      "name": "BlenderTub",
      "type": "tank"
    },
    {
      "clutchEngagedFeedback": "BOOL_DISCHARGE_CLUTCH_POSITION_FEEDBACK",
      "clutchEngageRequest": "BOOL_CLUTCH_ENGAGE_DISCHARGE",
      "name": "DISCHARGE_CLUTCH",
      "type": "clutch"
    },
    {
      "canbusChannel": 2,
      "starterRelays": [
        "BOOL_START_DISCHARGE_OUT"
      ],
      "ecmEnable": "BOOL_ECM_ENABLE_DISCHARGE",
      "ecmEnableWhileIgnitionOn": false,
      "eKill": "BOOL_EKILL_DISCHARGE",
      "idleRPM": 700,
      "maxRPM": 1750,
      "canbusAddress": 0,
      "controlDeviceAddress": 33,
      "fuelConsumptionRate": 0.0,
      "clutchName": "DISCHARGE_CLUTCH",
      "coolers": [],
      "name": "DISCHARGE_ENG",
      "type": "smartEngine"
    },
    {
      "position1Control": "BOOL_TUB_DISCHARGE_VALVE_A",
      "position2Control": "BOOL_TUB_DISCHARGE_VALVE_B",
      "position1Sensor": "POS_TUB_DISCHARGE_VALVE",
      "sensorsActiveHigh": false,
      "controlsActiveHigh": true,
      "transitionDelay": 1000,
      "sensorOnValue": 300000,
      "sensorOffValue": 1280000,
      "flowSource": "BlenderTub",
      "name": "DISCHARGE_VALVE",
      "type": "valve"
    },
    {
      "controlMin": 0,
      "controlMax": 0,
      "reverseControlMin": 0,
      "reverseControlMax": 0,
      "reverseOutputActiveHigh": false,
      "rpmMin": 750,
      "rpmMax": 1750,
      "maxRpmChangeRate": 100,
      "rpmSensorKFactor": 0.0,
      "flowSensor": "FLOW_DISCHARGE_MAG_01",
      "flowSensorKFactor": 17.0,
      "flowSensorOffset": 0,
      "rpmToFlowFactor": 2.88,
      "efficiency": 1.0,
      "flowSource": "DISCHARGE_VALVE",
      "pressureSensor": {
        "input": "PRES_DISCHARGE",
        "valueMin": 0.0,
        "valueMax": 150.0,
        "signalMin": 4000,
        "signalMax": 20000
      },
      "pressureLinearFactor": 0.025,
      "motor": "DISCHARGE_ENG",
      "name": "DISCHARGE_PUMP",
      "type": "rotaryControl"
    },
    {
      "position1Control": "BOOL_TUB_BYPASS_VALVE_A",
      "position2Control": "BOOL_TUB_BYPASS_VALVE_B",
      "position1Sensor": "POS_TUB_BYPASS_VALVE",
      "sensorsActiveHigh": false,
      "controlsActiveHigh": true,
      "transitionDelay": 2000,
      "sensorOnValue": 300000,
      "sensorOffValue": 1280000,
      "position2Flow": "BlenderTub",
      "name": "BYPASS_VALVE",
      "type": "valve"
    },
    {
      "positionMode": "relative",
      "controlLowValue": 3000,
      "controlHighValue": 9000,
      "minOpenControl": 5900,
      "maxOpenControl": 3000,
      "minCloseControl": 6100,
      "maxCloseControl": 9000,
      "minPositionSensor": 280000,
      "maxPositionSensor": 1280000,
      "controlZeroValue": 6000,
      "changeRate": 0.1,
      "position1Control": "VOLTAGE_TUB_INLET_VALVE",
      "position1Sensor": "POS_TUB_INLET_VALVE",
      "sensorsActiveHigh": false,
      "controlsActiveHigh": true,
      "transitionDelay": 1000,
      "sensorOnValue": 1280000,
      "sensorOffValue": 280000,
      "name": "INLET_VALVE",
      "type": "continuousValve"
    },
    {
      "controlOutput": "CURRENT_SUCTION_PUMP",
      "controlMin": 4000,
      "controlMax": 20000,
      "reverseControlMin": 0,
      "reverseControlMax": 0,
      "reverseOutputActiveHigh": false,
      "rpmMin": 10,
      "rpmMax": 1200,
      "maxRpmChangeRate": 0,
      "rpmSensorKFactor": 0.0,
      "flowSensor": "FLOW_SUCTION_MAG_01",
      "flowSensorKFactor": 17.0,
      "flowSensorOffset": 0,
      "rpmToFlowFactor": 10.0,
      "flowTarget": "BYPASS_VALVE",
      "flowSource": "#HYDRATION_DISCHARGE",
      "flowLimiter": "INLET_VALVE",
      "name": "SUCTION_PUMP",
      "type": "rotaryControl"
    },
    {
      "controlOutput": "LA_PUMP_01",
      "controlMin": 6000,
      "controlMax": 3500,
      "reverseControlMin": 0,
      "reverseControlMax": 0,
      "reverseOutputActiveHigh": false,
      "rpmMin": 60,
      "rpmMax": 1000,
      "maxRpmChangeRate": 100,
      "rpmSensor": "RPM_LA_PUMP_01",
      "rpmSensorKFactor": 1000.0,
      "flowSensor": "FREQ_LA_PUMP_01",
      "flowSensorKFactor": 100000.0,
      "flowSensorOffset": 0,
      "rpmToFlowFactor": 0.01,
      "flowTarget": "BlenderTub",
      "name": "LA1_PUMP",
      "type": "rotaryControl"
    },
    {
      "controlOutput": "LA_PUMP_02",
      "controlMin": 6000,
      "controlMax": 3500,
      "reverseControlMin": 0,
      "reverseControlMax": 0,
      "reverseOutputActiveHigh": false,
      "rpmMin": 60,
      "rpmMax": 1000,
      "maxRpmChangeRate": 0,
      "rpmSensor": "RPM_LA_PUMP_02",
      "rpmSensorKFactor": 1000.0,
      "flowSensor": "FREQ_LA_PUMP_02",
      "flowSensorKFactor": 100000.0,
      "flowSensorOffset": 0,
      "rpmToFlowFactor": 0.01,
      "flowTarget": "BlenderTub",
      "name": "LA2_PUMP",
      "type": "rotaryControl"
    },
    {
      "controlOutput": "LA_PUMP_03",
      "controlMin": 6000,
      "controlMax": 3825,
      "reverseControlMin": 0,
      "reverseControlMax": 0,
      "reverseOutputActiveHigh": false,
      "rpmMin": 60,
      "rpmMax": 1000,
      "maxRpmChangeRate": 0,
      "rpmSensor": "RPM_LA_PUMP_03",
      "rpmSensorKFactor": 1000.0,
      "flowSensor": "FREQ_LA_PUMP_03",
      "flowSensorKFactor": 100000.0,
      "flowSensorOffset": 0,
      "rpmToFlowFactor": 0.025,
      "flowTarget": "BlenderTub",
      "name": "LA3_PUMP",
      "type": "rotaryControl"
    },
    {
      "controlOutput": "LA_PUMP_04",
      "controlMin": 6000,
      "controlMax": 3825,
      "reverseControlMin": 0,
      "reverseControlMax": 0,
      "reverseOutputActiveHigh": false,
      "rpmMin": 60,
      "rpmMax": 1000,
      "maxRpmChangeRate": 0,
      "rpmSensor": "RPM_LA_PUMP_04",
      "rpmSensorKFactor": 1000.0,
      "flowSensor": "FREQ_LA_PUMP_04",
      "flowSensorKFactor": 100000.0,
      "flowSensorOffset": 0,
      "rpmToFlowFactor": 0.025,
      "flowTarget": "BlenderTub",
      "name": "LA4_PUMP",
      "type": "rotaryControl"
    },
    {
      "controlOutput": "LA_PUMP_05",
      "controlMin": 6000,
      "controlMax": 3500,
      "reverseControlMin": 0,
      "reverseControlMax": 0,
      "reverseOutputActiveHigh": false,
      "rpmMin": 60,
      "rpmMax": 1000,
      "maxRpmChangeRate": 0,
      "rpmSensor": "RPM_LA_PUMP_05",
      "rpmSensorKFactor": 1000.0,
      "flowSensor": "FREQ_LA_PUMP_05",
      "flowSensorKFactor": 100000.0,
      "flowSensorOffset": 0,
      "rpmToFlowFactor": 0.01,
      "flowTarget": "BlenderTub",
      "name": "LA5_PUMP",
      "type": "rotaryControl"
    },
    {
      "controlOutput": "LA_PUMP_06",
      "controlMin": 6000,
      "controlMax": 3500,
      "reverseControlMin": 0,
      "reverseControlMax": 0,
      "reverseOutputActiveHigh": false,
      "rpmMin": 60,
      "rpmMax": 1000,
      "maxRpmChangeRate": 0,
      "rpmSensor": "RPM_LA_PUMP_06",
      "rpmSensorKFactor": 1000.0,
      "flowSensor": "FREQ_LA_PUMP_06",
      "flowSensorKFactor": 100000.0,
      "flowSensorOffset": 0,
      "rpmToFlowFactor": 0.01,
      "flowTarget": "BlenderTub",
      "name": "LA6_PUMP",
      "type": "rotaryControl"
    },
    {
      "controlOutput": "LA_PUMP_07",
      "controlMin": 6000,
      "controlMax": 3000,
      "reverseControlMin": 0,
      "reverseControlMax": 0,
      "reverseOutputActiveHigh": false,
      "rpmMin": 60,
      "rpmMax": 1000,
      "maxRpmChangeRate": 0,
      "rpmSensor": "RPM_LA_PUMP_07",
      "rpmSensorKFactor": 1000.0,
      "flowSensor": "FREQ_LA_PUMP_07",
      "flowSensorKFactor": 100000.0,
      "flowSensorOffset": 0,
      "rpmToFlowFactor": 0.025,
      "flowTarget": "BlenderTub",
      "name": "LA7_PUMP",
      "type": "rotaryControl"
    },
    {
      "controlOutput": "LA_PUMP_08",
      "controlMin": 6000,
      "controlMax": 3000,
      "reverseControlMin": 0,
      "reverseControlMax": 0,
      "reverseOutputActiveHigh": false,
      "rpmMin": 60,
      "rpmMax": 1000,
      "maxRpmChangeRate": 0,
      "rpmSensor": "RPM_LA_PUMP_08",
      "rpmSensorKFactor": 1000.0,
      "flowSensor": "FREQ_LA_PUMP_08",
      "flowSensorKFactor": 100000.0,
      "flowSensorOffset": 0,
      "rpmToFlowFactor": 0.025,
      "flowTarget": "BlenderTub",
      "name": "LA8_PUMP",
      "type": "rotaryControl"
    },
    {
      "controlOutput": "DA_SPEED_01",
      "controlMin": 6000,
      "controlMax": 3000,
      "reverseControlMin": 0,
      "reverseControlMax": 0,
      "reverseOutputActiveHigh": false,
      "rpmMin": 0,
      "rpmMax": 600,
      "maxRpmChangeRate": 0,
      "rpmSensor": "FREQ_DA_SPEED_01_A",
      "rpmSensorKFactor": 3750.0,
      "flowSensorKFactor": 0.0,
      "flowSensorOffset": 0,
      "rpmToFlowFactor": 0.01,
      "flowTarget": "BlenderTub",
      "name": "DA1",
      "type": "rotaryControl"
    },
    {
      "controlOutput": "DA_SPEED_02",
      "controlMin": 6000,
      "controlMax": 3000,
      "reverseControlMin": 0,
      "reverseControlMax": 0,
      "reverseOutputActiveHigh": false,
      "rpmMin": 0,
      "rpmMax": 600,
      "maxRpmChangeRate": 0,
      "rpmSensor": "FREQ_DA_SPEED_02_A",
      "rpmSensorKFactor": 3750.0,
      "flowSensorKFactor": 0.0,
      "flowSensorOffset": 0,
      "rpmToFlowFactor": 0.01,
      "flowTarget": "BlenderTub",
      "name": "DA2",
      "type": "rotaryControl"
    },
    {
      "density": 13.37,
      "isThermal": false,
      "name": "HOPPER",
      "type": "fluidSource"
    },
    {
      "controlOutput": "CURRENT_AUGER_SPEED_01",
      "controlMin": 4000,
      "controlMax": 20000,
      "reverseControlMin": 0,
      "reverseControlMax": 0,
      "reverseOutputActiveHigh": false,
      "rpmMin": 5,
      "rpmMax": 410,
      "maxRpmChangeRate": 0,
      "rpmSensor": "FREQ_AUGER_SPEED_01_A",
      "rpmSensorKFactor": 5000.0,
      "flowSensorKFactor": 0.0,
      "flowSensorOffset": 0,
      "rpmToFlowFactor": 1.0,
      "flowTarget": "BlenderTub",
      "flowSource": "HOPPER",
      "name": "AUGER1",
      "type": "rotaryControl"
    },
    {
      "controlOutput": "CURRENT_AUGER_SPEED_02",
      "controlMin": 4000,
      "controlMax": 20000,
      "reverseControlMin": 0,
      "reverseControlMax": 0,
      "reverseOutputActiveHigh": false,
      "rpmMin": 5,
      "rpmMax": 410,
      "maxRpmChangeRate": 0,
      "rpmSensor": "FREQ_AUGER_SPEED_02_A",
      "rpmSensorKFactor": 5000.0,
      "flowSensorKFactor": 0.0,
      "flowSensorOffset": 0,
      "rpmToFlowFactor": 1.0,
      "flowTarget": "BlenderTub",
      "flowSource": "HOPPER",
      "name": "AUGER2",
      "type": "rotaryControl"
    },
    {
      "controlOutput": "CURRENT_AUGER_SPEED_03",
      "controlMin": 4000,
      "controlMax": 20000,
      "reverseControlMin": 0,
      "reverseControlMax": 0,
      "reverseOutputActiveHigh": false,
      "rpmMin": 5,
      "rpmMax": 410,
      "maxRpmChangeRate": 0,
      "rpmSensor": "FREQ_AUGER_SPEED_03_A",
      "rpmSensorKFactor": 5000.0,
      "flowSensorKFactor": 0.0,
      "flowSensorOffset": 0,
      "rpmToFlowFactor": 1.0,
      "flowTarget": "BlenderTub",
      "flowSource": "HOPPER",
      "name": "AUGER3",
      "type": "rotaryControl"
    },
    {
      "canbusChannel": 3,
      "starterRelays": [
        "BOOL_START_HYDRAULIC_OUT"
      ],
      "ecmEnable": "BOOL_ECM_ENABLE_HYDRAULIC",
      "ecmEnableWhileIgnitionOn": false,
      "eKill": "BOOL_EKILL_HYDRAULIC",
      "idleRPM": 750,
      "maxRPM": 2050,
      "canbusAddress": 0,
      "controlDeviceAddress": 33,
      "fuelConsumptionRate": 0.0,
      "coolers": [],
      "name": "HYDRAULIC_ENG",
      "type": "smartEngine"
    },
    {
      "canbusChannel": 2,
      "engine": "DISCHARGE_ENG",
      "instantNeutralActiveState": false,
      "lockupRPM": 0,
      "gearRatios": [
        0.0,
        7.63,
        3.51,
        1.91,
        1.43,
        1.0,
        0.74,
        0.64
      ],
      "canbusAddress": 7,
      "shiftDelay": 0,
      "controlDeviceAddress": 39,
      "name": "DISCHARGE_TRANS",
      "type": "smartTrans"
    }
  ],
  "type": "BlenderLA8",
  "hwId": "BLENDER_TUB",
  "auxUnits": [
    "$U10Ip"
  ],
  "pollingInverval": 20,
  "dataExchange": {
    "sqlconfig": {
      "username": "root",
      "password": "mobile",
      "db": "mdt_stw_simulation",
      "host": "127.0.0.1"
    }
  }
}