{
  "RegistrationName": "750125eng",
  "RegistrationDescription": "",
  "RegistrationGuid": "64fd6616-8ede-45ab-a7d4-ccc81217fd9d",
  "EngineModel": "Blender Engine (Default)",
  "TransModel": "Twin Disc",
  "DataVanHMIIp": "172.18.1.3",
  "U10Ip": "172.18.1.208",
  "LocalHMIIp": "172.18.1.5",
  "RegistrationName_U10": "750125adds",
  "configs": {
    "POS_TUB_INLET_VALVE_CONFIG": {
      "sensMin": 0,
      "scalingFactor": 1,
      "sensMax": 100,
      "sigMin": 115000,
      "sigMinOffset": 0,
      "sigMax": 1238000,
      "sigMaxOffset": 0
    },
    "PRES_SUCTION_CONFIG": {
      "sensMin": 0,
      "scalingFactor": 1,
      "sensMax": 150,
      "sigMin": 4000,
      "sigMinOffset": 0,
      "sigMax": 20000,
      "sigMaxOffset": 0
    },
    "PRES_DISCHARGE_CONFIG": {
      "sensMin": 0,
      "scalingFactor": 1,
      "sensMax": 300,
      "sigMin": 4000,
      "sigMinOffset": 0,
      "sigMax": 20000,
      "sigMaxOffset": 0
    },
    "PRES_OPEN_LOOP_HYDRAULIC_CONFIG": {
      "sensMin": 0,
      "scalingFactor": 1,
      "sensMax": 5000,
      "sigMin": 4000,
      "sigMinOffset": 469,
      "sigMax": 20000,
      "sigMaxOffset": 469
    },
    "DENSITOMETER_01_CONFIG": {
      "sensMin": 0,
      "scalingFactor": 1,
      "sensMax": 25,
      "sigMin": 4000,
      "sigMinOffset": 8000,
      "sigMax": 20000,
      "sigMaxOffset": 8000
    }
  },
  "blender": {
    "TUB_MIXER": {
      "minControlOutput": 5900,
      "maxControlOutput": 3000,
      "minReverseControlOutput": 6100,
      "maxReverseControlOutput": 9000,
      "controlZeroValue": 6000
    },
    "MAIN_AUGER_02": {
      "deliveryRate": 2.9519131183624268,
      "efficiency": 0.75,
      "minRpm": 5,
      "maxRpm": 410,
      "minControlOutput": 4000,
      "maxControlOutput": 18000
    },
    "MAIN_AUGER_03": {
      "deliveryRate": 2.9519131183624268,
      "efficiency": 0.75,
      "minRpm": 5,
      "maxRpm": 410,
      "minControlOutput": 4000,
      "maxControlOutput": 18000
    },
    "DENSITY_CALCULATION_REMOTE_MASS_FLOW_01": {
      "isDefault": false
    },
    "DENSITY_CALCULATION_DENSITOMETER_01": {
      "isDefault": false
    },
    "DENSITY_CALCULATION_AUGER_FLOW_MAIN_AUGERS": {
      "isDefault": true
    },
    "MAIN_AUGER_01": {
      "deliveryRate": 2.9519131183624268,
      "efficiency": 0.9900000095367432,
      "minRpm": 5,
      "maxRpm": 410,
      "minControlOutput": 4000,
      "maxControlOutput": 20000
    }
  },
  "controlOutputMaps": {
    "REQUIRED_SUCTION_RATE_INLET_VALVE_MAP": {
      "controlOutputMappings": [
        {
          "input": 0,
          "output": 0
        },
        {
          "input": 420,
          "output": 10
        },
        {
          "input": 840,
          "output": 20
        },
        {
          "input": 1260,
          "output": 30
        },
        {
          "input": 1680,
          "output": 40
        },
        {
          "input": 2100,
          "output": 50
        },
        {
          "input": 2520,
          "output": 60
        },
        {
          "input": 2940,
          "output": 70
        },
        {
          "input": 3360,
          "output": 85
        },
        {
          "input": 3780,
          "output": 100
        },
        {
          "input": 4200,
          "output": 100
        },
        {
          "input": 4620,
          "output": 100
        }
      ]
    }
  },
  "pidParameters": {
    "INLET_VALVE_CONTROL": {
      "pidParams": {
        "kp": 0.012000001966953278,
        "ki": 0.000008600000001024455,
        "kd": 0
      }
    },
    "TUB_LEVEL_CONTROL": {
      "pidParams": {
        "kp": 0.8999999761581421,
        "ki": 0.00007999999797903001,
        "kd": 0
      }
    },
    "DISCHARGE_PUMP_PID": {
      "pidParams": {
        "kp": 0.03999999910593033,
        "ki": 0.00013800000306218863,
        "kd": 0.00030000004335306585
      }
    }
  }
}