{
  "calculatedSensors": [
    {
      "name": "DISCHARGE_PRESS_SENSOR",
      "sensor": "PRES_DISCHARGE_01",
      "sensorInterpretation": "PRES_DISCHARGE_01_CONFIG",
      "sampleType": "SAMPLE_VALUE",
      "calculationType": "DIRECT",
      "maxSampleRate": 5,
      "filter": {
        "type": "median",
        "size": 40
      }
    },
    {
      "name": "ENGINE_BOOST_PRESSURE",
      "sensor": "ENGINE_BOOST_PRESSURE_DIRECT",
      "sensorInterpretation": "IDENTITY",
      "sampleType": "SAMPLE_VALUE",
      "calculationType": "DIRECT"
    },
    {
      "name": "ENGINE_FUEL_PRESSURE",
      "sensor": "ENGINE_FUEL_PRESSURE_DIRECT",
      "sensorInterpretation": "IDENTITY",
      "sampleType": "SAMPLE_VALUE",
      "calculationType": "DIRECT"
    },
    {
      "name": "ENGINE_HOURS",
      "sensor": "HOURS_ENGINE",
      "sensorInterpretation": "IDENTITY",
      "sampleType": "SAMPLE_COMPUTED",
      "calculationType": "DIRECT"
    },
    {
      "name": "ENGINE_OIL_PRESSURE",
      "sensor": "ENGINE_OIL_PRESSURE_DIRECT",
      "sensorInterpretation": "IDENTITY",
      "sampleType": "SAMPLE_VALUE",
      "calculationType": "DIRECT"
    },
    {
      "name": "ENGINE_TEMPERATURE",
      "sensor": "TEMP_ENGINE_01",
      "sensorInterpretation": "IDENTITY",
      "sampleType": "SAMPLE_VALUE",
      "calculationType": "DIRECT",
      "maxSampleRate": 100
    },
    {
      "name": "PUMP_LUBE_PRESS_SENSOR",
      "sensor": "PRES_PWRENDLUBE_01",
      "sensorInterpretation": "PRES_PWRENDLUBE_01_CONFIG",
      "sampleType": "SAMPLE_VALUE",
      "calculationType": "DIRECT",
      "filter": {
        "type": "median",
        "size": 20
      }
    },
    {
      "name": "PUMP_LUBE_TEMP_SENSOR",
      "sensor": "TEMP_PWRENDLUBE_01",
      "sensorInterpretation": "TEMP_PWRENDLUBE_01_CONFIG",
      "sampleType": "SAMPLE_VALUE",
      "calculationType": "DIRECT",
      "filter": {
        "type": "median",
        "size": 20
      }
    },
    {
      "name": "SUCTION_PRESSURE_SENSOR",
      "sensor": "PRES_SUCTION_01",
      "sensorInterpretation": "PRES_SUCTION_01_CONFIG",
      "sampleType": "SAMPLE_VALUE",
      "calculationType": "DIRECT",
      "maxSampleRate": 5,
      "filter": {
        "type": "median",
        "size": 20
      }
    },
    {
      "name": "TRANS_LUBE_PRESS_SENSOR",
      "sensor": "PRES_TRANSLUBE_01",
      "sensorInterpretation": "PRES_TRANSLUBE_01_CONFIG",
      "sampleType": "SAMPLE_VALUE",
      "calculationType": "DIRECT",
      "filter": {
        "type": "median",
        "size": 20
      }
    },
    {
      "name": "TRANS_LUBE_TEMP_SENSOR",
      "sensor": "TEMP_TRANSLUBE_01",
      "sensorInterpretation": "IDENTITY",
      "sampleType": "SAMPLE_VALUE",
      "calculationType": "DIRECT",
      "maxSampleRate": 100
    },
    {
      "name": "POWERTRAIN1.PUMP_TRACKER.PUMP_STROKES",
      "sensor": "POWERTRAIN1.PUMP_TRACKER.PUMP_STROKES",
      "sensorInterpretation": "POWERTRAIN1.PUMP_TRACKER.PUMP_STROKES",
      "sampleType": "SAMPLE_REMOTE",
      "calculationType": "REMOTE",
      "remoteTimeoutMs": 0,
      "initialValue": 0.0
    },
    {
      "name": "POWERTRAIN1.PUMP_TRACKER.PUMPING_TIME",
      "sensor": "POWERTRAIN1.PUMP_TRACKER.PUMPING_TIME",
      "sensorInterpretation": "POWERTRAIN1.PUMP_TRACKER.PUMPING_TIME",
      "sampleType": "SAMPLE_REMOTE",
      "calculationType": "REMOTE",
      "remoteTimeoutMs": 0,
      "initialValue": 0.0
    },
    {
      "name": "POWERTRAIN1.UNIT_HOURS",
      "sensor": "POWERTRAIN1.UNIT_HOURS",
      "sensorInterpretation": "POWERTRAIN1.UNIT_HOURS",
      "sampleType": "SAMPLE_REMOTE",
      "calculationType": "REMOTE",
      "remoteTimeoutMs": 0,
      "initialValue": 0.0
    },
    {
      "name": "ENGINE_INTAKE_MANIFOLD2_TEMPERATURE",
      "sensor": "ENGINE_INTAKE_MANIFOLD2_TEMP_DIRECT",
      "sensorInterpretation": "IDENTITY",
      "sampleType": "SAMPLE_VALUE",
      "calculationType": "DIRECT"
    },
    {
      "name": "ENGINE_INTAKE_MANIFOLD3_TEMPERATURE",
      "sensor": "ENGINE_INTAKE_MANIFOLD3_TEMP_DIRECT",
      "sensorInterpretation": "IDENTITY",
      "sampleType": "SAMPLE_VALUE",
      "calculationType": "DIRECT"
    },
    {
      "name": "ENGINE_INTAKE_MANIFOLD4_TEMPERATURE",
      "sensor": "ENGINE_INTAKE_MANIFOLD4_TEMP_DIRECT",
      "sensorInterpretation": "IDENTITY",
      "sampleType": "SAMPLE_VALUE",
      "calculationType": "DIRECT"
    },
    {
      "name": "ENGINE_BOOST_TEMP_DIRECT",
      "sensor": "ENGINE_BOOST_TEMP_DIRECT",
      "sensorInterpretation": "IDENTITY",
      "sampleType": "SAMPLE_VALUE",
      "calculationType": "DIRECT"
    },
    {
      "name": "GREASER.PRESSURE_01",
      "sensor": "GREASER.PRESSURE_01_RAW",
      "sensorInterpretation": "GREASER.PRESSURE_01_CONFIG",
      "sampleType": "SAMPLE_VALUE",
      "calculationType": "DIRECT"
    },
    {
      "name": "GREASER.PRESSURE_02",
      "sensor": "GREASER.PRESSURE_02_RAW",
      "sensorInterpretation": "GREASER.PRESSURE_02_CONFIG",
      "sampleType": "SAMPLE_VALUE",
      "calculationType": "DIRECT"
    },
    {
      "name": "GREASER.PRESSURE_03",
      "sensor": "GREASER.PRESSURE_03_RAW",
      "sensorInterpretation": "GREASER.PRESSURE_03_CONFIG",
      "sampleType": "SAMPLE_VALUE",
      "calculationType": "DIRECT"
    },
    {
      "name": "GREASER.PRESSURE_04",
      "sensor": "GREASER.PRESSURE_04_RAW",
      "sensorInterpretation": "GREASER.PRESSURE_04_CONFIG",
      "sampleType": "SAMPLE_VALUE",
      "calculationType": "DIRECT"
    },
    {
      "name": "GREASER.PRESSURE_05",
      "sensor": "GREASER.PRESSURE_05_RAW",
      "sensorInterpretation": "GREASER.PRESSURE_05_CONFIG",
      "sampleType": "SAMPLE_VALUE",
      "calculationType": "DIRECT"
    },
    {
      "name": "GREASER.PRESSURE_06",
      "sensor": "GREASER.PRESSURE_06_RAW",
      "sensorInterpretation": "GREASER.PRESSURE_06_CONFIG",
      "sampleType": "SAMPLE_VALUE",
      "calculationType": "DIRECT"
    },
    {
      "name": "ENGINE_PERCENT_TORQUE",
      "sensor": "ENGINE_PERCENT_TORQUE_DIRECT",
      "sensorInterpretation": "IDENTITY",
      "sampleType": "SAMPLE_VALUE",
      "calculationType": "DIRECT"
    },
    {
      "name": "FE05_POWER_CALCULATION",
      "sensor": "FE05_POWER_FORMULA",
      "sensorInterpretation": "IDENTITY",
      "sampleType": "SAMPLE_VALUE",
      "calculationType": "DIRECT",
      "sensorType": "FORMULA"
    },
    {
      "name": "DUMMY_VAR",
      "sensor": "DUMMY_VAR",
      "sensorInterpretation": "DUMMY_VAR",
      "sampleType": "SAMPLE_REMOTE",
      "calculationType": "REMOTE",
      "remoteTimeoutMs": 0,
      "initialValue": 0.0
    },
    {
      "name": "ENGINE_DGB_MODE_SET_POINT",
      "sensor": "ENGINE_DGB_MODE_SET_POINT",
      "sensorInterpretation": "ENGINE_DGB_MODE_SET_POINT",
      "sampleType": "SAMPLE_REMOTE",
      "calculationType": "REMOTE",
      "remoteTimeoutMs": 0,
      "initialValue": 1.0
    },
    {
      "name": "ENGINE_DGB_RESET",
      "sensor": "ENGINE_DGB_RESET",
      "sensorInterpretation": "ENGINE_DGB_RESET",
      "sampleType": "SAMPLE_REMOTE",
      "calculationType": "REMOTE",
      "remoteTimeoutMs": 0,
      "initialValue": 0.0
    },
    {
      "name": "HHP_TO_W_CONST",
      "sensor": "HHP_TO_W_CONST",
      "sensorInterpretation": "HHP_TO_W_CONST",
      "sampleType": "SAMPLE_REMOTE",
      "calculationType": "REMOTE",
      "remoteTimeoutMs": 0,
      "initialValue": 746.0
    },
    {
      "name": "HHP_TO_W_J1939_OFFSET_CONST",
      "sensor": "HHP_TO_W_J1939_OFFSET_CONST",
      "sensorInterpretation": "HHP_TO_W_J1939_OFFSET_CONST",
      "sampleType": "SAMPLE_REMOTE",
      "calculationType": "REMOTE",
      "remoteTimeoutMs": 0,
      "initialValue": 2000000000.0
    },
    {
      "name": "HPP_CALC_FUDGE",
      "sensor": "HPP_CALC_FUDGE",
      "sensorInterpretation": "HPP_CALC_FUDGE",
      "sampleType": "SAMPLE_REMOTE",
      "calculationType": "REMOTE",
      "remoteTimeoutMs": 0,
      "initialValue": 1.0
    },
    {
      "name": "RESET_SW_DGB_CLEAR",
      "sensor": "RESET_SW_DGB_CLEAR",
      "sensorInterpretation": "RESET_SW_DGB_CLEAR",
      "sampleType": "SAMPLE_REMOTE",
      "calculationType": "REMOTE",
      "remoteTimeoutMs": 0,
      "initialValue": 0.0
    },
    {
      "name": "PUMP_LUBE_FLOW_SENSOR",
      "sensor": "FLOW_PWRENDLUBE_01",
      "sensorInterpretation": "FLOW_PWRENDLUBE_01_CONFIG",
      "sampleType": "SAMPLE_VALUE",
      "calculationType": "RATE",
      "maxSampleRate": 5,
      "filter": {
        "type": "mean",
        "size": 20
      }
    }
  ],
  "formulas": [
    {
      "name": "FE05_POWER_FORMULA",
      "type": "generic",
      "operands": [
        "POWERTRAIN1.PUMP_HHP",
        "HPP_CALC_FUDGE",
        "HHP_TO_W_CONST",
        "HHP_TO_W_J1939_OFFSET_CONST"
      ],
      "operators": [
        "*",
        "*",
        "+"
      ]
    }
  ]
}