{
  "RegistrationName": "621791",
  "RegistrationDescription": "621791 PUMP",
  "SerialNumber": "FPC8181",
  "PumpModel": "Forum/J Mac 3000Q",
  "RegistrationGuid": "597bed26-1dd2-11b2-990f-001d48331380",
  "EngineModel": "Cummins QSK50 Tier2",
  "TransModel": "Twin Disc TA90-7600 (TDEC500/501)",
  "DataVanHMIIp": "172.18.1.2",
  "LocalHMIIp": "172.18.1.2",
  "RpcIp": "192.168.0.92",
  "HardwareRev": "8.0",
  "configs": {
    "FLOW_PWRENDLUBE_01_CONFIG": {
      "sensMin": 6.0,
      "scalingFactor": 1.0,
      "sensMax": 160.0,
      "sigMin": 4000.0,
      "sigMinOffset": 0.0,
      "sigMax": 20000.0,
      "sigMaxOffset": 0.0
    },
    "PRES_DISCHARGE_01_CONFIG": {
      "sensMin": 0.0,
      "scalingFactor": 1.0,
      "sensMax": 15000.0,
      "sigMin": 4000.0,
      "sigMinOffset": 252.0,
      "sigMax": 20000.0,
      "sigMaxOffset": 252.0
    },
    "PRES_SUCTION_01_CONFIG": {
      "sensMin": 0.0,
      "scalingFactor": 1.0,
      "sensMax": 300.0,
      "sigMin": 4000.0,
      "sigMinOffset": -578.0,
      "sigMax": 20000.0,
      "sigMaxOffset": -578.0
    },
    "PRES_PWRENDLUBE_01_CONFIG": {
      "sensMin": 0.0,
      "scalingFactor": 1.0,
      "sensMax": 750.0,
      "sigMin": 4000.0,
      "sigMinOffset": -26.0,
      "sigMax": 20000.0,
      "sigMaxOffset": -26.0
    }
  },
  "powertrains": {
    "PUMP1": {
      "cylinders": 5,
      "bore": 4.0,
      "stroke": 8.0,
      "gearRatio": 6.3530001640319824,
      "efficiency": 0.93999999761581421
    },
    "PUMPLUBE1": {
      "rotationsPerLubeCycleOff": 60,
      "cycleDuration": 15000,
      "proximityCountsPerCycle": 0
    },
    "PWM_FAN_CONTROL": {
      "enabled": false,
      "invertedRange": false,
      "constantOn": true,
      "failOn": false,
      "highTemperature": 170.0,
      "lowTemperature": 130.0
    },
    "VOLTAGE_FAN_CONTROL": {
      "enabled": true,
      "invertedRange": false,
      "constantOn": false,
      "failOn": true,
      "highTemperature": 180.0,
      "lowTemperature": 130.0
    }
  },
  "constraints": {
    "highCircuitLowFlowCriticalAtRpm": {
      "enabled": true,
      "equalReading": null,
      "minReading": 29.0,
      "maxDuration": 3000,
      "hmiOnly": false,
      "resetDuration": 100,
      "maxReading": null,
      "equalEpsilon": null,
      "equalInverted": null,
      "minRaw": null,
      "maxRaw": null,
      "equalRaw": null,
      "equalInvertedRaw": null
    }
  },
  "MPCSecondaryIp": "172.18.1.3"
}