{
  "alarms": [
    {
      "name": "Instant Neutral",
      "type": "instantNeutral",
      "repeatOnEachEval": false,
      "disableSendingToHmi": true,
      "constraints": [
        "lubeTempInstantNeutral",
        "transmissionPressureInstantNeutral",
        "transmissionTempInstantNeutral",
        "lubePressInstantNeutralAtRpm",
        "SensorCheckShutdown",
        "suctionPressureInstantNeutralConjuction",
        "lubeLowFlowCriticalAtRpm"
      ],
      "actions": [
        {
          "quickToNeutral": true,
          "powertrain": "POWERTRAIN1",
          "name": "lubeTempInstantNeutral",
          "type": "powertrainInstantNeutral"
        }
      ]
    },
    {
      "name": "Power End Protection - Warning",
      "type": "custom",
      "repeatOnEachEval": false,
      "constraints": [
        "lubeTempWarning",
        "lubePressureWarningAtRPM",
        "lubeLowFlowWarningAtRpm"
      ],
      "actions": []
    },
    {
      "name": "Suction Pressure - Warning",
      "type": "custom",
      "repeatOnEachEval": false,
      "constraints": [
        "suctionPressureWarningConjunction"
      ],
      "actions": []
    },
    {
      "name": "Transmission Pressure - Warning",
      "type": "custom",
      "repeatOnEachEval": false,
      "constraints": [
        "transmissionPressureWarning"
      ],
      "actions": []
    },
    {
      "name": "Drive Shaft Cover Removed - Instant Brake",
      "type": "instantNeutral",
      "repeatOnEachEval": false,
      "disableSendingToHmi": true,
      "constraints": [
        "DriveShaftCoverRemovedInstantBrake"
      ],
      "actions": [
        {
          "powertrain": "POWERTRAIN1",
          "name": "DriveShaftCoverRemovedInstantBrake",
          "type": "powertrainInstantBrake"
        }
      ]
    },
    {
      "name": "Lockup Active Alarm",
      "type": "custom",
      "repeatOnEachEval": false,
      "disableSendingToHmi": true,
      "constraints": [
        "Lockup Active"
      ],
      "actions": [
        {
          "outputChannel": "LOCKUP_LED",
          "triggeredValue": 1,
          "clearedValue": 0,
          "name": "lockupActiveLedIllumination",
          "type": "setOutputValue"
        }
      ]
    },
    {
      "name": "EB07 Status Warning",
      "type": "custom",
      "repeatOnEachEval": false,
      "constraints": [
        "Missing Archive Drive Warning"
      ],
      "actions": []
    },
    {
      "name": "Powertrain Protection",
      "type": "powertrainShutdown",
      "repeatOnEachEval": false,
      "disableSendingToHmi": true,
      "constraints": [
        "High Aftercooler Coolant Temparature Shutdown",
        "High Engine Coolant Temperature Shutdown",
        "High Engine Oil Filter Restriction Pressure Too High Shutdown",
        "Low Engine Oil Pressure Shutdown",
        "shutdownEngineLowOilPressureLoadRPM",
        "shutdownEngineOilPressureErrorOrMissing",
        "Fuel Injection Pump Shutdown"
      ],
      "actions": [
        {
          "powertrain": "POWERTRAIN1",
          "name": "shutdown",
          "type": "powertrainDisableEngine"
        }
      ]
    },
    {
      "name": "Powertrain Protection - Warning",
      "type": "custom",
      "constraints": [
        "SensorCheck"
      ],
      "actions": []
    },
    {
      "name": "Transmission Oil Filter Diff Press - Warning",
      "type": "custom",
      "repeatOnEachEval": false,
      "constraints": [
        "transmissionOilFilterPluggedWarning",
        "transmissionOilFilterDP"
      ],
      "actions": []
    },
    {
      "name": "Transmission Temperature - Warning",
      "type": "custom",
      "constraints": [
        "transmissionTempWarning"
      ],
      "actions": []
    },
    {
      "name": "Transmission Torque Converter Temperature - Warning",
      "type": "custom",
      "repeatOnEachEval": false,
      "constraints": [
        "transmissionTCTempWarning"
      ],
      "actions": []
    },
    {
      "name": "Engine Oil Pressure - Warning",
      "type": "custom",
      "constraints": [
        "engineOilWarningAtRPM"
      ],
      "actions": []
    },
    {
      "name": "Engine Fuel Pressure - Low Warning",
      "type": "custom",
      "constraints": [
        "engineFuelPressureLowWarningAtRPM"
      ],
      "actions": []
    },
    {
      "name": "Engine Turbo Boost Pressure - Warning",
      "type": "custom",
      "constraints": [
        "engineTurboBoostPressureWarningAtRPM"
      ],
      "actions": []
    },
    {
      "name": "Engine Fuel Pressure - High Warning",
      "type": "custom",
      "constraints": [
        "engineFuelPressureHighWarningAtRPM"
      ],
      "actions": []
    },
    {
      "name": "Engine Torque Percentage - High Warning",
      "type": "custom",
      "constraints": [
        "EngineTorqueHighWarning"
      ],
      "actions": []
    },
    {
      "name": "DGB Not Active - Warning",
      "type": "custom",
      "disableSendingToHmi": false,
      "constraints": [
        "EngineDGBActive"
      ],
      "actions": [],
      "category": "DGB"
    },
    {
      "name": "ResetDGBAlarms",
      "type": "custom",
      "repeatOnEachEval": true,
      "disableSendingToHmi": true,
      "constraints": [
        "EngineDGBResetClear"
      ],
      "actions": [
        {
          "sensor": "RESET_SW_DGB_CLEAR",
          "triggeredValue": 1.0,
          "clearedValue": 0.0,
          "name": "SW_RESET_DGB",
          "type": "setCalculatedSensorValue"
        }
      ],
      "category": "DGB"
    },
    {
      "name": "Greaser pressure 01 - Warning",
      "type": "custom",
      "constraints": [
        "greaserPressure01Warning"
      ],
      "actions": [],
      "category": "Greaser"
    },
    {
      "name": "Greaser pressure 01 - Critical High",
      "type": "customCritical",
      "constraints": [
        "greaserPressure01Critical"
      ],
      "actions": [],
      "category": "Greaser"
    },
    {
      "name": "Greaser pressure 02 - Warning",
      "type": "custom",
      "constraints": [
        "greaserPressure02Warning"
      ],
      "actions": [],
      "category": "Greaser"
    },
    {
      "name": "Greaser pressure 02 - Critical High",
      "type": "customCritical",
      "constraints": [
        "greaserPressure02Critical"
      ],
      "actions": [],
      "category": "Greaser"
    },
    {
      "name": "Greaser pressure 03 - Warning",
      "type": "custom",
      "constraints": [
        "greaserPressure03Warning"
      ],
      "actions": [],
      "category": "Greaser"
    },
    {
      "name": "Greaser pressure 03 - Critical High",
      "type": "customCritical",
      "constraints": [
        "greaserPressure03Critical"
      ],
      "actions": [],
      "category": "Greaser"
    },
    {
      "name": "Greaser pressure 04 - Warning",
      "type": "custom",
      "constraints": [
        "greaserPressure04Warning"
      ],
      "actions": [],
      "category": "Greaser"
    },
    {
      "name": "Greaser pressure 04 - Critical High",
      "type": "customCritical",
      "constraints": [
        "greaserPressure04Critical"
      ],
      "actions": [],
      "category": "Greaser"
    },
    {
      "name": "Greaser pressure 05 - Warning",
      "type": "custom",
      "constraints": [
        "greaserPressure05Warning"
      ],
      "actions": [],
      "category": "Greaser"
    },
    {
      "name": "Greaser pressure 05 - Critical High",
      "type": "customCritical",
      "constraints": [
        "greaserPressure05Critical"
      ],
      "actions": [],
      "category": "Greaser"
    },
    {
      "name": "Greaser pressure 06 - Warning",
      "type": "custom",
      "constraints": [
        "greaserPressure06Warning"
      ],
      "actions": [],
      "category": "Greaser"
    },
    {
      "name": "Greaser pressure 06 - Critical High",
      "type": "customCritical",
      "constraints": [
        "greaserPressure06Critical"
      ],
      "actions": [],
      "category": "Greaser"
    }
  ],
  "constraints": [
    {
      "registrySensorName": "EB07_STATUS",
      "maxReading": 2.0,
      "name": "Missing Archive Drive",
      "type": "registryReading",
      "description": "USB Drive is missing or malfunctioning",
      "enabled": true,
      "maxDuration": 0,
      "resetDuration": 0,
      "messageType": "description"
    },
    {
      "registrySensorName": "EB07_STATUS",
      "maxReading": 1.0,
      "name": "Missing Archive Drive Warning",
      "type": "registryReading",
      "description": "USB Drive Is Missing or Malfunctioning",
      "enabled": true,
      "maxDuration": 0,
      "resetDuration": 0,
      "messageType": "description"
    },
    {
      "registryName": "ComponentBasedPowertrain_POWERTRAIN1",
      "registrySensorName": "ENGINE_ENABLED",
      "maxReading": 0.9,
      "name": "Engine Enabled",
      "type": "registryReading",
      "enabled": true,
      "maxDuration": 1000,
      "resetDuration": 1000
    },
    {
      "constraints": [
        "LockupNotActive",
        "InGear"
      ],
      "name": "LockupWarning",
      "type": "conjunction",
      "enabled": true,
      "maxDuration": 30000,
      "resetDuration": 0
    },
    {
      "constraints": [
        "LockupNotActive",
        "InGear"
      ],
      "name": "LockupInstantNeutral",
      "type": "conjunction",
      "enabled": true,
      "maxDuration": 60000,
      "resetDuration": 0
    },
    {
      "registryName": "ComponentBasedPowertrain_POWERTRAIN1",
      "registrySensorName": "TRANS_CURRENT_GEAR",
      "maxReading": 0.9,
      "name": "InGear",
      "type": "registryReading",
      "enabled": true,
      "maxDuration": 0,
      "resetDuration": 0
    },
    {
      "minReading": 0,
      "sensor": "IN_LOCKUP",
      "sensors": [],
      "sampleType": "SAMPLE_VALUE",
      "name": "LockupNotActive",
      "type": "sensorRange",
      "enabled": true,
      "maxDuration": 250,
      "resetDuration": 250
    },
    {
      "maxReading": 1,
      "sensor": "IN_LOCKUP",
      "sensors": [],
      "sampleType": "SAMPLE_VALUE",
      "name": "LockupActive",
      "type": "sensorRange",
      "enabled": true,
      "maxDuration": 250,
      "resetDuration": 250
    },
    {
      "constraints": [
        "LockupActive",
        "Engine Enabled"
      ],
      "name": "Lockup Active",
      "type": "conjunction",
      "enabled": true,
      "maxDuration": 0,
      "resetDuration": 0,
      "messageType": "auto"
    },
    {
      "minReading": 0,
      "sensor": "DIRTY_POWER",
      "sensors": [],
      "sampleType": "SAMPLE_VALUE",
      "name": "BatteryVoltage",
      "type": "sensorRange",
      "enabled": false,
      "maxDuration": 0,
      "resetDuration": 0
    },
    {
      "minReading": 0,
      "sensor": "DIRTY_POWER",
      "sensors": [],
      "sampleType": "SAMPLE_VALUE",
      "name": "CurrentGear",
      "type": "sensorRange",
      "enabled": false,
      "maxDuration": 0,
      "resetDuration": 0
    },
    {
      "minReading": 0,
      "sensor": "DIRTY_POWER",
      "sensors": [],
      "sampleType": "SAMPLE_VALUE",
      "name": "CurrentRPM",
      "type": "sensorRange",
      "enabled": false,
      "maxDuration": 0,
      "resetDuration": 0
    },
    {
      "minReading": 0,
      "sensor": "DIRTY_POWER",
      "sensors": [],
      "sampleType": "SAMPLE_VALUE",
      "name": "DischargePress",
      "type": "sensorRange",
      "enabled": false,
      "maxDuration": 0,
      "resetDuration": 0
    },
    {
      "minReading": 0,
      "sensor": "DIRTY_POWER",
      "sensors": [],
      "sampleType": "SAMPLE_VALUE",
      "name": "DischargePressTripped",
      "type": "sensorRange",
      "enabled": false,
      "maxDuration": 0,
      "resetDuration": 0
    },
    {
      "minReading": 0,
      "sensor": "DIRTY_POWER",
      "sensors": [],
      "sampleType": "SAMPLE_VALUE",
      "name": "DischargeRate",
      "type": "sensorRange",
      "enabled": false,
      "maxDuration": 0,
      "resetDuration": 0
    },
    {
      "minReading": 0,
      "sensor": "DIRTY_POWER",
      "sensors": [],
      "sampleType": "SAMPLE_VALUE",
      "name": "DischargeTotal",
      "type": "sensorRange",
      "enabled": false,
      "maxDuration": 0,
      "resetDuration": 0
    },
    {
      "minReading": 0,
      "sensor": "DIRTY_POWER",
      "sensors": [],
      "sampleType": "SAMPLE_VALUE",
      "name": "EngineCoolantPressure",
      "type": "sensorRange",
      "enabled": false,
      "maxDuration": 0,
      "resetDuration": 0
    },
    {
      "minReading": 0,
      "sensor": "DIRTY_POWER",
      "sensors": [],
      "sampleType": "SAMPLE_VALUE",
      "name": "EngineHours",
      "type": "sensorRange",
      "enabled": false,
      "maxDuration": 0,
      "resetDuration": 0
    },
    {
      "minReading": 0,
      "sensor": "DIRTY_POWER",
      "sensors": [],
      "sampleType": "SAMPLE_VALUE",
      "name": "EngineLoadPercent",
      "type": "sensorRange",
      "enabled": false,
      "maxDuration": 0,
      "resetDuration": 0
    },
    {
      "minReading": 0,
      "sensor": "DIRTY_POWER",
      "sensors": [],
      "sampleType": "SAMPLE_VALUE",
      "name": "FuelPressure",
      "type": "sensorRange",
      "enabled": false,
      "maxDuration": 0,
      "resetDuration": 0
    },
    {
      "minReading": 0,
      "sensor": "DIRTY_POWER",
      "sensors": [],
      "sampleType": "SAMPLE_VALUE",
      "name": "OilFilterDP",
      "type": "sensorRange",
      "enabled": false,
      "maxDuration": 0,
      "resetDuration": 0
    },
    {
      "minReading": 0,
      "sensor": "DIRTY_POWER",
      "sensors": [],
      "sampleType": "SAMPLE_VALUE",
      "name": "OilPress",
      "type": "sensorRange",
      "enabled": false,
      "maxDuration": 0,
      "resetDuration": 0
    },
    {
      "minReading": 0,
      "sensor": "DIRTY_POWER",
      "sensors": [],
      "sampleType": "SAMPLE_VALUE",
      "name": "PEPumpRPM",
      "type": "sensorRange",
      "enabled": false,
      "maxDuration": 0,
      "resetDuration": 0
    },
    {
      "minReading": 0,
      "sensor": "DIRTY_POWER",
      "sensors": [],
      "sampleType": "SAMPLE_VALUE",
      "name": "PumpHHP",
      "type": "sensorRange",
      "enabled": false,
      "maxDuration": 0,
      "resetDuration": 0
    },
    {
      "minReading": 0,
      "sensor": "DIRTY_POWER",
      "sensors": [],
      "sampleType": "SAMPLE_VALUE",
      "name": "RequestedGear",
      "type": "sensorRange",
      "enabled": false,
      "maxDuration": 0,
      "resetDuration": 0
    },
    {
      "minReading": 0,
      "sensor": "DIRTY_POWER",
      "sensors": [],
      "sampleType": "SAMPLE_VALUE",
      "name": "RequestedRPM",
      "type": "sensorRange",
      "enabled": false,
      "maxDuration": 0,
      "resetDuration": 0
    },
    {
      "minReading": 0,
      "sensor": "DIRTY_POWER",
      "sensors": [],
      "sampleType": "SAMPLE_VALUE",
      "name": "TransConverterTemp",
      "type": "sensorRange",
      "enabled": false,
      "maxDuration": 0,
      "resetDuration": 0
    },
    {
      "minReading": 0,
      "sensor": "DIRTY_POWER",
      "sensors": [],
      "sampleType": "SAMPLE_VALUE",
      "name": "TransTemp",
      "type": "sensorRange",
      "enabled": false,
      "maxDuration": 0,
      "resetDuration": 0
    },
    {
      "minReading": 0,
      "sensor": "DIRTY_POWER",
      "sensors": [],
      "sampleType": "SAMPLE_VALUE",
      "name": "TransmissionShaftSpeed",
      "type": "sensorRange",
      "enabled": false,
      "maxDuration": 0,
      "resetDuration": 0
    },
    {
      "minReading": 0,
      "sensor": "DIRTY_POWER",
      "sensors": [],
      "sampleType": "SAMPLE_VALUE",
      "name": "TurboBoostPressure",
      "type": "sensorRange",
      "enabled": false,
      "maxDuration": 0,
      "resetDuration": 0
    },
    {
      "maxReading": 1,
      "sensor": "DRIVE_SHAFT_COVER",
      "sensors": [],
      "sampleType": "SAMPLE_VALUE",
      "name": "DriveShaftCoverRemovedInstantBrake",
      "type": "sensorRange",
      "description": "Driveshaft cover is open",
      "enabled": false,
      "maxDuration": 5000,
      "resetDuration": 100,
      "messageType": "description"
    },
    {
      "calculatedSensor": "PUMP_LUBE_PRESS_SENSOR",
      "minReading": 50.0,
      "consecutiveBadReads": 5,
      "name": "lubePressWarning",
      "type": "calculatedReading",
      "description": "Pump lube pressure warning",
      "enabled": true,
      "maxDuration": 30000,
      "resetDuration": 2000,
      "messageType": "description"
    },
    {
      "calculatedSensor": "PUMP_LUBE_TEMP_SENSOR",
      "maxReading": 165.0,
      "consecutiveBadReads": 5,
      "name": "lubeTempInstantNeutral",
      "type": "calculatedReading",
      "description": "Pump Lube Temperature Critical",
      "enabled": true,
      "maxDuration": 30000,
      "resetDuration": 2000,
      "messageType": "description"
    },
    {
      "calculatedSensor": "PUMP_LUBE_TEMP_SENSOR",
      "maxReading": 155.0,
      "consecutiveBadReads": 5,
      "name": "lubeTempWarning",
      "type": "calculatedReading",
      "description": "Pump Lube Temperature Warning",
      "enabled": true,
      "maxDuration": 60000,
      "resetDuration": 2000,
      "messageType": "description"
    },
    {
      "calculatedSensor": "SUCTION_PRESSURE_SENSOR",
      "minReading": 50.0,
      "consecutiveBadReads": 5,
      "name": "suctionPressureWarning",
      "type": "calculatedReading",
      "enabled": true,
      "maxDuration": 1000,
      "resetDuration": 2000
    },
    {
      "calculatedSensor": "TRANS_LUBE_PRESS_SENSOR",
      "minReading": 200.0,
      "consecutiveBadReads": 5,
      "name": "transmissionPressureInstantNeutral",
      "type": "calculatedReading",
      "description": "Transmission Pressure Critical",
      "enabled": true,
      "maxDuration": 5000,
      "resetDuration": 2000,
      "messageType": "description"
    },
    {
      "calculatedSensor": "TRANS_LUBE_PRESS_SENSOR",
      "minReading": 220.0,
      "maxReading": 575.0,
      "consecutiveBadReads": 5,
      "name": "transmissionPressureWarning",
      "type": "calculatedReading",
      "description": "Transmission Pressure Warning",
      "enabled": true,
      "maxDuration": 5000,
      "resetDuration": 2000,
      "messageType": "description"
    },
    {
      "calculatedSensor": "ENGINE_TEMPERATURE",
      "minReading": 32.0,
      "name": "engineTempTooLowForWarmStart",
      "type": "calculatedReading",
      "enabled": true,
      "maxDuration": 1000,
      "resetDuration": 1000
    },
    {
      "minReading": 22000,
      "sensor": "AUX_BATTERY",
      "sensors": [],
      "sampleType": "SAMPLE_VALUE",
      "name": "batteryVoltageTooLowForWarmStart",
      "type": "sensorRange",
      "enabled": true,
      "maxDuration": 30000,
      "resetDuration": 0
    },
    {
      "registryName": "ComponentBasedPowertrain_POWERTRAIN1",
      "registrySensorName": "ENGINE_RUNNING",
      "maxReading": 1.0,
      "name": "Engine Running",
      "type": "registryReading",
      "enabled": true,
      "maxDuration": 1000,
      "resetDuration": 1000,
      "messageType": "description"
    },
    {
      "constraints": [
        "DriveShaftCoverRemovedInstantBrake",
        "engineTempTooLowForWarmStart",
        "batteryVoltageTooLowForWarmStart",
        "Engine Running",
        "SensorCheckShutdown",
        "SensorCheck"
      ],
      "name": "disableWarmStart",
      "type": "disjunction",
      "enabled": true,
      "maxDuration": 0,
      "resetDuration": 0
    },
    {
      "minReading": 3500,
      "maxReading": 20500,
      "sensor": "",
      "sensors": [
        "PRES_DISCHARGE_01",
        "PRES_PWRENDLUBE_01",
        "PRES_TRANSLUBE_01",
        "PRES_SUCTION_01",
        "TEMP_PWRENDLUBE_01",
        "FLOW_PWRENDLUBE_01"
      ],
      "sampleType": "SAMPLE_VALUE",
      "name": "SensorCheck",
      "type": "sensorRange",
      "description": "Critical sensor malfunction",
      "enabled": true,
      "maxDuration": 500,
      "resetDuration": 2000,
      "messageType": "auto"
    },
    {
      "constraints": [
        "SensorCheck"
      ],
      "name": "SensorCheckShutdown",
      "type": "conjunction",
      "description": "Critical sensor malfunction, restricting engine",
      "enabled": true,
      "maxDuration": 30000,
      "resetDuration": 2000,
      "messageType": "auto"
    },
    {
      "constraints": [
        "suctionPressureWarning",
        "InGear",
        "DischargePressureOnStage",
        "EngineLoadHighRPM"
      ],
      "name": "suctionPressureWarningConjunction",
      "type": "conjunction",
      "description": "Suction Pressure Low Warning",
      "enabled": true,
      "maxDuration": 4000,
      "resetDuration": 2000,
      "messageType": "description"
    },
    {
      "calculatedSensor": "TRANS_LUBE_TEMP_SENSOR",
      "maxReading": 230.0,
      "consecutiveBadReads": 5,
      "name": "transmissionTempInstantNeutral",
      "type": "calculatedReading",
      "description": "Transmission Temperature Critical",
      "enabled": true,
      "maxDuration": 5000,
      "resetDuration": 2000,
      "messageType": "description"
    },
    {
      "maxReading": 1,
      "sensor": "TRANS_OIL_DIFF_PRESS",
      "sensors": [],
      "sampleType": "SAMPLE_COMPUTED",
      "name": "transmissionOilFilterDP",
      "type": "sensorRange",
      "description": "Transmission Oil Filter Differential Pressure is greater than 1. Check Oil Filter.",
      "enabled": false,
      "maxDuration": 5000,
      "resetDuration": 5000,
      "messageType": "description"
    },
    {
      "calculatedSensor": "TRANS_LUBE_TEMP_SENSOR",
      "minReading": 0.0,
      "maxReading": 220.0,
      "consecutiveBadReads": 5,
      "name": "transmissionTempWarning",
      "type": "calculatedReading",
      "description": "Transmission Temperature High Warning",
      "maxDuration": 5000,
      "resetDuration": 2000,
      "messageType": "description"
    },
    {
      "minReading": 0,
      "maxReading": 250,
      "sensor": "TRANS_TORQUE_CONV_TEMP",
      "sensors": [],
      "sampleType": "SAMPLE_COMPUTED",
      "name": "transmissionTCTempWarning",
      "type": "sensorRange",
      "description": "Transmission Torque Converter high warning",
      "enabled": true,
      "maxDuration": 5000,
      "resetDuration": 2000,
      "messageType": "description"
    },
    {
      "processor": "listener",
      "handler": "j1939",
      "device": "ENGINE1",
      "faultType": "ACTIVE",
      "spn": 99,
      "fmis": [
        0
      ],
      "name": "High Engine Oil Filter Restriction Pressure Too High Shutdown",
      "type": "j1939DM",
      "description": "Engine Oil Filter restriction pressure critical",
      "maxDuration": 5000,
      "resetDuration": 5000,
      "messageType": "description"
    },
    {
      "processor": "listener",
      "handler": "j1939",
      "device": "TRANS1",
      "faultType": "ACTIVE",
      "spn": 126,
      "fmis": [
        3
      ],
      "name": "transmissionOilFilterPluggedWarning",
      "type": "j1939DM",
      "description": "Transmission Oil Filter Plugged",
      "maxDuration": 5000,
      "resetDuration": 5000,
      "messageType": "description"
    },
    {
      "processor": "listener",
      "handler": "j1939",
      "device": "ENGINE1",
      "spn": 100,
      "fmis": [
        1
      ],
      "name": "Low Engine Oil Pressure Shutdown",
      "type": "j1939DM",
      "description": "Engine oil pressure critically low",
      "maxDuration": 9000,
      "resetDuration": 5000,
      "messageType": "description"
    },
    {
      "processor": "listener",
      "handler": "j1939",
      "device": "ENGINE1",
      "spn": 728,
      "fmis": [
        0
      ],
      "name": "High Aftercooler Coolant Temparature Shutdown",
      "type": "j1939DM",
      "description": "Aftercooler coolant temperature critical",
      "maxDuration": 5000,
      "resetDuration": 5000,
      "messageType": "description"
    },
    {
      "processor": "listener",
      "handler": "j1939",
      "device": "ENGINE1",
      "spn": 110,
      "fmis": [
        0
      ],
      "name": "High Engine Coolant Temperature Shutdown",
      "type": "j1939DM",
      "description": "Engine Coolant Temperature Critical",
      "maxDuration": 30000,
      "resetDuration": 5000,
      "messageType": "description"
    },
    {
      "registryName": "ComponentBasedPowertrain_POWERTRAIN1",
      "registrySensorName": "ENGINE_RPM",
      "maxReading": 1200.0,
      "name": "EngineLoadRpm",
      "type": "registryReading",
      "enabled": true,
      "maxDuration": 1500,
      "resetDuration": 0,
      "messageType": "description"
    },
    {
      "constraints": [
        "EngineLoadRpm",
        "lubePressInstantNeutralAtLoadRpm"
      ],
      "name": "lubePressInstantNeutralAtRpm",
      "type": "conjunction",
      "description": "Pump Lube Pressure critical while running at load RPM",
      "enabled": true,
      "maxDuration": 25000,
      "resetDuration": 60000,
      "messageType": "description"
    },
    {
      "calculatedSensor": "PUMP_LUBE_PRESS_SENSOR",
      "minReading": 60.0,
      "consecutiveBadReads": 5,
      "name": "lubePressInstantNeutralAtLoadRpm",
      "type": "calculatedReading",
      "description": "Pump Lube Pressure Critical",
      "enabled": true,
      "maxDuration": 5000,
      "resetDuration": 2000,
      "messageType": "description"
    },
    {
      "constraints": [
        "EngineLoadRpm",
        "lubePressureWarningAtLoadRPM"
      ],
      "name": "lubePressureWarningAtRPM",
      "type": "conjunction",
      "description": "Pump Lube Pressure warning while running at load RPM",
      "enabled": true,
      "maxDuration": 0,
      "resetDuration": 0,
      "messageType": "description"
    },
    {
      "calculatedSensor": "PUMP_LUBE_PRESS_SENSOR",
      "minReading": 80.0,
      "consecutiveBadReads": 5,
      "name": "lubePressureWarningAtLoadRPM",
      "type": "calculatedReading",
      "description": "Pump Lube Pressure Warning",
      "enabled": true,
      "maxDuration": 30000,
      "resetDuration": 2000,
      "messageType": "description"
    },
    {
      "constraints": [
        "EngineLoadRpm",
        "engineOilPressureWarning",
        "Engine Running"
      ],
      "name": "engineOilWarningAtRPM",
      "type": "conjunction",
      "description": "Engine Oil Pressure Low Warning",
      "enabled": true,
      "maxDuration": 0,
      "resetDuration": 0,
      "messageType": "description"
    },
    {
      "calculatedSensor": "ENGINE_OIL_PRESSURE",
      "minRaw": 40,
      "name": "engineOilPressureWarning",
      "type": "calculatedReading",
      "enabled": true,
      "maxDuration": 5000,
      "resetDuration": 15000,
      "messageType": "description"
    },
    {
      "constraints": [
        "EngineLoadRpm",
        "engineFuelPressureLowWarning",
        "Engine Running"
      ],
      "name": "engineFuelPressureLowWarningAtRPM",
      "type": "conjunction",
      "description": "Engine Fuel Pressure Low Warning",
      "enabled": true,
      "maxDuration": 0,
      "resetDuration": 0,
      "messageType": "description"
    },
    {
      "calculatedSensor": "ENGINE_FUEL_PRESSURE",
      "minRaw": 40,
      "name": "engineFuelPressureLowWarning",
      "type": "calculatedReading",
      "enabled": true,
      "maxDuration": 30000,
      "resetDuration": 30000,
      "messageType": "description"
    },
    {
      "constraints": [
        "EngineLoadRpm",
        "engineTurboBoostPressureWarning",
        "Engine Running"
      ],
      "name": "engineTurboBoostPressureWarningAtRPM",
      "type": "conjunction",
      "description": "Engine Turbo Boost Pressure High Warning",
      "enabled": true,
      "maxDuration": 0,
      "resetDuration": 0,
      "messageType": "description"
    },
    {
      "calculatedSensor": "ENGINE_BOOST_PRESSURE",
      "maxRaw": 40,
      "name": "engineTurboBoostPressureWarning",
      "type": "calculatedReading",
      "enabled": true,
      "maxDuration": 10000,
      "resetDuration": 30000,
      "messageType": "description"
    },
    {
      "constraints": [
        "EngineLoadRpm",
        "engineFuelPressureHighWarning",
        "Engine Running"
      ],
      "name": "engineFuelPressureHighWarningAtRPM",
      "type": "conjunction",
      "description": "Engine Fuel Pressure High Warning",
      "enabled": true,
      "maxDuration": 0,
      "resetDuration": 0,
      "messageType": "description"
    },
    {
      "calculatedSensor": "ENGINE_FUEL_PRESSURE",
      "maxRaw": 135,
      "name": "engineFuelPressureHighWarning",
      "type": "calculatedReading",
      "enabled": true,
      "maxDuration": 30000,
      "resetDuration": 30000,
      "messageType": "description"
    },
    {
      "constraints": [
        "Engine Running",
        "EngineLoadRpm",
        "engineOilPressureCriticalLoadRPM"
      ],
      "name": "shutdownEngineLowOilPressureLoadRPM",
      "type": "conjunction",
      "description": "Engine Oil Pressure Low Critical",
      "enabled": true,
      "maxDuration": 0,
      "resetDuration": 0,
      "messageType": "description"
    },
    {
      "calculatedSensor": "ENGINE_OIL_PRESSURE",
      "minRaw": 34,
      "name": "engineOilPressureCriticalLoadRPM",
      "type": "calculatedReading",
      "maxDuration": 5000,
      "resetDuration": 1500,
      "messageType": "description"
    },
    {
      "constraints": [
        "EngineRunningRpm",
        "engineOilPressureErrorOrMissing",
        "Engine Running"
      ],
      "name": "shutdownEngineOilPressureErrorOrMissing",
      "type": "conjunction",
      "description": "Engine Oil Pressure Sensor Error or Missing",
      "enabled": true,
      "maxDuration": 5000,
      "resetDuration": 15000,
      "messageType": "description"
    },
    {
      "registryName": "ComponentBasedPowertrain_POWERTRAIN1",
      "registrySensorName": "ENGINE_RPM",
      "maxReading": 400.0,
      "name": "EngineRunningRpm",
      "type": "registryReading",
      "enabled": true,
      "maxDuration": 0,
      "resetDuration": 0,
      "messageType": "description"
    },
    {
      "calculatedSensor": "ENGINE_OIL_PRESSURE",
      "maxRaw": 147,
      "consecutiveBadReads": 5,
      "name": "engineOilPressureErrorOrMissing",
      "type": "calculatedReading",
      "enabled": true,
      "maxDuration": 0,
      "resetDuration": 0,
      "messageType": "description"
    },
    {
      "calculatedSensor": "DISCHARGE_PRESS_SENSOR",
      "maxReading": 1000.0,
      "name": "DischargePressureOnStage",
      "type": "calculatedReading",
      "enabled": true,
      "maxDuration": 0,
      "resetDuration": 0
    },
    {
      "registryName": "ComponentBasedPowertrain_POWERTRAIN1",
      "registrySensorName": "ENGINE_RPM",
      "maxReading": 1400.0,
      "name": "EngineLoadHighRPM",
      "type": "registryReading",
      "enabled": true,
      "maxDuration": 0,
      "resetDuration": 0
    },
    {
      "constraints": [
        "suctionPressureInstantNeutral",
        "InGear",
        "DischargePressureOnStage",
        "EngineLoadHighRPM"
      ],
      "name": "suctionPressureInstantNeutralConjuction",
      "type": "conjunction",
      "description": "Suction Pressure critical while pumping",
      "enabled": true,
      "maxDuration": 4000,
      "resetDuration": 2000,
      "messageType": "description"
    },
    {
      "calculatedSensor": "SUCTION_PRESSURE_SENSOR",
      "minReading": 35.0,
      "name": "suctionPressureInstantNeutral",
      "type": "calculatedReading",
      "enabled": true,
      "maxDuration": 1000,
      "resetDuration": 2000
    },
    {
      "processor": "listener",
      "handler": "j1939",
      "device": "ENGINE1",
      "spn": 1077,
      "fmis": [
        12
      ],
      "name": "Fuel Injection Pump Shutdown",
      "type": "j1939DM",
      "description": "Fuel Injection Pump Critical Failure",
      "maxDuration": 5000,
      "resetDuration": 5000,
      "messageType": "description"
    },
    {
      "registrySensorName": "POWERTRAIN1.ENGINE_ENABLED",
      "maxReading": 1.0,
      "name": "J1939SensorsEnabled",
      "type": "registryReading",
      "maxDuration": 2000,
      "resetDuration": 0
    },
    {
      "constraints": [
        "engineTorqueWarning"
      ],
      "name": "EngineTorqueHighWarning",
      "type": "conjunction",
      "description": "",
      "maxDuration": 0,
      "resetDuration": 0,
      "messageType": "description",
      "isselected": false
    },
    {
      "calculatedSensor": "ENGINE_PERCENT_TORQUE",
      "maxReading": 80.0,
      "name": "engineTorqueWarning",
      "type": "calculatedReading",
      "description": "Engine torque high reading",
      "enabled": true,
      "maxDuration": 0,
      "resetDuration": 0,
      "messageType": "description",
      "isselected": false
    },
    {
      "registryName": "ComponentBasedPowertrain_POWERTRAIN1",
      "registrySensorName": "TRANS_CURRENT_GEAR",
      "equalReading": 0.0,
      "name": "InNeutral",
      "type": "registryReading",
      "enabled": true,
      "maxDuration": 0,
      "resetDuration": 0,
      "isselected": false
    },
    {
      "constraints": [
        "Engine Running",
        "InNeutral"
      ],
      "name": "ResetAutoDgbInN",
      "type": "conjunction",
      "enabled": true,
      "maxDuration": 0,
      "resetDuration": 0,
      "isselected": false
    },
    {
      "registryName": "ComponentBasedPowertrain_POWERTRAIN1",
      "registrySensorName": "ENGINE_RPM",
      "maxReading": 1400.0,
      "name": "EngineDGBRPMActive",
      "type": "registryReading",
      "enabled": true,
      "maxDuration": 10000,
      "resetDuration": 2000,
      "category": "DGB"
    },
    {
      "constraints": [
        "EngineDGBRPMActive",
        "InGear",
        "DGB Not Active1"
      ],
      "name": "EngineDGBActive",
      "type": "conjunction",
      "description": "DGB Not Active Warning",
      "enabled": true,
      "maxDuration": 10000,
      "resetDuration": 2000,
      "messageType": "description",
      "category": "DGB"
    },
    {
      "equalReading": 0,
      "sensor": "ENGINE_DGB_MODE",
      "sensors": [],
      "sampleType": "SAMPLE_VALUE",
      "name": "DGB Not Active1",
      "type": "sensorRange",
      "maxDuration": 0,
      "resetDuration": 0,
      "category": "DGB"
    },
    {
      "calculatedSensor": "ENGINE_DGB_RESET",
      "equalReading": 1.0,
      "name": "EngineDGBResetClear",
      "type": "calculatedReading",
      "maxDuration": 4000,
      "resetDuration": 200,
      "category": "DGB"
    },
    {
      "calculatedSensor": "PUMP_LUBE_FLOW_SENSOR",
      "minReading": 45.0,
      "consecutiveBadReads": 5,
      "name": "highCircuitLowFlowWarningAtRpm",
      "type": "calculatedReading",
      "enabled": true,
      "maxDuration": 3000,
      "resetDuration": 100
    },
    {
      "registryName": "ComponentBasedPowertrain_POWERTRAIN1",
      "registrySensorName": "ENGINE_RPM",
      "minReading": 799.0,
      "name": "Engine Low Rpm",
      "type": "registryReading",
      "enabled": true,
      "maxDuration": 100,
      "resetDuration": 100
    },
    {
      "registryName": "ComponentBasedPowertrain_POWERTRAIN1",
      "registrySensorName": "ENGINE_RPM",
      "maxReading": 1601.0,
      "name": "Engine High Rpm",
      "type": "registryReading",
      "enabled": true,
      "maxDuration": 100,
      "resetDuration": 100
    },
    {
      "constraints": [
        "Engine High Rpm",
        "highCircuitLowFlowWarningAtRpm"
      ],
      "name": "lubeLowFlowWarningAtRpm",
      "type": "conjunction",
      "description": "PE Lube Rate too low while engine is running",
      "maxDuration": 0,
      "resetDuration": 60000,
      "messageType": "description"
    },
    {
      "constraints": [
        "Engine High Rpm",
        "highCircuitLowFlowCriticalAtRpm"
      ],
      "name": "lubeLowFlowCriticalAtRpm",
      "type": "conjunction",
      "description": "PE Lube Rate critically low while running",
      "enabled": true,
      "maxDuration": 0,
      "resetDuration": 60000,
      "messageType": "description"
    },
    {
      "calculatedSensor": "PUMP_LUBE_FLOW_SENSOR",
      "minReading": 40.0,
      "consecutiveBadReads": 5,
      "name": "highCircuitLowFlowCriticalAtRpm",
      "type": "calculatedReading",
      "enabled": true,
      "maxDuration": 3000,
      "resetDuration": 100
    },
    {
      "calculatedSensor": "GREASER.PRESSURE_01",
      "maxReading": 1000.0,
      "triggerOnFailure": false,
      "name": "greaserPressure01Warning",
      "type": "calculatedReading",
      "description": "Packing Pressure 01 High",
      "enabled": true,
      "maxDuration": 0,
      "resetDuration": 120000,
      "messageType": "description",
      "category": "Greaser"
    },
    {
      "calculatedSensor": "GREASER.PRESSURE_02",
      "maxReading": 1000.0,
      "triggerOnFailure": false,
      "name": "greaserPressure02Warning",
      "type": "calculatedReading",
      "description": "Packing Pressure 02 High",
      "enabled": true,
      "maxDuration": 0,
      "resetDuration": 120000,
      "messageType": "description",
      "category": "Greaser"
    },
    {
      "calculatedSensor": "GREASER.PRESSURE_03",
      "maxReading": 1000.0,
      "triggerOnFailure": false,
      "name": "greaserPressure03Warning",
      "type": "calculatedReading",
      "description": "Packing Pressure 03 High",
      "enabled": true,
      "maxDuration": 0,
      "resetDuration": 120000,
      "messageType": "description",
      "category": "Greaser"
    },
    {
      "calculatedSensor": "GREASER.PRESSURE_04",
      "maxReading": 1000.0,
      "triggerOnFailure": false,
      "name": "greaserPressure04Warning",
      "type": "calculatedReading",
      "description": "Packing Pressure 04 High",
      "enabled": true,
      "maxDuration": 0,
      "resetDuration": 120000,
      "messageType": "description",
      "category": "Greaser"
    },
    {
      "calculatedSensor": "GREASER.PRESSURE_05",
      "maxReading": 1000.0,
      "triggerOnFailure": false,
      "name": "greaserPressure05Warning",
      "type": "calculatedReading",
      "description": "Packing Pressure 05 High",
      "enabled": true,
      "maxDuration": 0,
      "resetDuration": 120000,
      "messageType": "description",
      "category": "Greaser"
    },
    {
      "calculatedSensor": "GREASER.PRESSURE_06",
      "maxReading": 2000.0,
      "triggerOnFailure": false,
      "name": "greaserPressure06Warning",
      "type": "calculatedReading",
      "description": "Greaser Pressure 06 High",
      "enabled": true,
      "maxDuration": 0,
      "resetDuration": 120000,
      "messageType": "description",
      "category": "Greaser"
    },
    {
      "calculatedSensor": "GREASER.PRESSURE_01",
      "maxReading": 2000.0,
      "triggerOnFailure": false,
      "name": "greaserPressure01Critical",
      "type": "calculatedReading",
      "description": "Packing Pressure 01 Critical High",
      "enabled": true,
      "maxDuration": 0,
      "resetDuration": 120000,
      "messageType": "description",
      "category": "Greaser"
    },
    {
      "calculatedSensor": "GREASER.PRESSURE_02",
      "maxReading": 2000.0,
      "triggerOnFailure": false,
      "name": "greaserPressure02Critical",
      "type": "calculatedReading",
      "description": "Packing Pressure 02 Critical High",
      "enabled": true,
      "maxDuration": 0,
      "resetDuration": 120000,
      "messageType": "description",
      "category": "Greaser"
    },
    {
      "calculatedSensor": "GREASER.PRESSURE_03",
      "maxReading": 2000.0,
      "triggerOnFailure": false,
      "name": "greaserPressure03Critical",
      "type": "calculatedReading",
      "description": "Packing Pressure 03 Critical High",
      "enabled": true,
      "maxDuration": 0,
      "resetDuration": 120000,
      "messageType": "description",
      "category": "Greaser"
    },
    {
      "calculatedSensor": "GREASER.PRESSURE_04",
      "maxReading": 2000.0,
      "triggerOnFailure": false,
      "name": "greaserPressure04Critical",
      "type": "calculatedReading",
      "description": "Packing Pressure 04 Critical High",
      "enabled": true,
      "maxDuration": 0,
      "resetDuration": 120000,
      "messageType": "description",
      "category": "Greaser"
    },
    {
      "calculatedSensor": "GREASER.PRESSURE_05",
      "maxReading": 2000.0,
      "triggerOnFailure": false,
      "name": "greaserPressure05Critical",
      "type": "calculatedReading",
      "description": "Packing Pressure 05 Critical High",
      "enabled": true,
      "maxDuration": 0,
      "resetDuration": 120000,
      "messageType": "description",
      "category": "Greaser"
    },
    {
      "calculatedSensor": "GREASER.PRESSURE_06",
      "maxReading": 3000.0,
      "triggerOnFailure": false,
      "name": "greaserPressure06Critical",
      "type": "calculatedReading",
      "description": "Greaser Pressure 06 Critical High",
      "enabled": true,
      "maxDuration": 0,
      "resetDuration": 120000,
      "messageType": "description",
      "category": "Greaser"
    }
  ]
}