{
  "name": "SYSCONTROL1",
  "additives": [],
  "augerControls": [],
  "chemPumpControls": [],
  "tubMixers": [],
  "valves": [
    {
      "valvePositionTimeout": 15000,
      "openInputSensor": {
        "name": "openSuctionValve",
        "sensor": "GearAboveBrakeAndEngineOn",
        "activeState": true
      },
      "valvePosition": {
        "name": "valvePositionSwitch",
        "sensor": "SUCTION_VALVE.OPEN_INDICATOR",
        "offSensor": "SUCTION_VALVE.CLOSED_INDICATOR",
        "activeState": true
      },
      "openOutputControl": "SUCTION_VALVE.CONTROL_OPEN",
      "closeOutputControl": "SUCTION_VALVE.CONTROL_CLOSE",
      "maxReadRate": 0,
      "valveType": "openCloseValve",
      "type": "valve",
      "stepTotals": [],
      "stageTotals": [],
      "registryStepTotals": [],
      "registryStageTotals": [],
      "alarmConstraints": [],
      "name": "SUCTION_VALVE"
    }
  ],
  "levelControls": [],
  "greasers": [],
  "ppaCalculationMethods": [],
  "teamedAugerControls": [],
  "gateControls": [],
  "baseComponents": [
    {
      "initialState": 1,
      "globalTransitions": [],
      "states": [
        {
          "name": "OffState",
          "id": 1,
          "transitions": [
            {
              "sensor": "RESET_SW_DGB_CLEAR",
              "nextState": 2,
              "inverted": false
            }
          ],
          "outputs": [
            {
              "output": "DUMMY_VAR",
              "value": "0",
              "continuous": false
            }
          ]
        },
        {
          "name": "OnState",
          "id": 2,
          "transitions": [
            {
              "sensor": "RESET_SW_DGB_CLEAR",
              "nextState": 1,
              "inverted": true
            }
          ],
          "outputs": [
            {
              "output": "ENGINE_DGB_RESET",
              "value": "0",
              "continuous": true
            }
          ]
        }
      ],
      "type": "stateMachine",
      "stepTotals": [],
      "stageTotals": [],
      "registryStepTotals": [],
      "registryStageTotals": [],
      "alarmConstraints": [],
      "name": "RESET_DGB_ALARMS"
    },
    {
      "powertrain": "POWERTRAIN1",
      "minEngineDriveRpm": 0,
      "ekillOutputs": [],
      "hmiResetTime": 1000,
      "type": "runningStateMonitor",
      "stepTotals": [],
      "stageTotals": [],
      "registryStepTotals": [],
      "registryStageTotals": [],
      "alarmConstraints": [],
      "name": "FPC_RUNNING_STATE_MONITOR"
    }
  ]
}