{
  "system": {
    "logging": {
      "logLevel": "ERROR",
      "logDir": "logs"
    },
    "archiving": {
      "enabled": true,
      "archivePath": "/mnt/usbdisk",
      "interval": 1000,
      "minimalDiskSpaceM": 200,
      "sensorNCTime": 4000
    },
    "network": {
      "timeServer": [
        "$DataVanHMIIp"
      ],
      "registrationServer": "$DataVanHMIIp",
      "registrationName": "$RegistrationName",
      "registrationDescription": "$RegistrationDescription",
      "registrationGuid": "$RegistrationGuid",
      "registrationUnitType": "FracPumper",
      "registrationConfigName": "CUMMINS_QSK50-CAT",
      "registrationConfigVersion": "4.5",
      "registrationMetadata": "{\"HardwareRev\":\"$HardwareRev\",\"SerialNumber\":\"$SerialNumber\",\"ProductVersion\":\"7.0.3\",\"TransModel\":\"$TransModel\",\"EngineModel\":\"$EngineModel\",\"PumpModel\":\"$PumpModel\"}",
      "registrationServerPort": 8080,
      "registrationServicePath": "MDT_RESTful_DA/configuration/runtime/registration/"
    },
    "commandReceiver": {
      "logFile": "logs/command_receiver.log",
      "sensorConfigPath": "etc/sensorConfig.json",
      "mainboardPort": 9000,
      "mainboardIp": "127.0.0.1",
      "ownerIp": "$DataVanHMIIp",
      "sensorConfigBroadcastFreq": 0,
      "enableHTTPDataServer": true,
      "calculatedSensors": "etc/calculatedSensors.config",
      "ownerPort": 8080,
      "sensorConfigServicePath": "/MDT_RESTful_DA/configuration/runtime/sensors",
      "alarmQueuePath": "queues/alarms"
    },
    "configurationRecipients": [],
    "dataAcquisitionQueues": {
      "queues": [
        {
          "readingsDir": "queues/diagnostics",
          "inprogressDir": "queues/diaginprog",
          "canskipmessages": false,
          "recipients": [
            {
              "name": "MPCPrimary",
              "queuePath": "queues/remotediag",
              "servicePath": "MDT_RESTful_DA/readings/j1939/dm1",
              "address": "$DataVanHMIIp",
              "port": 8080,
              "connectionTimeoutMS": 1000
            }
          ],
          "maxmessageage": 300
        },
        {
          "readingsDir": "queues/messages",
          "inprogressDir": "queues/messages_inprogress",
          "canskipmessages": true,
          "recipients": [
            {
              "name": "MPCPrimary",
              "queuePath": "queues/messages_remoteControl",
              "servicePath": "MDT_RESTful_DA/readings/general",
              "address": "$DataVanHMIIp",
              "port": 8080,
              "connectionTimeoutMS": 1000
            }
          ],
          "maxmessageage": 300
        },
        {
          "readingsDir": "queues/j1939",
          "inprogressDir": "queues/j1939_inprogress",
          "canskipmessages": true,
          "recipients": [
            {
              "name": "MPCPrimary",
              "queuePath": "queues/j1939_remoteControl",
              "servicePath": "MDT_RESTful_DA/readings/general",
              "address": "$DataVanHMIIp",
              "port": 8080,
              "connectionTimeoutMS": 1000
            }
          ],
          "maxmessageage": 300
        },
        {
          "readingsDir": "queues/alarms",
          "inprogressDir": "queues/alarmsInprogress",
          "canskipmessages": true,
          "recipients": [
            {
              "name": "MPCPrimary",
              "queuePath": "queues/remoteControl_alarms",
              "servicePath": "MDT_RESTful_DA/errors/stwerror",
              "address": "$DataVanHMIIp",
              "port": 8080,
              "connectionTimeoutMS": 1000
            }
          ],
          "maxmessageage": 300
        },
        {
          "readingsDir": "queues/canio",
          "inprogressDir": "queues/canioinprogress",
          "recipients": [
            {
              "name": "RemoteControl",
              "queuePath": "queues/remote_canio",
              "servicePath": "MDT_RESTful_DA/readings/general",
              "address": "$DataVanHMIIp",
              "port": 8080,
              "connectionTimeoutMS": 1000
            }
          ]
        },
        {
          "readingsDir": "queues/canio-diag",
          "inprogressDir": "queues/canio-diaginprogress",
          "recipients": [
            {
              "name": "RemoteControl",
              "queuePath": "queues/remote_canio-diag",
              "servicePath": "MDT_RESTful_DA/readings/j1939/dm1",
              "address": "$DataVanHMIIp",
              "port": 8080,
              "connectionTimeoutMS": 1000
            }
          ]
        }
      ]
    },
    "sensorPersistence": {
      "interval": 600000,
      "location": "/mnt/dataflash/etc/sensorTotals.json",
      "sensors": [
        "POWERTRAIN1.PUMP_TRACKER.PUMPING_TIME",
        "POWERTRAIN1.PUMP_TRACKER.PUMP_STROKES",
        "POWERTRAIN1.UNIT_HOURS"
      ]
    }
  }
}