{
   "RegistrationName": "621989",
   "RegistrationDescription": "621989",
   "SerialNumber": "FPC2272",
   "PumpModel": "FET J3000 Quintiplex",
   "RegistrationGuid": "448d3ffa-1dd2-11b2-a909-001d48334e96",
   "EngineModel": "Cummins QSK50 Tier2",
   "TransModel": "CAT TH55E70",
   "DataVanHMIIp": "172.18.1.2",
   "LocalHMIIp": "172.18.1.2",
   "RpcIp": "192.168.0.92",
   "HardwareRev": "Rev B",
   "configs": {
      "PRES_DISCHARGE_01_CONFIG": {
         "sensMin": 0.0,
         "scalingFactor": 1.0,
         "sensMax": 15000.0,
         "sigMin": 4000.0,
         "sigMinOffset": -77.0,
         "sigMax": 20300.0,
         "sigMaxOffset": -77.0
      },
      "PRES_PWRENDLUBE_01_CONFIG": {
         "sensMin": 0.0,
         "scalingFactor": 1.0,
         "sensMax": 750.0,
         "sigMin": 4000.0,
         "sigMinOffset": 0.0,
         "sigMax": 20000.0,
         "sigMaxOffset": 0.0
      },
      "PRES_SUCTION_01_CONFIG": {
         "sensMin": 0.0,
         "scalingFactor": 1.0,
         "sensMax": 300.0,
         "sigMin": 4000.0,
         "sigMinOffset": 0.0,
         "sigMax": 20000.0,
         "sigMaxOffset": 0.0
      },
      "FLOW_PWRENDLUBE_01_CONFIG": {
         "sensMin": 6.0,
         "scalingFactor": 1.0,
         "sensMax": 160.0,
         "sigMin": 4000.0,
         "sigMinOffset": 0.0,
         "sigMax": 20000.0,
         "sigMaxOffset": 0.0
      }
   },
   "powertrains": {
      "PUMP1": {
         "cylinders": 5,
         "bore": 4.5,
         "stroke": 8.0,
         "gearRatio": 6.3530001640319824,
         "efficiency": 0.93999999761581421
      },
      "PUMPLUBE1": {
         "rotationsPerLubeCycleOff": 60,
         "cycleDuration": 15000,
         "proximityCountsPerCycle": 0
      },
      "PWM_FAN_CONTROL": {
         "enabled": false,
         "invertedRange": false,
         "constantOn": true,
         "failOn": false,
         "highTemperature": 180.0,
         "lowTemperature": 130.0
      },
      "VOLTAGE_FAN_CONTROL": {
         "enabled": true,
         "invertedRange": false,
         "constantOn": false,
         "failOn": false,
         "highTemperature": 210.0,
         "lowTemperature": 130.0
      }
   },
   "MPCSecondaryIp": "172.18.1.3"
}