{
  "alarms": [
    {
      "name": "Fleet Instant Neutral",
      "type": "customCritical",
      "constraints": [
        "Fleet Instant Neutral Check"
      ],
      "actions": [],
      "IsPopupOpen": false,
      "IsDropDownOpen": false
    }
  ],
  "constraints": [
    {
      "equalReading": 1,
      "sensor": "FLEET_INST_NEUTRAL",
      "sensors": [],
      "sampleType": "SAMPLE_VALUE",
      "name": "Fleet Instant Neutral Check",
      "type": "sensorRange",
      "description": "Fleet instant neutral activated",
      "maxDuration": 0,
      "resetDuration": 0,
      "messageType": "description"
    }
  ]
}