{
  "calculatedSensors": [
    {
      "name": "PRESSURE_26",
      "sensor": "PRES_CABLEREEL_26",
      "sensorInterpretation": "IDENTITY",
      "sampleType": "SAMPLE_VALUE",
      "calculationType": "DIRECT",
      "maxSampleRate": 5,
      "filter": {
        "type": "median",
        "size": 40
      }
    },
    {
      "name": "PRESSURE_27",
      "sensor": "PRES_CABLEREEL_27",
      "sensorInterpretation": "IDENTITY",
      "sampleType": "SAMPLE_VALUE",
      "calculationType": "DIRECT",
      "maxSampleRate": 5,
      "filter": {
        "type": "median",
        "size": 40
      }
    },
    {
      "name": "PRESSURE_28",
      "sensor": "PRES_CABLEREEL_28",
      "sensorInterpretation": "IDENTITY",
      "sampleType": "SAMPLE_VALUE",
      "calculationType": "DIRECT",
      "maxSampleRate": 5,
      "filter": {
        "type": "median",
        "size": 40
      }
    },
    {
      "name": "PRESSURE_29",
      "sensor": "PRES_CABLEREEL_29",
      "sensorInterpretation": "IDENTITY",
      "sampleType": "SAMPLE_VALUE",
      "calculationType": "DIRECT",
      "maxSampleRate": 5,
      "filter": {
        "type": "median",
        "size": 40
      }
    },
    {
      "name": "PRESSURE_30",
      "sensor": "PRES_CABLEREEL_30",
      "sensorInterpretation": "IDENTITY",
      "sampleType": "SAMPLE_VALUE",
      "calculationType": "DIRECT",
      "maxSampleRate": 5,
      "filter": {
        "type": "median",
        "size": 40
      }
    },
    {
      "name": "PRESSURE_31",
      "sensor": "PRES_CABLEREEL_31",
      "sensorInterpretation": "IDENTITY",
      "sampleType": "SAMPLE_VALUE",
      "calculationType": "DIRECT",
      "maxSampleRate": 5,
      "filter": {
        "type": "median",
        "size": 40
      }
    },
    {
      "name": "PRESSURE_32",
      "sensor": "PRES_CABLEREEL_32",
      "sensorInterpretation": "IDENTITY",
      "sampleType": "SAMPLE_VALUE",
      "calculationType": "DIRECT",
      "maxSampleRate": 5,
      "filter": {
        "type": "median",
        "size": 40
      }
    },
    {
      "name": "PRESSURE_33",
      "sensor": "PRES_CABLEREEL_33",
      "sensorInterpretation": "IDENTITY",
      "sampleType": "SAMPLE_VALUE",
      "calculationType": "DIRECT",
      "maxSampleRate": 5,
      "filter": {
        "type": "median",
        "size": 40
      }
    },
    {
      "name": "PRESSURE_34",
      "sensor": "PRES_CABLEREEL_34",
      "sensorInterpretation": "IDENTITY",
      "sampleType": "SAMPLE_VALUE",
      "calculationType": "DIRECT",
      "maxSampleRate": 5,
      "filter": {
        "type": "median",
        "size": 40
      }
    },
    {
      "name": "PRESSURE_35",
      "sensor": "PRES_CABLEREEL_35",
      "sensorInterpretation": "IDENTITY",
      "sampleType": "SAMPLE_VALUE",
      "calculationType": "DIRECT",
      "maxSampleRate": 5,
      "filter": {
        "type": "median",
        "size": 40
      }
    },
    {
      "name": "PRESSURE_36",
      "sensor": "PRES_CABLEREEL_36",
      "sensorInterpretation": "IDENTITY",
      "sampleType": "SAMPLE_VALUE",
      "calculationType": "DIRECT",
      "maxSampleRate": 5,
      "filter": {
        "type": "median",
        "size": 40
      }
    },
    {
      "name": "PRESSURE_37",
      "sensor": "PRES_CABLEREEL_37",
      "sensorInterpretation": "IDENTITY",
      "sampleType": "SAMPLE_VALUE",
      "calculationType": "DIRECT",
      "maxSampleRate": 5,
      "filter": {
        "type": "median",
        "size": 40
      }
    },
    {
      "name": "PRESSURE_38",
      "sensor": "PRES_CABLEREEL_38",
      "sensorInterpretation": "IDENTITY",
      "sampleType": "SAMPLE_VALUE",
      "calculationType": "DIRECT",
      "maxSampleRate": 5,
      "filter": {
        "type": "median",
        "size": 40
      }
    },
    {
      "name": "PRESSURE_39",
      "sensor": "PRES_CABLEREEL_39",
      "sensorInterpretation": "IDENTITY",
      "sampleType": "SAMPLE_VALUE",
      "calculationType": "DIRECT",
      "maxSampleRate": 5,
      "filter": {
        "type": "median",
        "size": 40
      }
    },
    {
      "name": "PRESSURE_40",
      "sensor": "PRES_CABLEREEL_40",
      "sensorInterpretation": "IDENTITY",
      "sampleType": "SAMPLE_VALUE",
      "calculationType": "DIRECT",
      "maxSampleRate": 5,
      "filter": {
        "type": "median",
        "size": 40
      }
    },
    {
      "name": "PRESSURE_41",
      "sensor": "PRES_CABLEREEL_41",
      "sensorInterpretation": "IDENTITY",
      "sampleType": "SAMPLE_VALUE",
      "calculationType": "DIRECT",
      "maxSampleRate": 5,
      "filter": {
        "type": "median",
        "size": 40
      }
    },
    {
      "name": "PRESSURE_42",
      "sensor": "PRES_CABLEREEL_42",
      "sensorInterpretation": "IDENTITY",
      "sampleType": "SAMPLE_VALUE",
      "calculationType": "DIRECT",
      "maxSampleRate": 5,
      "filter": {
        "type": "median",
        "size": 40
      }
    },
    {
      "name": "PRESSURE_43",
      "sensor": "PRES_CABLEREEL_43",
      "sensorInterpretation": "IDENTITY",
      "sampleType": "SAMPLE_VALUE",
      "calculationType": "DIRECT",
      "maxSampleRate": 5,
      "filter": {
        "type": "median",
        "size": 40
      }
    },
    {
      "name": "PRESSURE_44",
      "sensor": "PRES_CABLEREEL_44",
      "sensorInterpretation": "IDENTITY",
      "sampleType": "SAMPLE_VALUE",
      "calculationType": "DIRECT",
      "maxSampleRate": 5,
      "filter": {
        "type": "median",
        "size": 40
      }
    },
    {
      "name": "PRESSURE_45",
      "sensor": "PRES_CABLEREEL_45",
      "sensorInterpretation": "IDENTITY",
      "sampleType": "SAMPLE_VALUE",
      "calculationType": "DIRECT",
      "maxSampleRate": 5,
      "filter": {
        "type": "median",
        "size": 40
      }
    },
    {
      "name": "PRESSURE_46",
      "sensor": "PRES_CABLEREEL_46",
      "sensorInterpretation": "IDENTITY",
      "sampleType": "SAMPLE_VALUE",
      "calculationType": "DIRECT",
      "maxSampleRate": 5,
      "filter": {
        "type": "median",
        "size": 40
      }
    },
    {
      "name": "PRESSURE_47",
      "sensor": "PRES_CABLEREEL_47",
      "sensorInterpretation": "IDENTITY",
      "sampleType": "SAMPLE_VALUE",
      "calculationType": "DIRECT",
      "maxSampleRate": 5,
      "filter": {
        "type": "median",
        "size": 40
      }
    },
    {
      "name": "PRESSURE_48",
      "sensor": "PRESSURE_48",
      "sensorInterpretation": "PRESSURE_48",
      "sampleType": "SAMPLE_REMOTE",
      "calculationType": "REMOTE",
      "remoteTimeoutMs": 0,
      "initialValue": 0.0
    },
    {
      "name": "PRESSURE_49",
      "sensor": "PRESSURE_49",
      "sensorInterpretation": "PRESSURE_49",
      "sampleType": "SAMPLE_REMOTE",
      "calculationType": "REMOTE",
      "remoteTimeoutMs": 0,
      "initialValue": 0.0
    },
    {
      "name": "PRESSURE_50",
      "sensor": "PRESSURE_50",
      "sensorInterpretation": "PRESSURE_50",
      "sampleType": "SAMPLE_REMOTE",
      "calculationType": "REMOTE",
      "remoteTimeoutMs": 0,
      "initialValue": 0.0
    },
    {
      "name": "PRESSURE_51",
      "sensor": "PRESSURE_51",
      "sensorInterpretation": "PRESSURE_51",
      "sampleType": "SAMPLE_REMOTE",
      "calculationType": "REMOTE",
      "remoteTimeoutMs": 0,
      "initialValue": 0.0
    },
    {
      "name": "PRESSURE_52",
      "sensor": "PRESSURE_52",
      "sensorInterpretation": "PRESSURE_52",
      "sampleType": "SAMPLE_REMOTE",
      "calculationType": "REMOTE",
      "remoteTimeoutMs": 0,
      "initialValue": 0.0
    },
    {
      "name": "PRESSURE_53",
      "sensor": "PRESSURE_53",
      "sensorInterpretation": "PRESSURE_53",
      "sampleType": "SAMPLE_REMOTE",
      "calculationType": "REMOTE",
      "remoteTimeoutMs": 0,
      "initialValue": 0.0
    },
    {
      "name": "PRESSURE_26_CALCULATED",
      "sensor": "PRESSURE_26",
      "sensorInterpretation": "PRES_CABLEREEL_26_CONFIG",
      "sampleType": "SAMPLE_VALUE",
      "calculationType": "DIRECT",
      "sensorType": "CALCULATED",
      "autoSensorConfig": false
    },
    {
      "name": "PRESSURE_27_CALCULATED",
      "sensor": "PRESSURE_27",
      "sensorInterpretation": "PRES_CABLEREEL_27_CONFIG",
      "sampleType": "SAMPLE_VALUE",
      "calculationType": "DIRECT",
      "sensorType": "CALCULATED",
      "autoSensorConfig": false
    },
    {
      "name": "PRESSURE_28_CALCULATED",
      "sensor": "PRESSURE_28",
      "sensorInterpretation": "PRES_CABLEREEL_28_CONFIG",
      "sampleType": "SAMPLE_VALUE",
      "calculationType": "DIRECT",
      "sensorType": "CALCULATED",
      "autoSensorConfig": false
    },
    {
      "name": "PRESSURE_29_CALCULATED",
      "sensor": "PRESSURE_29",
      "sensorInterpretation": "PRES_CABLEREEL_29_CONFIG",
      "sampleType": "SAMPLE_VALUE",
      "calculationType": "DIRECT",
      "sensorType": "CALCULATED",
      "autoSensorConfig": false
    },
    {
      "name": "PRESSURE_30_CALCULATED",
      "sensor": "PRESSURE_30",
      "sensorInterpretation": "PRES_CABLEREEL_30_CONFIG",
      "sampleType": "SAMPLE_VALUE",
      "calculationType": "DIRECT",
      "sensorType": "CALCULATED",
      "autoSensorConfig": false
    },
    {
      "name": "PRESSURE_31_CALCULATED",
      "sensor": "PRESSURE_31",
      "sensorInterpretation": "PRES_CABLEREEL_31_CONFIG",
      "sampleType": "SAMPLE_VALUE",
      "calculationType": "DIRECT",
      "sensorType": "CALCULATED",
      "autoSensorConfig": false
    },
    {
      "name": "PRESSURE_32_CALCULATED",
      "sensor": "PRESSURE_32",
      "sensorInterpretation": "PRES_CABLEREEL_32_CONFIG",
      "sampleType": "SAMPLE_VALUE",
      "calculationType": "DIRECT",
      "sensorType": "CALCULATED",
      "autoSensorConfig": false
    },
    {
      "name": "PRESSURE_33_CALCULATED",
      "sensor": "PRESSURE_33",
      "sensorInterpretation": "PRES_CABLEREEL_33_CONFIG",
      "sampleType": "SAMPLE_VALUE",
      "calculationType": "DIRECT",
      "sensorType": "CALCULATED",
      "autoSensorConfig": false
    },
    {
      "name": "PRESSURE_34_CALCULATED",
      "sensor": "PRESSURE_34",
      "sensorInterpretation": "PRES_CABLEREEL_34_CONFIG",
      "sampleType": "SAMPLE_VALUE",
      "calculationType": "DIRECT",
      "sensorType": "CALCULATED",
      "autoSensorConfig": false
    },
    {
      "name": "PRESSURE_35_CALCULATED",
      "sensor": "PRESSURE_35",
      "sensorInterpretation": "PRES_CABLEREEL_35_CONFIG",
      "sampleType": "SAMPLE_VALUE",
      "calculationType": "DIRECT",
      "sensorType": "CALCULATED",
      "autoSensorConfig": false
    },
    {
      "name": "PRESSURE_36_CALCULATED",
      "sensor": "PRESSURE_36",
      "sensorInterpretation": "PRES_CABLEREEL_36_CONFIG",
      "sampleType": "SAMPLE_VALUE",
      "calculationType": "DIRECT",
      "sensorType": "CALCULATED",
      "autoSensorConfig": false
    },
    {
      "name": "PRESSURE_37_CALCULATED",
      "sensor": "PRESSURE_37",
      "sensorInterpretation": "PRES_CABLEREEL_37_CONFIG",
      "sampleType": "SAMPLE_VALUE",
      "calculationType": "DIRECT",
      "sensorType": "CALCULATED",
      "autoSensorConfig": false
    },
    {
      "name": "PRESSURE_38_CALCULATED",
      "sensor": "PRESSURE_38",
      "sensorInterpretation": "PRES_CABLEREEL_38_CONFIG",
      "sampleType": "SAMPLE_VALUE",
      "calculationType": "DIRECT",
      "sensorType": "CALCULATED",
      "autoSensorConfig": false
    },
    {
      "name": "PRESSURE_39_CALCULATED",
      "sensor": "PRESSURE_39",
      "sensorInterpretation": "PRES_CABLEREEL_39_CONFIG",
      "sampleType": "SAMPLE_VALUE",
      "calculationType": "DIRECT",
      "sensorType": "CALCULATED",
      "autoSensorConfig": false
    },
    {
      "name": "PRESSURE_40_CALCULATED",
      "sensor": "PRESSURE_40",
      "sensorInterpretation": "PRES_CABLEREEL_40_CONFIG",
      "sampleType": "SAMPLE_VALUE",
      "calculationType": "DIRECT",
      "sensorType": "CALCULATED",
      "autoSensorConfig": false
    },
    {
      "name": "PRESSURE_41_CALCULATED",
      "sensor": "PRESSURE_41",
      "sensorInterpretation": "PRES_CABLEREEL_41_CONFIG",
      "sampleType": "SAMPLE_VALUE",
      "calculationType": "DIRECT",
      "sensorType": "CALCULATED",
      "autoSensorConfig": false
    },
    {
      "name": "PRESSURE_42_CALCULATED",
      "sensor": "PRESSURE_42",
      "sensorInterpretation": "PRES_CABLEREEL_42_CONFIG",
      "sampleType": "SAMPLE_VALUE",
      "calculationType": "DIRECT",
      "sensorType": "CALCULATED",
      "autoSensorConfig": false
    },
    {
      "name": "PRESSURE_43_CALCULATED",
      "sensor": "PRESSURE_43",
      "sensorInterpretation": "PRES_CABLEREEL_43_CONFIG",
      "sampleType": "SAMPLE_VALUE",
      "calculationType": "DIRECT",
      "sensorType": "CALCULATED",
      "autoSensorConfig": false
    },
    {
      "name": "PRESSURE_44_CALCULATED",
      "sensor": "PRESSURE_44",
      "sensorInterpretation": "PRES_CABLEREEL_44_CONFIG",
      "sampleType": "SAMPLE_VALUE",
      "calculationType": "DIRECT",
      "sensorType": "CALCULATED",
      "autoSensorConfig": false
    },
    {
      "name": "PRESSURE_45_CALCULATED",
      "sensor": "PRESSURE_45",
      "sensorInterpretation": "PRES_CABLEREEL_45_CONFIG",
      "sampleType": "SAMPLE_VALUE",
      "calculationType": "DIRECT",
      "sensorType": "CALCULATED",
      "autoSensorConfig": false
    },
    {
      "name": "PRESSURE_46_CALCULATED",
      "sensor": "PRESSURE_46",
      "sensorInterpretation": "PRES_CABLEREEL_46_CONFIG",
      "sampleType": "SAMPLE_VALUE",
      "calculationType": "DIRECT",
      "sensorType": "CALCULATED",
      "autoSensorConfig": false
    },
    {
      "name": "PRESSURE_47_CALCULATED",
      "sensor": "PRESSURE_47",
      "sensorInterpretation": "PRES_CABLEREEL_47_CONFIG",
      "sampleType": "SAMPLE_VALUE",
      "calculationType": "DIRECT",
      "sensorType": "CALCULATED",
      "autoSensorConfig": false
    }
  ]
}