{
  "logging": {
    "defaultLoggerId": "main-logger",
    "logWriters": [
      {
        "logWriterId": "main-file-writer",
        "type": "File",
        "path": "logs/mainboard.log"
      }
    ],
    "loggers": [
      {
        "loggerId": "log-writer-logger",
        "logLevel": "INFO",
        "logWriterId": "main-file-writer"
      },
      {
        "loggerId": "main-logger",
        "logLevel": "ERROR",
        "logWriterId": "main-file-writer"
      },
      {
        "loggerId": "DA-1-logger",
        "logLevel": "ERROR",
        "logWriterId": "main-file-writer"
      },
      {
        "loggerId": "Control-logger",
        "logLevel": "ERROR",
        "logWriterId": "main-file-writer"
      },
      {
        "loggerId": "ControlExe-logger",
        "logLevel": "ERROR",
        "logWriterId": "main-file-writer"
      },
      {
        "loggerId": "Engine-logger",
        "logLevel": "ERROR",
        "logWriterId": "main-file-writer"
      },
      {
        "loggerId": "j1939-logger",
        "logLevel": "ERROR",
        "logWriterId": "main-file-writer"
      },
      {
        "loggerId": "j1939-control-logger",
        "logLevel": "ERROR",
        "logWriterId": "main-file-writer"
      },
      {
        "loggerId": "engine-temp-logger",
        "logLevel": "ERROR",
        "logWriterId": "main-file-writer"
      },
      {
        "loggerId": "can-csv-logger",
        "logLevel": "ERROR",
        "logWriterId": "main-file-writer"
      },
      {
        "loggerId": "sample-logger",
        "logLevel": "ERROR",
        "logWriterId": "main-file-writer"
      },
      {
        "loggerId": "Testy-logger",
        "logLevel": "ERROR",
        "logWriterId": "main-file-writer"
      }
    ]
  },
  "rtos": {
    "usPerTimerTick": 1000,
    "boards": [
      {
        "type": "MAIN",
        "boardId": "MAIN",
        "slot": "MAIN",
        "model": 61045,
        "sensorSupply": 10000,
        "active": true
      },
      {
        "type": "EB09",
        "boardId": "EB09-A",
        "slot": "SLOT_A",
        "model": 55168,
        "active": true
      },
      {
        "type": "EB04",
        "boardId": "EB04-B",
        "slot": "SLOT_B",
        "model": 35770,
        "active": true
      },
      {
        "type": "EB07",
        "boardId": "EB07-C",
        "slot": "SLOT_C",
        "model": 47349,
        "active": true
      }
    ],
    "sensors": [
      {
        "sensorId": "E_KILL",
        "boardId": "MAIN",
        "channel": "X_IN_04",
        "inputType": "X_IN_TYPE_DIGITAL",
        "inputCircuit": [
          "X_IN_CIRCUIT_PULL_UP"
        ],
        "tag": "E-KILL"
      },
      {
        "sensorId": "FLEET_INST_NEUTRAL",
        "boardId": "MAIN",
        "channel": "X_IN_05",
        "inputType": "X_IN_TYPE_DIGITAL",
        "inputCircuit": [
          "X_IN_CIRCUIT_PULL_UP"
        ],
        "tag": "INSTANT NEUTRAL"
      },
      {
        "sensorId": "FLOW_CNTRINPT_04",
        "boardId": "MAIN",
        "channel": "X_IN_01",
        "inputType": "X_IN_TYPE_DIGITAL",
        "tag": "RATE 4"
      },
      {
        "sensorId": "FLOW_CNTRINPT_05",
        "boardId": "MAIN",
        "channel": "X_IN_02",
        "inputType": "X_IN_TYPE_DIGITAL",
        "tag": "RATE 5"
      },
      {
        "sensorId": "FLOW_CNTRINPT_06",
        "boardId": "MAIN",
        "channel": "X_IN_03",
        "inputType": "X_IN_TYPE_DIGITAL",
        "tag": "RATE 6"
      },
      {
        "sensorId": "PRES_CABLEREEL_46",
        "boardId": "MAIN",
        "channel": "X_IN_06",
        "inputType": "X_IN_TYPE_CURRENT",
        "tag": "PRESSURE 46"
      },
      {
        "sensorId": "PRES_CABLEREEL_47",
        "boardId": "MAIN",
        "channel": "X_IN_07",
        "inputType": "X_IN_TYPE_CURRENT",
        "tag": "PRESSURE 47"
      },
      {
        "sensorId": "PRES_CABLEREEL_45",
        "boardId": "MAIN",
        "channel": "X_IN_08",
        "inputType": "X_IN_TYPE_CURRENT",
        "tag": "PRESSURE 20"
      },
      {
        "sensorId": "PRES_CABLEREEL_26",
        "boardId": "MAIN",
        "channel": "X_IN_09",
        "inputType": "X_IN_TYPE_CURRENT",
        "tag": "PRESSURE 26"
      },
      {
        "sensorId": "PRES_CABLEREEL_27",
        "boardId": "MAIN",
        "channel": "X_IN_10",
        "inputType": "X_IN_TYPE_CURRENT",
        "tag": "PRESSURE 27"
      },
      {
        "sensorId": "PRES_CABLEREEL_28",
        "boardId": "MAIN",
        "channel": "X_IN_11",
        "inputType": "X_IN_TYPE_CURRENT",
        "tag": "PRESSURE 28"
      },
      {
        "sensorId": "PRES_CABLEREEL_29",
        "boardId": "MAIN",
        "channel": "X_IN_12",
        "inputType": "X_IN_TYPE_CURRENT",
        "tag": "PRESSURE 29"
      },
      {
        "sensorId": "PRES_CABLEREEL_30",
        "boardId": "MAIN",
        "channel": "X_IN_13",
        "inputType": "X_IN_TYPE_CURRENT",
        "tag": "PRESSURE 30"
      },
      {
        "sensorId": "PRES_CABLEREEL_31",
        "boardId": "MAIN",
        "channel": "X_IN_14",
        "inputType": "X_IN_TYPE_CURRENT",
        "tag": "PRESSURE 31"
      },
      {
        "sensorId": "PRES_CABLEREEL_32",
        "boardId": "MAIN",
        "channel": "X_IN_15",
        "inputType": "X_IN_TYPE_CURRENT",
        "tag": "PRESSURE 32"
      },
      {
        "sensorId": "PRES_CABLEREEL_33",
        "boardId": "EB09-A",
        "channel": "X09_IN_01",
        "inputType": "X09_IN_TYPE_CURRENT",
        "tag": "PRESSURE 33"
      },
      {
        "sensorId": "PRES_CABLEREEL_34",
        "boardId": "EB09-A",
        "channel": "X09_IN_02",
        "inputType": "X09_IN_TYPE_CURRENT",
        "tag": "PRESSURE 34"
      },
      {
        "sensorId": "PRES_CABLEREEL_35",
        "boardId": "EB09-A",
        "channel": "X09_IN_03",
        "inputType": "X09_IN_TYPE_CURRENT",
        "tag": "PRESSURE 35"
      },
      {
        "sensorId": "PRES_CABLEREEL_36",
        "boardId": "EB09-A",
        "channel": "X09_IN_04",
        "inputType": "X09_IN_TYPE_CURRENT",
        "tag": "PRESSURE 36"
      },
      {
        "sensorId": "PRES_CABLEREEL_37",
        "boardId": "EB09-A",
        "channel": "X09_IN_05",
        "inputType": "X09_IN_TYPE_CURRENT",
        "tag": "PRESSURE 37"
      },
      {
        "sensorId": "PRES_CABLEREEL_38",
        "boardId": "EB09-A",
        "channel": "X09_IN_06",
        "inputType": "X09_IN_TYPE_CURRENT",
        "tag": "PRESSURE 38"
      },
      {
        "sensorId": "PRES_CABLEREEL_39",
        "boardId": "EB09-A",
        "channel": "X09_IN_07",
        "inputType": "X09_IN_TYPE_CURRENT",
        "tag": "PRESSURE 39"
      },
      {
        "sensorId": "PRES_CABLEREEL_40",
        "boardId": "EB09-A",
        "channel": "X09_IN_08",
        "inputType": "X09_IN_TYPE_CURRENT",
        "tag": "PRESSURE 40"
      },
      {
        "sensorId": "PRES_CABLEREEL_41",
        "boardId": "EB09-A",
        "channel": "X09_IN_09",
        "inputType": "X09_IN_TYPE_CURRENT",
        "tag": "PRESSURE 41"
      },
      {
        "sensorId": "PRES_CABLEREEL_42",
        "boardId": "EB09-A",
        "channel": "X09_IN_10",
        "inputType": "X09_IN_TYPE_CURRENT",
        "tag": "PRESSURE 42"
      },
      {
        "sensorId": "PRES_CABLEREEL_43",
        "boardId": "EB09-A",
        "channel": "X09_IN_11",
        "inputType": "X09_IN_TYPE_CURRENT",
        "tag": "PRESSURE 43"
      },
      {
        "sensorId": "PRES_CABLEREEL_44",
        "boardId": "EB09-A",
        "channel": "X09_IN_12",
        "inputType": "X09_IN_TYPE_CURRENT",
        "tag": "PRESSURE 44"
      }
    ],
    "outputs": [
      {
        "outputId": "STROBE_LIGHT_OUT",
        "channelId": "X_OUT_01",
        "boardId": "MAIN",
        "outputType": "DIGITAL",
        "initialValue": 1,
        "tag": "STROBE_RLY_CTRL"
      },
      {
        "outputId": "STW_BOOT_SGN",
        "channelId": "X_OUT_05",
        "boardId": "MAIN",
        "outputType": "DIGITAL",
        "initialValue": 1,
        "tag": "STW_BOOT_SGN"
      }
    ],
    "calculatedSensorsEnabled": true,
    "alarmsEnabled": true,
    "powertrainsEnabled": false,
    "blenderEnabled": false,
    "controlOutputMapsEnabled": false,
    "qcModeEnabled": false,
    "simulationModeEnabled": false,
    "pidControls": {
      "parametersFile": "etc/pidParameters.config",
      "controls": [
        "INLINE_PROPPANT"
      ]
    },
    "pseudoSensors": [],
    "canbus": {
      "pgnLibrary": "etc/j1939.config",
      "channels": []
    },
    "tasks": [
      {
        "timeInterval": 5,
        "timeDelay": 1057,
        "stackSize": 100000,
        "taskId": "TaskRunner",
        "type": "taskrunner",
        "priority": 50,
        "loggerId": "main-logger",
        "workUnitsInterval": 0,
        "estimatedWorkUnitsConsumed": 0.0,
        "workUnitsDelay": 0
      },
      {
        "taskId": "Sampler-1",
        "type": "CALC_SENSOR_SAMPLE",
        "priority": 11,
        "loggerId": "sample-logger",
        "workUnitsInterval": 1,
        "estimatedWorkUnitsConsumed": 0.1,
        "workUnitsDelay": 0,
        "sensors": [
          "PRESSURE_26",
          "PRESSURE_27",
          "PRESSURE_28",
          "PRESSURE_29",
          "PRESSURE_30",
          "PRESSURE_31",
          "PRESSURE_32",
          "PRESSURE_33",
          "PRESSURE_34",
          "PRESSURE_35",
          "PRESSURE_36",
          "PRESSURE_37",
          "PRESSURE_38",
          "PRESSURE_39",
          "PRESSURE_40",
          "PRESSURE_41",
          "PRESSURE_42",
          "PRESSURE_43",
          "PRESSURE_44",
          "PRESSURE_45",
          "PRESSURE_46",
          "PRESSURE_47"
        ]
      },
      {
        "port": 9000,
        "taskId": "ControlService",
        "type": "commandservice",
        "priority": 6,
        "loggerId": "Control-logger",
        "cappedRuntime": 50,
        "workUnitsInterval": 20,
        "estimatedWorkUnitsConsumed": 5.0,
        "workUnitsDelay": 3
      },
      {
        "taskId": "ControlExecutor",
        "type": "commandexecution",
        "priority": 7,
        "loggerId": "ControlExe-logger",
        "cappedRuntime": 30,
        "workUnitsInterval": 20,
        "estimatedWorkUnitsConsumed": 2.0,
        "workUnitsDelay": 8
      },
      {
        "taskId": "Blender-1",
        "type": "blendercontrol",
        "priority": 14,
        "loggerId": "blender-logger",
        "cappedRuntime": 30,
        "workUnitsInterval": 20,
        "estimatedWorkUnitsConsumed": 4.0,
        "workUnitsDelay": 15
      },
      {
        "queuePath": "queues/messages",
        "outputPowertrainData": false,
        "outputPseudoData": true,
        "outputBlenderData": false,
        "taskId": "DA-1",
        "type": "DA",
        "priority": 2,
        "loggerId": "DA-1-logger",
        "workUnitsInterval": 40,
        "estimatedWorkUnitsConsumed": 1.5,
        "workUnitsDelay": 10,
        "outputAugerData": false,
        "outputChempumpData": true,
        "sensors": [
          {
            "sensorId": "E_KILL",
            "action": "SAMPLE_VALUE"
          },
          {
            "sensorId": "FLEET_INST_NEUTRAL",
            "action": "SAMPLE_VALUE"
          },
          {
            "sensorId": "FLOW_CNTRINPT_04",
            "action": "SAMPLE_COUNTER"
          },
          {
            "sensorId": "FLOW_CNTRINPT_05",
            "action": "SAMPLE_COUNTER"
          },
          {
            "sensorId": "FLOW_CNTRINPT_06",
            "action": "SAMPLE_COUNTER"
          },
          {
            "sensorId": "PRES_CABLEREEL_46",
            "action": "SAMPLE_VALUE"
          },
          {
            "sensorId": "PRES_CABLEREEL_47",
            "action": "SAMPLE_VALUE"
          },
          {
            "sensorId": "PRES_CABLEREEL_45",
            "action": "SAMPLE_VALUE"
          },
          {
            "sensorId": "PRES_CABLEREEL_26",
            "action": "SAMPLE_VALUE"
          },
          {
            "sensorId": "PRES_CABLEREEL_27",
            "action": "SAMPLE_VALUE"
          },
          {
            "sensorId": "PRES_CABLEREEL_28",
            "action": "SAMPLE_VALUE"
          },
          {
            "sensorId": "PRES_CABLEREEL_29",
            "action": "SAMPLE_VALUE"
          },
          {
            "sensorId": "PRES_CABLEREEL_30",
            "action": "SAMPLE_VALUE"
          },
          {
            "sensorId": "PRES_CABLEREEL_31",
            "action": "SAMPLE_VALUE"
          },
          {
            "sensorId": "PRES_CABLEREEL_32",
            "action": "SAMPLE_VALUE"
          },
          {
            "sensorId": "PRES_CABLEREEL_33",
            "action": "SAMPLE_VALUE"
          },
          {
            "sensorId": "PRES_CABLEREEL_34",
            "action": "SAMPLE_VALUE"
          },
          {
            "sensorId": "PRES_CABLEREEL_35",
            "action": "SAMPLE_VALUE"
          },
          {
            "sensorId": "PRES_CABLEREEL_36",
            "action": "SAMPLE_VALUE"
          },
          {
            "sensorId": "PRES_CABLEREEL_37",
            "action": "SAMPLE_VALUE"
          },
          {
            "sensorId": "PRES_CABLEREEL_38",
            "action": "SAMPLE_VALUE"
          },
          {
            "sensorId": "PRES_CABLEREEL_39",
            "action": "SAMPLE_VALUE"
          },
          {
            "sensorId": "PRES_CABLEREEL_40",
            "action": "SAMPLE_VALUE"
          },
          {
            "sensorId": "PRES_CABLEREEL_41",
            "action": "SAMPLE_VALUE"
          },
          {
            "sensorId": "PRES_CABLEREEL_42",
            "action": "SAMPLE_VALUE"
          },
          {
            "sensorId": "PRES_CABLEREEL_43",
            "action": "SAMPLE_VALUE"
          },
          {
            "sensorId": "PRES_CABLEREEL_44",
            "action": "SAMPLE_VALUE"
          }
        ]
      }
    ]
  }
}