{
  "hardware": {
    "stwtype": "ESX3XM",
    "boards": [
      {
        "type": "EB09",
        "slot": "SLOT_A"
      },
      {
        "type": "EB04",
        "slot": "SLOT_B"
      }
    ]
  },
  "defaults": [
    {
      "sensor": "FLOW_CNTRINPT_04",
      "value": 0
    },
    {
      "sensor": "FLOW_CNTRINPT_05",
      "value": 0
    },
    {
      "sensor": "FLOW_CNTRINPT_06",
      "value": 0
    },
    {
      "sensor": "PRES_CABLEREEL_46",
      "value": 9350
    },
    {
      "sensor": "PRES_CABLEREEL_47",
      "value": 10000
    },
    {
      "sensor": "PRES_CABLEREEL_45",
      "value": 5600
    },
    {
      "sensor": "PRES_CABLEREEL_26",
      "value": 5600
    },
    {
      "sensor": "PRES_CABLEREEL_27",
      "value": 5600
    },
    {
      "sensor": "PRES_CABLEREEL_28",
      "value": 5600
    },
    {
      "sensor": "PRES_CABLEREEL_29",
      "value": 5600
    },
    {
      "sensor": "PRES_CABLEREEL_30",
      "value": 5600
    },
    {
      "sensor": "PRES_CABLEREEL_31",
      "value": 5600
    },
    {
      "sensor": "PRES_CABLEREEL_32",
      "value": 5600
    },
    {
      "sensor": "PRES_CABLEREEL_33",
      "value": 5600
    },
    {
      "sensor": "PRES_CABLEREEL_34",
      "value": 5600
    },
    {
      "sensor": "PRES_CABLEREEL_35",
      "value": 5600
    },
    {
      "sensor": "PRES_CABLEREEL_36",
      "value": 5600
    },
    {
      "sensor": "PRES_CABLEREEL_37",
      "value": 5600
    },
    {
      "sensor": "PRES_CABLEREEL_38",
      "value": 5600
    },
    {
      "sensor": "PRES_CABLEREEL_39",
      "value": 5600
    },
    {
      "sensor": "PRES_CABLEREEL_40",
      "value": 5600
    },
    {
      "sensor": "PRES_CABLEREEL_41",
      "value": 5600
    },
    {
      "sensor": "PRES_CABLEREEL_42",
      "value": 5600
    },
    {
      "sensor": "PRES_CABLEREEL_43",
      "value": 5600
    },
    {
      "sensor": "PRES_CABLEREEL_44",
      "value": 5600
    }
  ],
  "components": [
    {
      "sensors": [
        {
          "sensor": "FLOW_CNTRINPT_04",
          "variance": 2,
          "min": 0,
          "max": 1
        },
        {
          "sensor": "FLOW_CNTRINPT_05",
          "variance": 2,
          "min": 0,
          "max": 1
        },
        {
          "sensor": "FLOW_CNTRINPT_06",
          "variance": 2,
          "min": 0,
          "max": 1
        },
        {
          "sensor": "PRES_CABLEREEL_26",
          "variance": 300
        },
        {
          "sensor": "PRES_CABLEREEL_27",
          "variance": 300
        },
        {
          "sensor": "PRES_CABLEREEL_28",
          "variance": 300
        },
        {
          "sensor": "PRES_CABLEREEL_29",
          "variance": 300
        },
        {
          "sensor": "PRES_CABLEREEL_30",
          "variance": 300
        },
        {
          "sensor": "PRES_CABLEREEL_31",
          "variance": 300
        },
        {
          "sensor": "PRES_CABLEREEL_32",
          "variance": 300
        },
        {
          "sensor": "PRES_CABLEREEL_33",
          "variance": 300
        },
        {
          "sensor": "PRES_CABLEREEL_34",
          "variance": 300
        },
        {
          "sensor": "PRES_CABLEREEL_35",
          "variance": 300
        },
        {
          "sensor": "PRES_CABLEREEL_36",
          "variance": 300
        },
        {
          "sensor": "PRES_CABLEREEL_37",
          "variance": 300
        },
        {
          "sensor": "PRES_CABLEREEL_38",
          "variance": 300
        },
        {
          "sensor": "PRES_CABLEREEL_39",
          "variance": 300
        },
        {
          "sensor": "PRES_CABLEREEL_40",
          "variance": 300
        },
        {
          "sensor": "PRES_CABLEREEL_41",
          "variance": 300
        },
        {
          "sensor": "PRES_CABLEREEL_42",
          "variance": 300
        },
        {
          "sensor": "PRES_CABLEREEL_43",
          "variance": 300
        },
        {
          "sensor": "PRES_CABLEREEL_44",
          "variance": 300
        },
        {
          "sensor": "PRES_CABLEREEL_45",
          "variance": 300
        },
        {
          "sensor": "PRES_CABLEREEL_46",
          "variance": 300
        },
        {
          "sensor": "PRES_CABLEREEL_47",
          "variance": 300
        }
      ],
      "name": "wobbler",
      "type": "wobbler"
    }
  ],
  "hwId": "DVS_LT_SECONDARY",
  "dataExchange": {
    "sqlconfig": {
      "username": "root",
      "password": "mobile",
      "db": "mdt_stw_simulation",
      "host": "127.0.0.1"
    }
  }
}