{
  "RegistrationName": "218316",
  "RegistrationDescription": "DVS1093",
  "RegistrationGuid": "2345c7bc-1dd3-11b2-aabc-001d48334e84",
  "EngineModel": "",
  "TransModel": "",
  "DataVanHMIIp": "10.10.12.217",
  "MpcHMIIp": "10.10.11.207",
  "Mpc2HMIIp": "10.10.16.207",
  "PrimaryDVSIp": "10.10.139.176"
}