{
  "RegistrationName": "750125adds",
  "RegistrationDescription": "",
  "RegistrationGuid": "da2c2a5e-0886-4ec5-ae2c-c9a2eb85bee6",
  "EngineModel": "",
  "TransModel": "",
  "DataVanHMIIp": "172.18.1.3",
  "LocalHMIIp": "172.18.1.4",
  "RegistrationName_U09": "750125eng",
  "RegistrationGuid_U09": "64fd6616-8ede-45ab-a7d4-ccc81217fd9d",
  "U09Ip": "172.18.1.207",
  "configs": {
    "FREQ_LA_PUMP_01_CONFIG": {
      "kfactor": 110000,
      "scalingFactor": 1
    }
  }
}