{
   "RegistrationName": "621765",
   "RegistrationDescription": "621765",
   "SerialNumber": "FPC8162",
   "PumpModel": "GD 3000T",
   "RegistrationGuid": "af616838-1dd2-11b2-ac13-001d48331352",
   "EngineModel": "Cummins QSK50 Tier2",
   "TransModel": "Twin Disc TA90-7600 (TDEC500/501)",
   "DataVanHMIIp": "10.10.11.207",
   "LocalHMIIp": "10.10.178.227",
   "RpcIp": "192.168.0.92",
   "HardwareRev": "8.0",
   "powertrains": {
      "PWM_FAN_CONTROL": {
         "enabled": true,
         "invertedRange": false,
         "constantOn": true,
         "failOn": true,
         "highTemperature": 165.0,
         "lowTemperature": 120.0
      },
      "VOLTAGE_FAN_CONTROL": {
         "enabled": false,
         "invertedRange": false,
         "constantOn": false,
         "failOn": false,
         "highTemperature": 180.0,
         "lowTemperature": 120.0
      },
      "PUMP1": {
         "cylinders": 3,
         "bore": 5.0,
         "stroke": 11.0,
         "gearRatio": 7.8420000076293945,
         "efficiency": 0.93999999761581421
      },
      "PUMPLUBE1": {
         "rotationsPerLubeCycleOff": 60,
         "cycleDuration": 15000,
         "proximityCountsPerCycle": 0
      }
   },
   "configs": {
      "FLOW_PWRENDLUBE_01_CONFIG": {
         "sensMin": 6.0,
         "scalingFactor": 1.0,
         "sensMax": 160.0,
         "sigMin": 4000.0,
         "sigMinOffset": -1200.0,
         "sigMax": 20000.0,
         "sigMaxOffset": -1200.0
      },
      "PRES_DISCHARGE_01_CONFIG": {
         "sensMin": 0.0,
         "scalingFactor": 1.0,
         "sensMax": 15000.0,
         "sigMin": 4000.0,
         "sigMinOffset": 264.0,
         "sigMax": 20000.0,
         "sigMaxOffset": 264.0
      },
      "PRES_SUCTION_01_CONFIG": {
         "sensMin": 0.0,
         "scalingFactor": 1.0,
         "sensMax": 300.0,
         "sigMin": 4000.0,
         "sigMinOffset": -51.0,
         "sigMax": 20000.0,
         "sigMaxOffset": -51.0
      }
   },
   "constraints": {
      "highCircuitLowFlowCriticalAtRpm": {
         "enabled": true,
         "equalReading": null,
         "minReading": 40.0,
         "maxDuration": 3000,
         "hmiOnly": false,
         "resetDuration": 100,
         "maxReading": null,
         "equalEpsilon": null,
         "equalInverted": null,
         "minRaw": null,
         "maxRaw": null,
         "equalRaw": null,
         "equalInvertedRaw": null
      }
   }
}