{
   "RegistrationName": "621770",
   "RegistrationDescription": "621770",
   "SerialNumber": "FPC2138",
   "PumpModel": "FORUM/J-MAC 3000Q",
   "RegistrationGuid": "88a117e8-3934-11b2-8c86-001d48332e46",
   "EngineModel": "Cummins QSK50 Tier2",
   "TransModel": "Twin Disc TA90-7600 (TDEC400)",
   "DataVanHMIIp": "10.10.11.207",
   "LocalHMIIp": "10.10.178.156",
   "RpcIp": "FPC 4.5 and below. 192.168.0.92",
   "HardwareRev": "Rev B",
   "powertrains": {
      "PWM_FAN_CONTROL": {
         "enabled": true,
         "invertedRange": false,
         "constantOn": false,
         "failOn": true,
         "highTemperature": 180.0,
         "lowTemperature": 120.0
      },
      "VOLTAGE_FAN_CONTROL": {
         "enabled": false,
         "invertedRange": false,
         "constantOn": true,
         "failOn": false,
         "highTemperature": 180.0,
         "lowTemperature": 130.0
      },
      "PUMP1": {
         "cylinders": 5,
         "bore": 4.0,
         "stroke": 8.0,
         "gearRatio": 6.3530001640319824,
         "efficiency": 0.93999999761581421
      },
      "PUMPLUBE1": {
         "rotationsPerLubeCycleOff": 60,
         "cycleDuration": 15000,
         "proximityCountsPerCycle": 0
      }
   },
   "configs": {
      "FLOW_PWRENDLUBE_01_CONFIG": {
         "sensMin": 6.0,
         "scalingFactor": 1.0,
         "sensMax": 160.0,
         "sigMin": 4000.0,
         "sigMinOffset": 0.0,
         "sigMax": 20000.0,
         "sigMaxOffset": 0.0
      },
      "PRES_PWRENDLUBE_01_CONFIG": {
         "sensMin": 0.0,
         "scalingFactor": 1.0,
         "sensMax": 750.0,
         "sigMin": 4000.0,
         "sigMinOffset": 0.0,
         "sigMax": 20000.0,
         "sigMaxOffset": 0.0
      },
      "PRES_DISCHARGE_01_CONFIG": {
         "sensMin": 0.0,
         "scalingFactor": 1.0,
         "sensMax": 15000.0,
         "sigMin": 4000.0,
         "sigMinOffset": 0.0,
         "sigMax": 20000.0,
         "sigMaxOffset": 0.0
      },
      "PRES_SUCTION_01_CONFIG": {
         "sensMin": 0.0,
         "scalingFactor": 1.0,
         "sensMax": 300.0,
         "sigMin": 4000.0,
         "sigMinOffset": 0.0,
         "sigMax": 20000.0,
         "sigMaxOffset": 0.0
      },
      "TEMP_PWRENDLUBE_01_CONFIG": {
         "sensMin": -40.0,
         "scalingFactor": 1.0,
         "sensMax": 400.0,
         "sigMin": 4000.0,
         "sigMinOffset": 0.0,
         "sigMax": 20000.0,
         "sigMaxOffset": 0.0
      }
   },
   "constraints": {
      "highCircuitLowFlowCriticalAtRpm": {
         "enabled": true,
         "equalReading": null,
         "minReading": 30.0,
         "maxDuration": 3000,
         "hmiOnly": false,
         "resetDuration": 100,
         "maxReading": null,
         "equalEpsilon": null,
         "equalInverted": null,
         "minRaw": null,
         "maxRaw": null,
         "equalRaw": null,
         "equalInvertedRaw": null
      }
   }
}