{
   "RegistrationName": "621958",
   "RegistrationDescription": "FPC8215",
   "SerialNumber": "FPC8215",
   "PumpModel": "Forum 2500Q / Kerr Vortex 10Q Quintiplex",
   "RegistrationGuid": "47844cf0-aa24-45e2-96e0-431b1d767fbc",
   "EngineModel": "Cummins QSK50 Tier2",
   "TransModel": "CAT TH55E70",
   "DataVanHMIIp": "10.10.11.207",
   "LocalHMIIp": "10.10.179.151",
   "RpcIp": "192.168.0.92",
   "HardwareRev": "7.0",
   "configs": {
      "PRES_DISCHARGE_01_CONFIG": {
         "sensMin": 0.0,
         "scalingFactor": 1.0,
         "sensMax": 15000.0,
         "sigMin": 4000.0,
         "sigMinOffset": 208.0,
         "sigMax": 20000.0,
         "sigMaxOffset": 208.0
      },
      "FLOW_PWRENDLUBE_01_CONFIG": {
         "sensMin": 6.0,
         "scalingFactor": 1.0,
         "sensMax": 160.0,
         "sigMin": 4000.0,
         "sigMinOffset": 0.0,
         "sigMax": 20000.0,
         "sigMaxOffset": 0.0
      },
      "PRES_SUCTION_01_CONFIG": {
         "sensMin": 0.0,
         "scalingFactor": 1.0,
         "sensMax": 300.0,
         "sigMin": 4000.0,
         "sigMinOffset": 0.0,
         "sigMax": 20000.0,
         "sigMaxOffset": 0.0
      },
      "PRES_PWRENDLUBE_01_CONFIG": {
         "sensMin": 0.0,
         "scalingFactor": 1.0,
         "sensMax": 750.0,
         "sigMin": 4000.0,
         "sigMinOffset": 0.0,
         "sigMax": 20000.0,
         "sigMaxOffset": 0.0
      },
      "TEMP_PWRENDLUBE_01_CONFIG": {
         "sensMin": -40.0,
         "scalingFactor": 1.0,
         "sensMax": 400.0,
         "sigMin": 4000.0,
         "sigMinOffset": 0.0,
         "sigMax": 20000.0,
         "sigMaxOffset": 0.0
      }
   },
   "powertrains": {
      "PUMPLUBE1": {
         "rotationsPerLubeCycleOff": 60,
         "cycleDuration": 15000,
         "proximityCountsPerCycle": 0
      },
      "PWM_FAN_CONTROL": {
         "enabled": false,
         "invertedRange": false,
         "constantOn": true,
         "failOn": false,
         "highTemperature": 180.0,
         "lowTemperature": 130.0
      },
      "VOLTAGE_FAN_CONTROL": {
         "enabled": true,
         "invertedRange": false,
         "constantOn": true,
         "failOn": false,
         "highTemperature": 201.0,
         "lowTemperature": 130.0
      },
      "PUMP1": {
         "cylinders": 5,
         "bore": 4.5,
         "stroke": 8.0,
         "gearRatio": 6.3530001640319824,
         "efficiency": 0.93999999761581421
      }
   },
   "MPCSecondaryIp": "10.10.16.207",
   "constraints": {
      "lubePressWarning": {
         "enabled": true,
         "equalReading": null,
         "minReading": 20.0,
         "maxDuration": 30000,
         "hmiOnly": false,
         "resetDuration": 2000,
         "maxReading": null,
         "equalEpsilon": null,
         "equalInverted": null,
         "minRaw": null,
         "maxRaw": null,
         "equalRaw": null,
         "equalInvertedRaw": null
      }
   }
}