{
  "RegistrationName": "621768",
  "RegistrationDescription": "621768",
  "SerialNumber": "FPC8176",
  "PumpModel": "GD 3000T",
  "RegistrationGuid": "c03a5804-1dd2-11b2-b7d5-001d48331298",
  "EngineModel": "Cummins QSK50 Tier2",
  "TransModel": "Twin Disc TA90-7600 (TDEC500/501)",
  "DataVanHMIIp": "10.10.11.207",
  "LocalHMIIp": "10.10.178.241",
  "RpcIp": "192.168.0.92",
  "HardwareRev": "8.0",
  "powertrains": {
    "PWM_FAN_CONTROL": {
      "enabled": true,
      "invertedRange": false,
      "constantOn": false,
      "failOn": true,
      "highTemperature": 180.0,
      "lowTemperature": 130.0
    },
    "VOLTAGE_FAN_CONTROL": {
      "enabled": false,
      "invertedRange": true,
      "constantOn": true,
      "failOn": false,
      "highTemperature": 160.0,
      "lowTemperature": 130.0
    },
    "PUMP1": {
      "cylinders": 3,
      "bore": 5.0,
      "stroke": 11.0,
      "gearRatio": 7.8420000076293936,
      "efficiency": 0.93999999761581421
    },
    "PUMPLUBE1": {
      "rotationsPerLubeCycleOff": 60,
      "cycleDuration": 15000,
      "proximityCountsPerCycle": 0
    }
  },
  "configs": {
    "FLOW_PWRENDLUBE_01_CONFIG": {
      "sensMin": 6.0,
      "scalingFactor": 1.0,
      "sensMax": 160.0,
      "sigMin": 4000.0,
      "sigMinOffset": 0.0,
      "sigMax": 20000.0,
      "sigMaxOffset": 0.0
    },
    "PRES_PWRENDLUBE_01_CONFIG": {
      "sensMin": 0.0,
      "scalingFactor": 1.0,
      "sensMax": 750.0,
      "sigMin": 4000.0,
      "sigMinOffset": 0.0,
      "sigMax": 20000.0,
      "sigMaxOffset": 0.0
    },
    "PRES_DISCHARGE_01_CONFIG": {
      "sensMin": 0.0,
      "scalingFactor": 1.0,
      "sensMax": 15000.0,
      "sigMin": 4000.0,
      "sigMinOffset": 47.0,
      "sigMax": 20000.0,
      "sigMaxOffset": 47.0
    },
    "PRES_SUCTION_01_CONFIG": {
      "sensMin": 0.0,
      "scalingFactor": 1.0,
      "sensMax": 300.0,
      "sigMin": 4000.0,
      "sigMinOffset": 0.0,
      "sigMax": 20000.0,
      "sigMaxOffset": 0.0
    }
  },
  "constraints": {
    "DriveShaftCoverRemovedInstantBrake": {
      "enabled": false,
      "equalReading": null,
      "minReading": null,
      "maxDuration": 5000,
      "hmiOnly": false,
      "resetDuration": 100,
      "maxReading": 1,
      "equalInverted": null
    },
    "highCircuitLowFlowCriticalAtRpm": {
      "enabled": true,
      "equalReading": null,
      "minReading": 30.0,
      "maxDuration": 3000,
      "hmiOnly": false,
      "resetDuration": 100,
      "maxReading": null,
      "equalEpsilon": null,
      "equalInverted": null,
      "minRaw": null,
      "maxRaw": null,
      "equalRaw": null,
      "equalInvertedRaw": null
    },
    "highCircuitLowFlowWarningAtRpm": {
      "enabled": true,
      "equalReading": null,
      "minReading": 26.0,
      "maxDuration": 3000,
      "hmiOnly": false,
      "resetDuration": 100,
      "maxReading": null,
      "equalEpsilon": null,
      "equalInverted": null,
      "minRaw": null,
      "maxRaw": null,
      "equalRaw": null,
      "equalInvertedRaw": null
    }
  },
  "TurbineModbusEndpoint": "10.0.50.151:1502",
  "GeneratorModbusEndpoint": "10.0.50.70",
  "MPCSecondaryIp": "10.10.16.207"
}